In [2]:
print("Hello EveryOne!")

Hello EveryOne!

Welcome To the Python Course!

# Python Programming
#### Let's Learn Together , Grow Together!!
1. Learn Faster!
2. Grow Faster
- It is a programming Language.
    - It's a high level language.
        - Easy To understand. (Human Readable)
- Handles Large Dataset.
- Python is a case-sensitive language
- It's an interpreter language
- Rich in Libraries
- Amazing Support from the community
- Its an platform independent. -> .py

# Java
int x = 10
System.out.println(x)

In [15]:
# Python
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [16]:
x = "Coding Ninja"
print(x)
print(type(x))

Coding Ninja
<class 'str'>

In [17]:
x = 'k'
print(x)
print(type(x))

k
<class 'str'>

In [18]:
x = int('10') + 1
print(x)
print(type(x))

11
<class 'int'>

In [19]:
x = 10.5
print(x)
print(type(x))

10.5
<class 'float'>

In [20]:
x = 9 + 6j
print(x)
print(type(x))

(9+6j)
<class 'complex'>

In [22]:
# parameters "\n" by default
print("Python")
print("Programming")

Python
Programming

In [24]:
print("Python" , end = " ")
print("Programming")
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [25]:
# seperator -> concat_ws
print("Mon","Tues","Weds","Thurs","Fri")

Mon Tues Weds Thurs Fri

In [26]:
print("Mon","Tues","Weds","Thurs","Fri" , sep = " - ")

Mon - Tues - Weds - Thurs - Fri

#### Input() 
- Used to accept user input from the keyboard as a string, which can be further type cast as per the requirement.

In [2]:
user_input = input("Enter the user_name: ")
print(user_input)

Enter the user_name:  Venom

Venom

In [3]:
user_input = input("Enter the gaming_name: ")
print(user_input)

Enter the gaming_name:  DaddyDamage

DaddyDamage

In [5]:
val = input("Enter the value: ")
print(val)
print(type(val))

Enter the value:  10

10
<class 'str'>

In [6]:
val = int(input("Enter the value: "))
print(val)
print(type(val))

Enter the value:  11

11
<class 'int'>

In [7]:
print(val * 5)

55

In [10]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10
print(x)

Enter the value between 1-100 :  75

85

In [25]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10 # '75' + 10 - TypeError: can only concatenate str (not "int") to str
print(x)

Enter the value between 1-100 :  66

76

In [29]:
x = str(x)
print(x)
print(type(x))

76
<class 'str'>

In [30]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print("Hey " + user_name + " Welcome to the Python Course, You being registered with " + email + " :)")

Enter the username:  utkarshdev
Enter your personal mail:  utkarssh@gmail.com

Hey utkarshdev Welcome to the Python Course, You being registered with utkarssh@gmail.com :)

In [31]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print(f"Hey {user_name} Welcome to the Python Course, You being registered with {email} :)")

Enter the username:  iaarifpathan
Enter your personal mail:  iaarifpathan@gmail.com

Hey iaarifpathan Welcome to the Python Course, You being registered with iaarifpathan@gmail.com :)

- Single Line Comments - #
- Multi Line Comments - '''

In [32]:
# This is a single line comment
print("Python Programming")

Python Programming

In [36]:
'''
    This is a multiline comments....
    Put some important stuff here relevant to 
    your python program
'''
num1 = int(input("Enter the first value: "))
num2 = int(input("Enter the second value: "))
result = num1 * num2
print("The final result is " , result)
print(f"The final result is {result + 10}")

Enter the first value:  10
Enter the second value:  5

The final result is  50
The final result is 60

In [37]:
fav_car = input("Enter your Dream Car: ")
print("My Dream Car is : " + fav_car)

Enter your Dream Car:  Defender

My Dream Car is : Defender

In [38]:
# Indentation:
z = 15
if z > 10: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

z is greater than 10
Outside the if statement

In [39]:
# Indentation:
z = 15
if z > 20: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

Outside the if statement

# Variables : What & Why?
#### Variables acts as an container for storing data, They help with:
- Storing Data
- Manipulating Values
- Reusability
- Improving the Readibility 
    -  total_sum >> ts
    -  compound_interest >> c_i
    -  age
    -  finding_prod_sum >> finding_the_product_and_sum >> p_s

In [40]:
# Declaring and assigning variables:
val = 99
user_name = "UltimateForce"
print(val)
print(user_name)

99
UltimateForce

In [43]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [48]:
a,b,*c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
20
<class 'int'>
[30, 40, 50]
<class 'list'>

In [56]:
a,*b,c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 40]
<class 'list'>
50
<class 'int'>

In [57]:
a,*b,c = 10,20,30,'a','b',40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 'a', 'b', 40]
<class 'list'>
50
<class 'int'>

In [58]:
p=q=r=s= "Ninjas"
print(p)
print(q)
print(r)
print(s)

Ninjas
Ninjas
Ninjas
Ninjas

## Rules for naming a "Variables"
- Can include letters, digits and underscore
- Must start with a letter or underscore
- case-sensitive
    - val != Val
    - num != nuM
    - digit != Digit
- Can't use Python Keywords
    - for, input, while, print, if, elif, tuple, list, set, dict, true, false
- Can't have spaces or special characters (except _)
- Variable name can't start with numbers.

In [3]:
my_first_variable = "Python"
print(my_first_variable)

Python

In [2]:
_var = "Coding"
print(_var)

Coding

In [6]:
# String -> Escape Character
print("Hi, I'm good, What about you?")
print('Hi, I\'m good, What about you?')

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [7]:
print("an \"apple\" a day keeps a doctor away")

an "apple" a day keeps a doctor away

In [12]:
print("Hi Everyone! Welcome to the course")

Hi Everyone! Welcome to the course

In [15]:
# Multiline String -> <pre> tag in HTML [Markup Language]
print("""
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    
    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

""")

    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise

    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

In [20]:
# Escape characters "\n"[Next line] & "\t"[tab space]
print("Hey: What's your name: \t 'Aditya Verma'")
print("Hello\nWorld")
print("x", end=" ")
print("y", end=" ")
print("z", end="\n")
print("Welcome Back!")

Hey: What's your name: 	 'Aditya Verma'
Hello
World
x y z
Welcome Back!

In [21]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [22]:
num1 = 99.99
print(int(num1))

99

In [23]:
x = 55
y = str(x)
print(y)
print(type(y))

55
<class 'str'>

In [24]:
_bool = True
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

1
<class 'bool'>
<class 'int'>

In [25]:
_bool = False
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

0
<class 'bool'>
<class 'int'>

# What are Operators?
#### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### Types of Operators in Python:
1. Arithmetic Operators

2. Comparison Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Membership Operators

7. Identity Operators

### Arithmetic Operators:
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division (floating)
- '%' Modulus (remainder)
- '**' Exponentiation
- '//' Floor Division

In [1]:
x = 11
y = 7
z = 15
print(x+y) # 18 'One 8' [Virat Kohli]
print(x-y) # 4
print(x*y) # 77 ['Shubman Gill']
print(x/y) # 1.57....
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x ** 2) # 121
print(x // 2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

In [2]:
print(x ** y)

19487171

# You can't do addition with 2 different data type
x = '10' + 11 # TypeError: can only concatenate str (not "int") to str
print(x)

### Comparison Operators (Return Boolean Result):
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or  Equal to
- '<' Less Than
- '<=' Less Than or Equal to

In [5]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x)  # False
print(x != 2) # True
print(x >= 2) # True

False
True
True
False
True
True
False
False
True
True

#### Logical Operators:
- and : 'Return True' if both the conditions are True
- or : 'Return False' if both the conditions are False
- not : Return the opposite.

In [6]:
x = 11
y = 7
z = 15
print((x==y)and(z!=y)or(y>x)) # False
print((x!=y)or(z!=y)or(y>x)) # True
print((x>=y)and(z==y)and(z>x)) # False
print(not(z!=15)) # True
print(not((x<=y)and(z>=y)or(y!=x))) # False

False
True
False
True
False

In [7]:
print(not(x<=y)and(z>=y)or(y!=x)) # True

True

In [8]:
print(not(x<=y)or(z<=y)and(y!=x)) # (T or F and T) # (T or F) # T

True

### Bitwise Operators:
- 'AND' = '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' = '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR' = '^' -> 'Alternative Bits return 1 else same bits returns 0'
- 'NOT' = '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' = '<<' -> 'Shift bits to the left'
- 'Right Shift' = '>>' -> 'Shift bits to the right'

In [9]:
x = 10
y = 6
print(x & y) # 2

2

In [10]:
x = 10
y = 6
print(x | y) # 14

14

In [12]:
x = 10
y = 6
print(x ^ y) # 12

12

In [13]:
x = 10 
print(~x)

-11

In [14]:
x = 7 
print(~x)

-8

In [16]:
x = -17 
print(~x)

16

In [17]:
x = 10
print(x<<2)

40

In [18]:
x = 10
print(x>>2)

2

#### Assignment Operators : 
- '=' -> (x = 5)
- '+=' -> x+=5 -> x = x + 5
- '-=' -> x-=5 -> x = x - 5
- '*=' -> x *=5 -> x = x * 5
- '/=' -> x/=5 -> x = x / 5
- '%=' -> x%=5 -> x = x % 5
- '//=' -> x//=5 -> x = x // 5
- '**=' -> x **=5 -> x = x ** 5

In [4]:
x = 10
y = 11
z = 7
x += y
print(x) # x = x+y => 10+11 => x = 21
x -= z
print(x) # x = x-z => 21-7 => x = 14
x /= 2
print(x) # x = 14/2 = 7.0

21
14
7.0

In [5]:
x *= x
print(x)

49.0

In [6]:
x %= y # x = 49 % 11 = 5
print(x)

5.0

In [7]:
x //= z
print(x) # x = 5.0 // 7 => 0

0.0

In [8]:
y **= x # y = 11 ** 0 => 1
print(y)

1.0

In [9]:
z += y # 7 + 1.0 => 8.0
print(z) # 8.0

8.0

#### Membership Operators:
- Its Returns Boolean Value
- 'in' -> True if the value is in the sequences
- 'not  in' -> True if the value is not in the sequence

In [10]:
print('hello' in 'hello world')
print('hello' not in 'hellz world')

True
True

In [11]:
print('I' in 'India')
print('I' not in 'America')

True
True

In [12]:
print('mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun'])
print('mon' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun'])

False
True

In [14]:
print('mon' in {'mon' : 'Mon', 'tue':'Tues'})
print('Mon' in {'mon' : 'Mon', 'tue':'Tues'})

True
False

In [15]:
x = int(True)
print(x)

1

In [16]:
y = int(False)
print(y)

0

#### Identity Operators
- 'is' -> Returns True if both the variables refers to the same object (having same memory address)
- 'is not' -> Returns True if both the variables refers to the different objects (different memory address)

In [17]:
# '==' comparison operator (data equality)
# 'is' compares the identities (object equality)
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b) # True (same content)
print(a is b) # True (same object in memory)

print(a == c) # True (same content)
print(a is c) # False (different objects in memory)

True
True
True
False

In [18]:
print(a is not c)

True

In [19]:
# '==' comparison operator (data equality)
# 'is' compares the identities (object equality)
a = [1,2,3]
b = a
c = ['a',2,3]
print(a == b) # True (same content)
print(b is a) # True (same object in memory)

print(a == c) # False (same content)
print(a is c) # False (different objects in memory)

True
True
False
False

In [20]:
print(id(a))
print(id(b))
print(id(c))

2375515348800
2375515348800
2375515347072

## Order of Operations (PEMDAS / BODMAS):
1. () Parentheses
2. ** Exponent
3. '*' '/' '//' '%' Mulitplication, Division
4. '+' '-' Addition, Subtraction
5. Bitwise Operations
6. Comparisons
7. Identity / Membership
8. not > and > or (Logical Operators)

In [23]:
cond1 = (10*3)+((10<<3)*(10%3)) # 30 + (80 * 1) = 110
cond2 = (5**2)*((3//2)-(10%7)) # (25) * (1 - 3) => 25 * -2 = -50
_bool = cond1 > cond2 # 110 > -50.0 # True
print(cond1)
print(cond2)
print(_bool)

110
-50
True

In [24]:
print(cond1 is cond2) # False
print(cond1 is not cond2) # True
print(id(cond1)) # Memory Address
print(id(cond2)) # Memory Address

False
True
140710664419160
2375497281584

In [25]:
print(((5 + 3 * 2) * 2 // 5 % 4 << 1 | 3) & 15 > 10 and not (8 >> 2 == 2) or (7 ^ 3 != 4))

False

In [28]:
# Built in Functions
result = divmod(19,5)
print(result) # tuple(q,r) -> 'q' means quotient & 'r' means remainder

(3, 4)

In [32]:
print(round(19.4562,2))

19.46

In [34]:
# Strings :
# Indexing & Slicings
# In Python Indexing starts from zero '0'
# slicings [start : stop : step]

In [35]:
# Indexing [position] -> positive 'l to r' / negative 'r to l'
_str = "Coding Ninja"
print(_str[0]) # 'C'
print(_str[5]) # 'g'
print(_str[6]) # ' '
print(_str[-1]) # 'a'
print(_str[-5]) # 'N'

C
g

a
N

In [36]:
print(_str[9]) # 'n'
print(_str[-11]) # '0'

n
o

print(_str[15]) # IndexError: string index out of range

In [42]:
# Slicing [start [0] : stop [last char] , step [1]]
_str = "Coding Ninja"
print(_str[:6]) # 'Coding'
print(_str[7:]) # 'Ninja'
print(_str[0:12:2]) # 'Cdn ij'
print(_str[0:12:3]) # 'Ci n'
print(_str[:]) # 'Coding Ninja'

Coding
Ninja
Cdn ij
Ci n
Coding Ninja

In [46]:
print(_str[11]) # 'a'
print(_str[0:15:2]) # 'Cdn ij'
print(_str[0:20]) # 'Coding Ninja'

a
Cdn ij
Coding Ninja

In [47]:
print(_str[-5:]) # 'Ninja'
print(_str[::-1]) #reverse the string

Ninja
ajniN gnidoC

In [48]:
print(_str[-3:0]) # ''

In [49]:
print(_str[0:0]) # ''

In [50]:
print(_str[-3:0:-1]) # 'niN gnido'

niN gnido

In [2]:
# String Case Methods
_str = 'Python is Awesome ðŸ”¥'
print(len(_str))

19

In [3]:
print(_str.upper())

PYTHON IS AWESOME ðŸ”¥

In [4]:
print(_str.lower())

python is awesome ðŸ”¥

In [8]:
print(_str.title()) # Convert the first letter of each word to uppercase and the rest to lowercase

Python Is Awesome ðŸ”¥

In [9]:
print(_str.capitalize()) # Convert the first letter of whole sentence to uppercase and rest to lower

Python is awesome ðŸ”¥

In [11]:
# String Operations
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2 # Concatenation
print(new_string)

Coding Ninjas

In [12]:
name = 'Aditya'
age = 29
print(f'Hi, {name}, You are {age} year old.')

Hi, Aditya, You are 29 year old.

In [15]:
# TypeError: can only concatenate str (not "int") to str
name = 'Aditya'
age = 29
print('Hi' + name + ', You are ' + str(age) + ' year old.')

HiAditya, You are 29 year old.

In [16]:
print(type(age))

<class 'int'>

In [19]:
# Repeat (*)
_echo = 'Ninjas\n'
print(_echo * 3)

Ninjas
Ninjas
Ninjas

In [20]:
# String Comparison
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [22]:
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [23]:
_str1 = 'coding'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [24]:
_str1 = 'coding'
_str2 = 'Zodiac'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [25]:
_str1 = 'cODING'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [26]:
_str1 = 'swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

's' > 'S' [small character having greater ASCII Values > 'S' having low ASCII Value]
length also plays an important role if the previous characters going to tie.

In [27]:
# Common String Methods
# replace
_str = 'Python is Awesome!'
new_str = _str.replace('Awesome', 'Fantastic')
print(new_str)

Python is Fantastic!

In [28]:
print(_str)

Python is Awesome!

In [29]:
_str = 'Python is Awesome!'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme!

In [30]:
# split()
_text = 'Indore@MadhyaPradesh@India'
print(_text.split('@'))

['Indore', 'MadhyaPradesh', 'India']

In [32]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [41]:
topic_list[1]

'Python'

In [44]:
split_str = "ViratKohli MSD RohitSharma Sachin"
print(split_str.split())

['ViratKohli', 'MSD', 'RohitSharma', 'Sachin']

In [45]:
file_path = "http://localhost:8889/notebooks/anaconda_projects/CN-Python-TTS/PythonSession.ipynb?"
path_list = file_path.split('/')
print(path_list)

['http:', '', 'localhost:8889', 'notebooks', 'anaconda_projects', 'CN-Python-TTS', 'PythonSession.ipynb?']

In [49]:
# String Format -> .format() / f-string
name = 'Jasaswini'
age = 27
gender = 'Female'
print('Hi, {}.... You are {} years old. Congratulation! You are {}!'.format(name,age,gender))

Hi, Jasaswini.... You are 27 years old. Congratulation! You are Female!

In [50]:
# String Format -> .format() / f-string
name = 'Jasaswini'
age = 27
gender = 'Female'
print(f'Hi, {name}.... You are {age} years old. Congratulation! You are {gender}!')

Hi, Jasaswini.... You are 27 years old. Congratulation! You are Female!

In [51]:
# Strip() -> same like trim 
print('    Python Programming      '.strip())

Python Programming

In [52]:
# Strip() -> same like trim 
print('******Python Programming*******'.strip('*'))

Python Programming

In [53]:
# Strip() -> same like trim 
print('******Python Programming'.strip('*'))

Python Programming

In [54]:
# Strip() -> same like trim 
print('Python Programming********'.strip('*'))

Python Programming

In [55]:
# Strip() -> same like trim 
print('$$$$$$$Python Programming********'.strip('*').strip('$'))

Python Programming

In [59]:
# Strip() -> same like trim 
print('$$$$$$$Python Programming********'.strip('*$'))

Python Programming

In [56]:
# index() -> position 
_str = "This is a Python Course!"
print(_str.index('is'))

2

In [62]:
# index() -> position 
_str = "This is a Python Course!"
# print(_str.index('python')) # ValueError: substring not found
print(_str.index('Python'))

10

In [63]:
# index() -> position 
_str = "This is a Python Course!"
print(_str.index('is',3,10)) # index(substr,start,stop)
print(_str.index('is',3)) # index(substr,start,stop)

5
5

index(substr, start = 0, stop = 'len(text)')

In [64]:
# String Checks() -> Returns Boolean Result
print("CodingNinjas".isalpha()) # True
print("Ninja99".isalpha()) # False
print("Ninja99".isalnum()) # True
print("CodingNinja".isupper()) # False
print("CODING".isupper()) # True
print("coding".islower()) # True
print("123456789".isnumeric()) # True
print("coding123".isnumeric()) # False
print("coding123".isnumeric()) # False
print('Mentorship Program!77'.swapcase()) # lower -> upper & upper -> lower

True
False
True
False
True
True
True
False
False
mENTORSHIP pROGRAM!77

In [65]:
# startswith (Boolean Return)
_str = 'Hey, Welcome to the World of Programming!'
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome',5)) # True

False
True
False
False
True
True

In [68]:
# endswith (Boolean Return)
_str = 'Hey, Welcome to the World of Programming!'
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!',-4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!',-3)) # False

False
False
True
True
True
True
True
False

In [69]:
# .count() -> 'substring' -> count the substring
_str = "This is a Python Course!"
print(_str.count('is'))

2

In [70]:
print('is' in _str)

True

# What is a Data Structure?
#### A data structure is simply a way to organize and store data in memory, so that we can use it efficiently.

## Why do we need to use them?
1. Organizations : Keep the data neat and easy to find.
2. Efficiency - Helps to perform operations (insert, delete, search) quickly.
3. Memory Management - Savas space, avoid waste.
4. Flexibility - Can store all sorts of data (number, text, etc.)
5. Abstraction - Hides the complex details, we just call simple operations
6. Scalability - Good Data Structure lets our program handle more data without slowing down.

# Lists in Python:
#### A List is :
1. An ordered collection (items have a fixed position).
2. mutable (can be changed after creation).
3. Allows Duplicates.
4. Lists are also flexible -> they can store different data types together like integers, string, booleans, etc.

## Why use lists?
- To keep a group of related items togethers in a specific order.
- To easily add, remove, change, or access the elements.
- To perform the task like sorting, or summing values.

In [2]:
_list = []
print(_list)
print(type(_list))

[]
<class 'list'>

In [3]:
_list = [1,2,3,4,5] # integer _list
print(_list)

[1, 2, 3, 4, 5]

In [4]:
_list = [1,2.9,False,'coding','k'] # mixed _list
print(_list)

[1, 2.9, False, 'coding', 'k']

In [8]:
# Duplicate elements are allowed in List
country_list = ['India','America','Russia','China','Canada','Japan','Vietnam',
                'Sri-Lanka','Japan','France','India','Singapore','Australia',
                'China','New Zealand','Finland']
print(country_list)
print(type(country_list))

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
<class 'list'>

In [10]:
# list() constructor
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka',
                     'Japan','France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list)
print(type(country_list))

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
<class 'list'>

In [15]:
_list = list("Coding")
print(_list)
print(type(_list))

['C', 'o', 'd', 'i', 'n', 'g']
<class 'list'>

In [16]:
_list = list(("Coding",))
print(_list)
print(type(_list))

['Coding']
<class 'list'>

In [19]:
_list = list(["Coding"])
print(_list)
print(type(_list))

['Coding']
<class 'list'>

In [17]:
val = ('Python')
print(type(val))

<class 'str'>

In [18]:
val = ('Python',)
print(type(val))

<class 'tuple'>

In [22]:
# Nested List -> A List inside a List
nested_list = [
    111,
    'Coding',
    [11,22,33,44,55],
    'Python',
    ['a','b','c','d','e'],
    True
]
print(nested_list)
print(nested_list[0]) # 111
print(nested_list[2]) # [11,22,33,44,55]
print(nested_list[2][1]) # 22
print(nested_list[4][-1]) # 'e'

[111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]
111
[11, 22, 33, 44, 55]
22
e

In [24]:
# Indexing & Slicing 
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list[0]) # 'India'
print(country_list[5]) # 'Japan'
print(country_list[-4]) # 'Australia'
print(country_list[15]) # 'Finland'
print(country_list[-1]) # 'Finland'
print(country_list[-7]) # 'France'
# print(country_list[-17]) # IndexError: list index out of range
# print(country_list[17]) # 'Index Error'

India
Japan
Australia
Finland
Finland
France

# Slicing if applied on a string means taking the substring of a string 
# Slicing on List means cutting down the list to sublist.
# Slicing [start:0, stop: length of a list [exclude], step = 1]

In [25]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list[::]) # [Full List]
print(country_list[2:5]) # ['Russia','China','Canada']
print(country_list[9:]) # ['France','India','Singapore','Australia','China','New Zealand','Finland']
print(country_list[-5:]) #  ['Singapore','Australia','China','New Zealand','Finland']
print(country_list[-9:2]) #  []
print(country_list[-9:2:-1]) #  ['Sri-Lanka','Vietnam','Japan','Canada','China']
print(country_list[-4:-2]) #  ['Australia','China']

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
['Russia', 'China', 'Canada']
['France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
['Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
[]
['Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China']
['Australia', 'China']

In [28]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list[-9:2:-2]) # ['Sri-Lanka','Japan','China']
print(country_list[-9:2:-3]) # ['Sri-Lanka','Canada']
print(country_list[-9:2:-4]) # ['Sri-Lanka','China']
print(country_list[-9:-2]) # ['Sri-Lanka','Japan','France','India','Singapore','Australia','China','New Zealand']

['Sri-Lanka', 'Japan', 'China']
['Sri-Lanka', 'Canada']
['Sri-Lanka', 'China']
['Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China']

In [29]:
print(country_list[-9:12]) #  ['Sri-Lanka','Japan','France','India','Singapore']

['Sri-Lanka', 'Japan', 'France', 'India', 'Singapore']

In [32]:
print(country_list[-9:2:-1])
print(country_list[-9:-5:2])

['Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China']
['Sri-Lanka', 'France']

In [33]:
# Basic List Operations: 
# len() -> returning the length of a list or number of elements present in a list
print(len(country_list))

16

In [40]:
# min(),max(),sum()
_num_list = [11,22,33,44,55,66,77,88,99,110]
print(len(_num_list)) # 10
print(min(_num_list)) # 11
print(max(_num_list)) # 110
print(sum(_num_list)) # sum of all elements

10
11
110
605

In [41]:
_num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # False -> 0 , True = 1
print(len(_num_list)) # 12
print(min(_num_list)) # 0 [False]
print(max(_num_list)) # 110 
print(sum(_num_list)) # sum of all elements + 1 [True] [605 + 1] = 606

12
False
110
606

In [36]:
print(int(False))

0

In [37]:
print(int(True))

1

In [39]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(min(country_list)) # 'America'
print(max(country_list)) # 'Vietnam'
# print(sum(country_list)) # TypeError: unsupported operand type(s) for +: 'int' and 'str'

America
Vietnam

In [42]:
# ASCII plays an important role in finding the min and max respect to characters
country_list = list(('india','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(min(country_list)) # 'America'
print(max(country_list)) # 'india'

America
india

In [46]:
# List are mutables [means we can change the list content]
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
country_list[-3] = 'Spain' # 'china' -> 'Spain'
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland']

In [47]:
country_list[8:11] = ['France'] # ['Japan','France','India'] -> ['France']
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland']

('France') # String
('France',) # tuple
['France'] # list

In [50]:
# Repeating a content of a list -> '*'
char_list = ['a','b','c','d',False]
print(char_list * 3)
print(len(char_list * 3))

['a', 'b', 'c', 'd', False, 'a', 'b', 'c', 'd', False, 'a', 'b', 'c', 'd', False]
15

#### Adding items in a List:
1. .append() -> Add one item at the end
2. .extend() -> Adds all items from another lists
3. .insert() -> Insert an item at specific index

In [56]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.append('Nepal')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal']

In [57]:
new_country_list = ['South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']
country_list.extend(new_country_list)
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']

In [58]:
country_list.insert(3,'Qatar') # insert(pos,val)
print(country_list)

['India', 'America', 'Russia', 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']

In [59]:
country_list.insert(3,['Bangladesh','Turkey']) # insert(pos,val)
print(country_list)

['India', 'America', 'Russia', ['Bangladesh', 'Turkey'], 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']

In [61]:
# Adding a list using '+' operator [Concatenation]
weekday_list = ['Mon','Tue','Wed','Thurs','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
print(week_list)
print(type(week_list))

['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
<class 'list'>

In [66]:
# Indexing in nested_list
nested_list = [
        [1,2,3,4,5],
        [2,4,6,8,10],
        [1,3,5,7,9]
    ]
print(nested_list[0][1]) #2
print(nested_list[-1][-1]) # 9
print(nested_list[2][-3]) # 5
print(nested_list[-1][-5]) # 1
print(nested_list[2][-5]) # 1

2
9
5
1
1

In [75]:
nested_list = [
        [1,2,3,4,5],
        [2,4,6,8,10],
        [1,3,5,7,9]
    ]
print(nested_list[0:2]) # 1st 2 list

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10]]

In [76]:
print(nested_list[::-1]) # rows reversed

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [1, 2, 3, 4, 5]]

In [81]:
print(nested_list[::-1][0:2]) # 1st 2 rows of above cell [reversed rows]

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [82]:
print(nested_list[-1][1:4])

[3, 5, 7]

In [2]:
# Comparison List 
_list1 = [1,2,3,4,5]
_list2 = [1,2,3]
result = (_list1 == _list2)
print(result) # False

False

In [4]:
_list1 = [1,2,3,4,5]
_list2 = [1,2,3,4,5]
result = (_list1 == _list2)
print(result) # True

True

In [5]:
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 != _list2)
print(result) # True

True

In [6]:
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 >= _list2)
print(result) # True

True

In [7]:
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 <= _list2)
print(result) # False

False

In [8]:
_list1 = [1,2,3,4,5]
_list2 = ['1','2','3','4','5']
result = (_list1 != _list2)
print(result) # True

True

_list1 = [1,2,3,4,5]
_list2 = ['1','2','3','4','5']
result = (_list1 <= _list2)
print(result) # TypeError: '<=' not supported between instances of 'int' and 'str'

In [11]:
_list1 = ['a','b','c']
_list2 = ['1','2','3','4','5']
result = (_list1 >= _list2) 
print(result) # True

True

## Removing items from list:
1. remove -> Remove the first occurrence of a element
2. pop -> Removes by index, returns value can be stored in a new variable
3. del -> delete by index or slicing
4. clear -> Empties the list

In [12]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.remove('Spain')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand', 'Finland']

In [13]:
country_list.remove('Finland')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

country_list.remove('UAE') # country_list.remove('Finland')
print(country_list)

In [14]:
country_list.append('Spain')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand', 'Spain']

In [15]:
# While applying pop(idx), we can store the popped element in new_variable, which we can use it if required
pop_country = country_list.pop(-1) # 'Spain'
print(pop_country) # 'Spain'
print(country_list)

Spain
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

In [16]:
# del required a call of a list with specific index or slicing to delete an element or a list of elements
del country_list[3] # 'China'
print(country_list)

['India', 'America', 'Russia', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

In [17]:
del country_list[3:6] # ['Canada','Japan','Vietnam']
print(country_list)

['India', 'America', 'Russia', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

In [19]:
# .clear() -> It will empty the original Lists
country_list.clear()
print(country_list)

[]

country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland']
del country_list -> Removes the complete list
print(country_list) # NameError: name 'country_list' is not defined

In [23]:
# Sorting [Ascending] & Reverse() [::-1]
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort()

In [24]:
print(country_list)

['America', 'Canada', 'China', 'Finland', 'India', 'Japan', 'New Zealand', 'Russia', 'Spain', 'Sri-Lanka', 'Vietnam', 'australia', 'france', 'singapore']

In [39]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort()
print(country_list[::-1])

['singapore', 'france', 'australia', 'Vietnam', 'Sri-Lanka', 'Spain', 'Russia', 'New Zealand', 'Japan', 'India', 'Finland', 'China', 'Canada', 'America']

In [40]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort(reverse = True)
print(country_list)

['singapore', 'france', 'australia', 'Vietnam', 'Sri-Lanka', 'Spain', 'Russia', 'New Zealand', 'Japan', 'India', 'Finland', 'China', 'Canada', 'America']

In [31]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort(key = str.lower)
print(country_list)

['America', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [35]:
# If 'America' and 'america' then which one will come first?using str.lower
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'america']
country_list.sort(key = str.lower)
print(country_list)

['America', 'america', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [27]:
# If 'America' and 'america' then which one will come first?using str.lower
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'america']
country_list.sort(key = str.upper)
print(country_list)

['America', 'america', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [37]:
# .reverse() -> the original List
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.reverse()
print(country_list)

['Finland', 'New Zealand', 'Spain', 'australia', 'singapore', 'france', 'Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China', 'Russia', 'America', 'India']

In [41]:
# 'Joining' strings from a list
word_list = ['Python', 'is', 'an' , 'awesome', 'programming', 'language']
final_statement = ' '.join(word_list)
print(final_statement)

Python is an awesome programming language

In [42]:
char_list = ['P','y','t','h','o','n',' ','P','r','o','g','r','a','m','m','i','n','g!']
result = ''.join(char_list)
print(result)

Python Programming!

In [43]:
# Count() -> Calculating the occurrence of element in a list
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
count_india = country_list.count('India')
print(count_india)

2

In [45]:
num_list = [1,2,1,2,1,2,1,2,1,2,1,2,21,2,121,121,1,2,2,2,12,22,22]
print(num_list.count(2))
print(num_list.count(1))

10
7

In [46]:
# Deep Copy [Same Memory] Vs Shallow Copy[Independent Memory]
# .copy [Shallow Copy]
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
new_country_list = country_list.copy()
print(id(country_list))
print(id(new_country_list))

2063808540032
2063808535040

In [47]:
del new_country_list[-3:]
print("Country List : " , country_list)
print("New Country List : " , new_country_list)

Country List :  ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America']
New Country List :  ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland']

In [48]:
# deep copy 
weekday_list = ['Mon','Tue','Wed','Thurs','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
new_week_list = week_list # deep copy
print(id(week_list))
print(id(new_week_list))

2063808535808
2063808535808

In [49]:
# Before
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']

In [50]:
# After
del new_week_list[-3:] # removing 'Fri','Sat','Sun'
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thurs']
['Mon', 'Tue', 'Wed', 'Thurs']

In [51]:
# Using slicing [:] (Shallow Copy)
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
new_country_list = country_list[:]
print(id(country_list))
print(id(new_country_list))

2063808426816
2063808425984

In [52]:
# Using list() constructor (Shallow Copy)
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
new_country_list = list(country_list)
print(id(country_list))
print(id(new_country_list))

2063808542400
2063808438912

In [57]:
# Index() -> Its a method to find the position of a first occurrence of a specified value in a list.
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
print(country_list.index('India'))
print(country_list.index('Japan'))
print(country_list.index('America'))
print(country_list.index('India',1)) # Provide the 2nd occurrence
print(country_list.index('Japan',7))
print(country_list.index('America',3))
# print(country_list.index('North Korea')) # ValueError: 'North Korea' is not in list

0
5
1
14
15
16

In [59]:
# List Comprehensions
squared = [i**2 for i in range(1,6)] # for i in range(1,6) -> [1,2,3,4,5]
print(squared)

[1, 4, 9, 16, 25]

# What exactly is a Tuple?
- Ordered Collection (items maintains its positions)
- It can store different data types togethers
- But the only Big Difference here is : Immutability (Once Created, their elements can't be changed , added to, or removed.)

In [60]:
_tuple = ()
print(type(_tuple))

<class 'tuple'>

In [61]:
_tuple = (1,2,'3','4',False,True,29.99,'k')
print(_tuple)

(1, 2, '3', '4', False, True, 29.99, 'k')

In [62]:
_tuple = 1,2,3,4,5
print(_tuple)
print(type(_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [63]:
# tuple() constructor
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_tuple = tuple(country_list)
print(country_tuple)
print(type(country_tuple))

('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America')
<class 'tuple'>

In [64]:
char_tuple = tuple('Python')
print(char_tuple)

('P', 'y', 't', 'h', 'o', 'n')

In [65]:
_tuple = tuple(('Python',))
print(_tuple)

('Python',)

In [72]:
nested_list = [
        [1,2,3,4,5],
        [2,4,6,8,10],
        [1,3,5,7,9]
]
nested_tuple = tuple(nested_list)
print(nested_tuple) # ([1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
# List as an element in a tuple is mutable
nested_tuple[0].append(6) 
print(nested_tuple) # ([1, 2, 3, 4, 5, 6], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

([1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
([1, 2, 3, 4, 5, 6], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [74]:
nested_tuple = (('Mon','Tue','Wed'),('Thurs','Fri','Sat','Sun'))
print(nested_tuple)
print(type(nested_tuple))
# nested_tuple[0].append('Mon') # AttributeError: 'tuple' object has no attribute 'append'

(('Mon', 'Tue', 'Wed'), ('Thurs', 'Fri', 'Sat', 'Sun'))
<class 'tuple'>

In [75]:
# Indexing & Slicing
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_tuple = tuple(country_list)
print(country_tuple[-1]) # 'America'
print(country_tuple[-5]) # 'New Zealand'
print(country_tuple[4:7]) # ('Canada','Japan','Vietnam')
print(country_tuple[4:7:2]) # ('Canada','Vietnam')
print(country_tuple[::-2]) # reverse the tuple with alterative elements

America
New Zealand
('Canada', 'Japan', 'Vietnam')
('Canada', 'Vietnam')
('America', 'India', 'New Zealand', 'australia', 'france', 'Vietnam', 'Canada', 'Russia', 'India')

In [77]:
# Finding the tuple Length
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_tuple = tuple(country_list)
print(len(country_tuple)) # 17

17

In [78]:
num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # False -> 0 , True = 1
num_tuple = tuple(num_list)
print(len(num_tuple)) # 12
print(min(num_tuple)) # 0 [False]
print(max(num_tuple)) # 110 
print(sum(num_tuple)) # sum of all elements + 1 [True] [605 + 1] = 606

12
False
110
606

In [1]:
# Immutability of a Tuple
# We Can't change or add any elements directly
# Tuples don't have : - append, extend , remove, insert
# But we can do it indirectly by modifying it into list 
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland')
conv_tuple_to_list = list(country_tuple)
print(type(conv_tuple_to_list)) # <class List>
conv_tuple_to_list.append('Germany')
print(conv_tuple_to_list)
country_tuple = tuple(conv_tuple_to_list)
print(country_tuple)
print(type(country_tuple))

<class 'list'>
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Germany']
('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Germany')
<class 'tuple'>

In [2]:
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland')
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland' , 'Germany')

In [3]:
country_tuple

('India',
 'America',
 'Russia',
 'China',
 'Canada',
 'Japan',
 'Vietnam',
 'Sri-Lanka',
 'France',
 'Singapore',
 'Australia',
 'Spain',
 'New Zealand',
 'Finland',
 'Germany')

In [5]:
# Concatenating A tuples
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple + weekend_tuple
print(week_tuple)

('Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun')

In [7]:
weekday_tuple = (['Mon', 'Tues'],)
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple + weekend_tuple
print(week_tuple)

(['Mon', 'Tues'], 'Sat', 'Sun')

In [8]:
# week_tuple[0] ~ ['Mon', 'Tues']
week_tuple[0].extend(['Wed','Thurs','Fri']) 
print(week_tuple)

(['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'], 'Sat', 'Sun')

In [9]:
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple[:3] + weekend_tuple
print(week_tuple)

('Mon', 'Tues', 'Wed', 'Sat', 'Sun')

week_tuple[2] = 'Wednesday' # TypeError: 'tuple' object does not support item assignment

In [12]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_list[-5:] = ['Germany']
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'Germany']

In [16]:
# Deleting Element in Tuple Vs Deleting a Tuple
# You can't delete individual items in a tuple with 'del'
# But you can delete the entire tuple object.
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
print(weekday_tuple)
print(type(weekday_tuple))
# del weekday_tuple[3] # 'Thurs' # TypeError: 'tuple' object doesn't support item deletion
del weekday_tuple
# print(weekday_tuple) # NameError: name 'weekday_tuple' is not defined

('Mon', 'Tues', 'Wed', 'Thurs', 'Fri')
<class 'tuple'>

In [17]:
# Unpacking a Tuple 
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [23]:
a,*b,c = (1,2,3,4,5,6,7,8,9)
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7, 8]
9

a,*b,*c = (1,2,3,4,5,6,7,8,9) # SyntaxError: multiple starred expressions in assignment
print(a)
print(b)
print(c)

In [24]:
*a,b,c = (1,2,3,4,5,6,7,8,9)
print(tuple(a))
print(b) # 8
print(c) # 9

(1, 2, 3, 4, 5, 6, 7)
8
9

a,b,c = (1,2,3,4,5,6,7,8,9) # ValueError: too many values to unpack (expected 3)
print(a)
print(b) 
print(c)

In [27]:
# Repeating tuples
_tuple = ('a','b','c','d','e')
print(_tuple * 3)

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [29]:
# Combining a Tuple 
_tuple1 = (1,2,3,4,5)
_tuple2 = (False, True, 19.99, 'Coding','a','b','c')
new_tuple = _tuple1 + _tuple2
print(new_tuple)

(1, 2, 3, 4, 5, False, True, 19.99, 'Coding', 'a', 'b', 'c')

In [30]:
# .count()
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland' , 'Germany', 'india', 'India')
country_tuple.count('India')

2

In [32]:
# .index()
country_tuple.index('Japan')

5

country_tuple.index('Norway') # ValueError: tuple.index(x): x not in tuple

# Using map() in Python
### What is map()?

#### Syntax : map(function, iterable) where function uses (lambda function internally)

##### The map() function is a very handy tool in Python that let's you:
- Apply a Function to each item in a list , tuple or any other iterable
- Return a map object

In [34]:
# Square each elements
num_list = [1,2,3,4,5,6,7]
# map(function, iterable)
squared = map(lambda x : x ** 2 , num_list)
print(squared)
print(tuple(squared)) # (1,4,9,16,25,36,49)
print(list(squared)) # []

<map object at 0x0000025074C07040>
(1, 4, 9, 16, 25, 36, 49)
[]

In [36]:
# Adding 10 in an element
num_list = [1,2,3,4,5,6,7]
# map(function, iterable)
add_10 = map(lambda x : x + 10 , num_list)
print(add_10)
print(list(add_10)) # [11,12,13,14,15,16,17]
print(tuple(add_10)) # ()

<map object at 0x0000025074B321A0>
[11, 12, 13, 14, 15, 16, 17]
()

In [37]:
# Taking input from the user -> 
numbers = list(map(int, input("Enter the multiple numbers : ").split()))
print(numbers)

Enter the multiple numbers :  10 20 30 40 50 60 70

[10, 20, 30, 40, 50, 60, 70]

In [38]:
# Taking input from the user -> 
string = list(map(str, input("Enter the multiple string : ").split()))
print(string)

Enter the multiple string :  coding ninja python programming

['coding', 'ninja', 'python', 'programming']

# What are Sets?
#### A Set in Python is:
- Unordered : No guaranteed order of elements
- Changeable (mutable): You can add or remove elements
- Unindexed : No way to access items by position
- Unique Items only : Automatically removes Duplicates

##### They can hold different data types together, like numbers, strings or boolean

In [42]:
_dict = {} # dictionary
# You can't assign {} to a set as by default empty curly braces represent dictionary {}
_set = set()
print(type(_dict))
print(type(_set))

<class 'dict'>
<class 'set'>

In [43]:
_set = {1}
print(type(_set))

<class 'set'>

In [50]:
_set = {1,2,3,'a','b','c',False,True,9.99,"coding"}
print(_set)
print(type(_set))

{False, 1, 2, 3, 9.99, 'a', 'coding', 'b', 'c'}
<class 'set'>

In [52]:
_set = {1,2,3,'a','b','c',False,True,9.99,"coding","Python","programming"}
print(_set)

{False, 1, 2, 3, 9.99, 'programming', 'a', 'coding', 'b', 'c', 'Python'}

In [53]:
_duplicate_set = {1,2,1,2,1,1,1,2,2,2,1,2}
print(_duplicate_set) # only store unique elements

{1, 2}

In [54]:
_duplicate_set = {0,1,0,0,1,2,1,2,1,1,1,2,2,2,1,2,False,True}
print(_duplicate_set) # only store unique elements

{0, 1, 2}

In [55]:
_duplicate_set = {False,True,0,1,0,0,1,2,1,2,1,1,1,2,2,2,1,2,False,True}
print(_duplicate_set) # only store unique elements

{False, True, 2}

In [57]:
# set() constructor to do the typecasting
_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
        'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
        'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
        'Spain', 'New Zealand', 'Finland' , 'Germany', 'india', 'India']
_tuple = (False, True, 19.99, 'Coding','a','b','c',0,1,2,3,4,5)
print(set(_list))
print(set(_tuple))

{'India', 'Singapore', 'Australia', 'Germany', 'France', 'Canada', 'Finland', 'Sri-Lanka', 'Japan', 'Spain', 'Vietnam', 'China', 'Russia', 'New Zealand', 'india', 'America'}
{False, True, 2, 3, 4, 5, 'a', 'b', 19.99, 'Coding', 'c'}

In [67]:
# Immutable elements are allowed in sets
nested_set = {
    'coding',
    99,
    ('a','b','c','d'),
    ('coding',),
    ('coding'), # skip
    (True,False)
}
nested_set

{('a', 'b', 'c', 'd'), ('coding',), (True, False), 99, 'coding'}

# Key Takeways for Sets:
1. Unordered : You can't access elements by index.
2. Unique : Removes Duplicates Automatically.
3. Mutable Container : Can add or remove items.
4. Immutable items: Elements must be hashable & immutable (like numbers, strings , tuples)

In [1]:
# Understanding Common Methods and operation associated with Sets
# Accessing an item [âŒ No Indexing]
# membership operators # [Boolean Return]
car_set = {'Taigun','Creta','Thar','Kylaq','Camry','Virtus','Nexon','Rolls Royce','Verna'}
print('Slavia' in car_set) # False
print('Thar' in car_set) # True
print('Kylaq' not in car_set) # False
print('ScorpioN' not in car_set) # True

False
True
False
True

In [3]:
# Length of a set -> len() to count the number of elements.
car_set = {'Taigun','Creta','Thar','Kylaq','Camry','Virtus','Nexon','Rolls Royce','Verna'}
print(len(car_set))

9

In [5]:
# min() , max() and the sum() 
quick_set = {0,1,2,3,4,5,11,22,33,44,55,False,True} # False[0] , True[1] {Duplicate}
print(min(quick_set)) # 0
print(max(quick_set)) # 55
print(sum(quick_set)) # sum

0
55
180

In [7]:
# min() , max() and the sum() 
quick_set = {False,True,2,3,4,5,11,22,33,44,55,0,1} # False[0] , True[1] {Duplicate}
print(quick_set)
print(min(quick_set)) # False
print(max(quick_set)) # 55
print(sum(quick_set)) # sum

{False, True, 2, 3, 4, 5, 33, 11, 44, 22, 55}
False
55
180

In [10]:
# Adding Items to a set()
# .add() -> Adds a single elements
quick_set = {False,True,2,3,4,5,11,22,33,44,55,0,1}
quick_set.add(77)
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 11, 44, 77, 22, 55}

In [11]:
quick_set.add(99)
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 99, 11, 44, 77, 22, 55}

In [13]:
# .update(<iterables>) -> Adds a multiple elements -> iterables as argument
quick_set.update(['a','b','c'])
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 99, 11, 44, 77, 22, 55, 'b', 'c', 'a'}

In [14]:
quick_set.update('Coding')
print(quick_set)

{False, True, 2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

In [15]:
quick_set.update(('Coding',))
print(quick_set)

{False, True, 2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

In [16]:
# Removing items from a set()
# remove() -> throws an errors if item doesn't exist
# discard() -> No error if item doesn't exist
quick_set.remove(False)
print(quick_set)

{True, 2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

In [17]:
quick_set.remove(True)
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

quick_set.remove('True') # doesn't exist , it throws error
print(quick_set)

In [24]:
quick_set.discard(('a','b','c')) # doesn't exist still won't throw an error
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [25]:
quick_set.discard('a')
quick_set.discard('b')
quick_set.discard('c')
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [26]:
quick_set.add(('x','y','z'))
print(quick_set)

{2, 3, 4, 5, 'C', ('x', 'y', 'z'), 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [27]:
quick_set.discard(('x','y','z')) # remove the element as it exist
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [28]:
# pop() -> Removes and returns an arbitary elements. Since sets are unordered, 
# you don't which item will be removed
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

2
{3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [29]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

3
{4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [30]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

4
{5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [31]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

5
{'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [32]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

C
{11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [33]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

11
{'d', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [34]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

d
{22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [35]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

22
{'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [36]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

n
{33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [37]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

33
{'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [38]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

Coding
{44, 'o', 55, 77, 99, 'i', 'g'}

In [42]:
day_set = {'Mon','Wed','Thurs','Sat','Tues','Fri','Sun'}
pop_item = day_set.pop()
print(pop_item)

Wed

In [47]:
print(day_set)

{'Tues', 'Thurs', 'Sun', 'Mon', 'Sat', 'Fri'}

In [48]:
pop_item = day_set.pop()
print(pop_item)
print(day_set)

Tues
{'Thurs', 'Sun', 'Mon', 'Sat', 'Fri'}

In [49]:
day_set.add('Jan')
print(day_set)

{'Jan', 'Thurs', 'Sun', 'Mon', 'Sat', 'Fri'}

In [50]:
day_set.add('Feb')
print(day_set)

{'Thurs', 'Sun', 'Feb', 'Jan', 'Mon', 'Sat', 'Fri'}

In [51]:
# clear
day_set.clear()
print(day_set) # {}

set()

# del -> We can delete the entire set object
del day_set
print(day_set) # NameError: name 'day_set' is not defined

In [54]:
# Union (| or .union())
setA = {1,2,3,4,5,5,6,6,8,8,8,8} # {1,2,3,4,5,6,8}
setB = {3,5,7,7,7,7,7,9,9} # {3,5,7,9}
union_set = setA | setB # (AUB)
print(union_set) # {1...9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
result = setA.union(setB)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
# Advance union concepts
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA | setB | setC)
print(setA.union(setB).union(setC))

{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}
{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}

In [58]:
# Intersection (& or intersection())
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA & setB) # {a,b,c}
print(setA.intersection(setB).intersection(setC)) # {'a','c'}
print(setA & setB & setC) # {'a','c'}

{'b', 'c', 'a'}
{'c', 'a'}
{'c', 'a'}

In [59]:
# difference (- or .difference()) # Elements in A but not in B
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA - setB) # {'d','e'}
print(setA.difference(setB)) # {'d','e'}

{'d', 'e'}
{'d', 'e'}

In [60]:
print(setB - setA) # {'p','q','r','s'}
print(setB.difference(setA)) # {'p','q','r','s'}

{'p', 's', 'r', 'q'}
{'p', 's', 'r', 'q'}

In [62]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setB - setA - setC) # {'p','q'}
print(setB.difference(setA).difference(setC))

{'p', 'q'}
{'p', 'q'}

In [63]:
# Symmetric Difference (^ or .symmetric_difference())
# Elements in either SetA or SetB , but not in both
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA ^ setB) # {'d','e','p','q','r','s'}
print(setA.symmetric_difference(setB)) # {'d','e','p','q','r','s'}

{'q', 'p', 'e', 'd', 'r', 's'}
{'q', 'p', 'e', 'd', 'r', 's'}

In [65]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA ^ setB ^ setC) # {'d','e','p','q','r','s'} ^ {'x','y','r','s','a','c','z'}
# {'d','e','p','q','x','y','a','c','z'}
print(setA.symmetric_difference(setB).symmetric_difference(setC)) # {'d','e','p','q','x','y','a','c','z'}

{'q', 'd', 'x', 'y', 'e', 'z', 'p', 'c', 'a'}
{'q', 'd', 'x', 'y', 'e', 'z', 'p', 'c', 'a'}

In [76]:
# difference_update()
# shortcut : a -= b|c
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setB | setC => {'a','b','c','p','q','r','s','x','y','z'}
# setA - = (setB | setC) => {'d','e'}
# setA.difference_update(setB,setC)
setA = setA - (setB | setC)
print(setA)

{'d', 'e'}

In [77]:
setA.difference_update(setB,setC)
print(setA)

{'d', 'e'}

difference_update() â†’ changes original set, returns None.

In [82]:
# intersection_update()
# shortcut : a &= b -> a = a&b
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.intersection_update(setB)
print(setA)

{'b', 'c', 'a'}

In [83]:
setA = setA & setB
print(setA)

{'b', 'c', 'a'}

In [85]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setA.intersection_update(setB,setC) {'c', 'a'}
setA = setA & (setB & setC)
# {'a','b','c','d','e'} & ({'a','c'})
print(setA)

{'c', 'a'}

In [86]:
# isdisjoint 
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setD = {'k','m'}
print(setA.isdisjoint(setB)) # False
print(setA.isdisjoint(setD)) # True

False
True

In [88]:
# issubset() & issuperset()
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6,7,8,9}
print(set1.issubset(set2)) # True as set1 is subset of set2
print(set2.issuperset(set1)) # True as set2 is superset of set1

True
True

In [96]:
# symmetric_difference_update()
# shortcut a ^= b
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.symmetric_difference_update(setB)
print(setA)

{'d', 'r', 'q', 's', 'p', 'e'}

In [97]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA ^ setB
print(setA)

{'q', 'p', 'e', 'd', 'r', 's'}

In [98]:
# (setB,setC) -> {'p','q','r','s','a','b','c'} ^ {'x','y','r','s','a','c','z'}
# -> {'p','q','b','x','y','z'}
# setA ^ {'p','q','b','x','y','z'} -> {'a','c','d','e','p','q','x','y','z'}
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA ^ (setB ^ setC)
print(setA)

{'d', 'x', 'y', 'p', 'e', 'z', 'q', 'c', 'a'}

In [101]:
# update() |
# shortcut a |= b|c
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.update(setB,setC)
print(setA)

{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}

In [102]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA | setB | setC
print(setA)

{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}

In [1]:
# Copying the set [Shallow Copy]
day_set = {'Mon','Wed','Thurs','Sat','Tues','Fri','Sun'}
copy_day_set = day_set.copy()
print(id(day_set))
print(id(copy_day_set))
copy_day_set.add('Jan')
print(copy_day_set)
print(day_set)

2373566918080
2373566917856
{'Sun', 'Fri', 'Thurs', 'Sat', 'Jan', 'Tues', 'Wed', 'Mon'}
{'Sun', 'Fri', 'Thurs', 'Sat', 'Tues', 'Wed', 'Mon'}

In [2]:
# Copying the set (using set() constructor)
another_day_set = set(copy_day_set)
print(id(copy_day_set)) # 2373566917856
print(id(another_day_set)) # another location in memory
another_day_set.discard('Jan')
print(copy_day_set) # {'Sun', 'Fri', 'Thurs', 'Sat', 'Jan', 'Tues', 'Wed', 'Mon'}
print(another_day_set) # above set without 'Jan'

2373566917856
2373593430304
{'Sun', 'Fri', 'Thurs', 'Sat', 'Jan', 'Tues', 'Wed', 'Mon'}
{'Fri', 'Sat', 'Wed', 'Mon', 'Thurs', 'Sun', 'Tues'}

# What is Dictionary in Python?
#### A dictionary is :
1. Ordered : Items have guaranteed sequence.
3. Mutable : You can change, add or remove items
4. Collection of Key-Value Pair : Each Key is Unique and maps to a values

#### This makes Dictionaries perfect for representing data as attributes (like a record for a person, settings, or products)

In [3]:
_dict = {} # dictionary type
print(type(_dict))

<class 'dict'>

In [7]:
# Dictionary # When defining duplicate keys, only the last occurrence is kept. 
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python'],
    'course' : 'Data Science'
}
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Science',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python']}

In [8]:
# Using Tuples as dictionary Key
_dict = {
    ('stud1','stud2') : 98,
    ('stud3','stud4') : 92,
    ('stud5','stud6') : 77,
    ('stud7','stud8') : 99    
}
_dict

{('stud1', 'stud2'): 98,
 ('stud3', 'stud4'): 92,
 ('stud5', 'stud6'): 77,
 ('stud7', 'stud8'): 99}

In [9]:
# dict() constructor
_dict = dict(name = "Utkarsh",age = 29, gender = "Male", Country = "India")
_dict

{'name': 'Utkarsh', 'age': 29, 'gender': 'Male', 'Country': 'India'}

In [11]:
# With a List of List or tuples
list_of_lists = [
    ['name','Ali'],
    ['age',27],
    ['gender','Male'],
    ['city','Ghaziabad'],
    ['state','UP'],
    ['country','India']
]
_dict = dict(list_of_lists)
_dict

{'name': 'Ali',
 'age': 27,
 'gender': 'Male',
 'city': 'Ghaziabad',
 'state': 'UP',
 'country': 'India'}

In [12]:
list_of_tuples = [
    ('name','Ali'),
    ('age',27),
    ('gender','Male'),
    ('city','Ghaziabad'),
    ('state','UP'),
    ('country','India')
]
_dict = dict(list_of_tuples)
_dict

{'name': 'Ali',
 'age': 27,
 'gender': 'Male',
 'city': 'Ghaziabad',
 'state': 'UP',
 'country': 'India'}

In [16]:
_list = [[11,'rupees']]
_dict = dict(_list)
_dict

{11: 'rupees'}

In [18]:
tuples_of_tuples = (
    ('name','Ali'),
    ('age',27),
    ('gender','Male'),
    ('city','Ghaziabad'),
    ('state','UP'),
    ('country','India')
)
_dict = dict(tuples_of_tuples)
_dict

{'name': 'Ali',
 'age': 27,
 'gender': 'Male',
 'city': 'Ghaziabad',
 'state': 'UP',
 'country': 'India'}

In [20]:
student_details = {
    'name' : 'Prabhakar Shah',
    'another_name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : {'Excel','Power BI','Sql','Python'},
    'course' : 'Data Science'
}
student_details

{'name': 'Prabhakar Shah',
 'another_name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Science',
 'skills': {'Excel', 'Power BI', 'Python', 'Sql'}}

In [23]:
# Nested Dictionaries : 
student_record = {
    "Student1" : {
        'name' : 'Prabhakar Shah',
        'age' : 28,
        'gender' : 'Male',
        'city' : 'Indore',
        'State' : 'Madhya Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : {'Excel','Power BI','Sql','Python'}
    },
    "Student2" : {
        'name' : 'shalu Kumari',
        'age' : 27,
        'gender' : 'Female',
        'city' : 'Newtown',
        'State' : 'Kolkata',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : {'Excel','Power BI','Sql','Python'}
    }
}
student_record

{'Student1': {'name': 'Prabhakar Shah',
  'age': 28,
  'gender': 'Male',
  'city': 'Indore',
  'State': 'Madhya Pradesh',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': {'Excel', 'Power BI', 'Python', 'Sql'}},
 'Student2': {'name': 'shalu Kumari',
  'age': 27,
  'gender': 'Female',
  'city': 'Newtown',
  'State': 'Kolkata',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': {'Excel', 'Power BI', 'Python', 'Sql'}}}

Common Methods and operations Associated with Dictionaries

In [24]:
# Length() -> Use len() to find how many key-value pairs are in dictionary
print(len(student_details))

9

In [27]:
print(len(student_record))

2

In [30]:
print(len(student_record['Student1']))

8

In [31]:
# Accessing Elements
# Use Square Bracket TableName['key']
student_details = {
    'name' : 'Prabhakar Shah',
    'another_name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : {'Excel','Power BI','Sql','Python'},
    'course' : 'Data Science'
}
student_details['skills']

{'Excel', 'Power BI', 'Python', 'Sql'}

In [32]:
student_details['course']

'Data Science'

In [36]:
student_record = {
    "Student1" : {
        'name' : 'Prabhakar Shah',
        'age' : 28,
        'gender' : 'Male',
        'city' : 'Indore',
        'State' : 'Madhya Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : {'Excel','Power BI','Sql','Python'}
    },
    "Student2" : {
        'name' : 'Shalu Kumari',
        'age' : 27,
        'gender' : 'Female',
        'city' : 'Newtown',
        'State' : 'Kolkata',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','Power BI','Sql','Python']
    }
}
student_record['Student2']['name']

'Shalu Kumari'

In [37]:
student_record['Student2']['skills']

['Excel', 'Power BI', 'Sql', 'Python']

In [38]:
student_record['Student2']['skills'][-1]

'Python'

In [39]:
student_record['Student2']['skills'][0:2] # ['Excel','PowerBI']

['Excel', 'Power BI']

In [40]:
_dict = {
    ('stud1','stud2') : 98,
    ('stud3','stud4') : 92,
    ('stud5','stud6') : 77,
    ('stud7','stud8') : 99    
}
_dict[('stud5','stud6')]

77

In [41]:
# .get(key,default) -> It will safely retrieve the value; returns None or a default if key not found.
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
student_details.get('course','Data Science')

'Data Analytics'

In [42]:
student_details.get('email','xyz@gmail.com')

'xyz@gmail.com'

In [44]:
student_details.get('skills')

['Excel', 'Power BI', 'Sql', 'Python']

In [46]:
student_details.get('country_code') # Won't throw an error

In [47]:
student_record = {
    "Student1" : {
        'name' : 'Prabhakar Shah',
        'age' : 28,
        'gender' : 'Male',
        'city' : 'Indore',
        'State' : 'Madhya Pradesh',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : {'Excel','Power BI','Sql','Python'}
    },
    "Student2" : {
        'name' : 'Shalu Kumari',
        'age' : 27,
        'gender' : 'Female',
        'city' : 'Newtown',
        'State' : 'Kolkata',
        'country' : 'India',
        'course' : 'Data Analytics',
        'skills' : ['Excel','Power BI','Sql','Python']
    }
}
student_record.get("Student2", {}).get('name','Unknown')

'Shalu Kumari'

In [48]:
student_record.get("Student7", {}).get('name','Unknown')

'Unknown'

In [60]:
student_record

{'Student1': {'name': 'Prabhakar Shah',
  'age': 28,
  'gender': 'Male',
  'city': 'Indore',
  'State': 'Madhya Pradesh',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': {'Excel', 'Power BI', 'Python', 'Sql'}},
 'Student2': {'name': 'Shalu Kumari',
  'age': 27,
  'gender': 'Female',
  'city': 'Newtown',
  'State': 'Kolkata',
  'country': 'India',
  'course': 'Data Analytics',
  'skills': ['Excel', 'Power BI', 'Sql', 'Python']}}

In [49]:
# .keys() -> Returns all the keys from student_details
# .values() -> Returns all the values from student_details
# .items() -> Returns all the (key,value) from student_details
student_details.keys()

dict_keys(['name', 'age', 'gender', 'city', 'State', 'country', 'course', 'skills'])

In [50]:
student_details.values()

dict_values(['Prabhakar Shah', 28, 'Male', 'Indore', 'Madhya Pradesh', 'India', 'Data Analytics', ['Excel', 'Power BI', 'Sql', 'Python']])

In [51]:
student_details.items()

dict_items([('name', 'Prabhakar Shah'), ('age', 28), ('gender', 'Male'), ('city', 'Indore'), ('State', 'Madhya Pradesh'), ('country', 'India'), ('course', 'Data Analytics'), ('skills', ['Excel', 'Power BI', 'Sql', 'Python'])])

In [54]:
# setdefault() -> Retrieves the value if the key exist , else insert key with default
# if no default provided , inserts None
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
student_details.setdefault('course')

'Data Analytics'

In [55]:
student_details.setdefault('course','Data Science')

'Data Analytics'

In [56]:
student_details.setdefault('email','xyz@gmail.com')

'xyz@gmail.com'

In [57]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python'],
 'email': 'xyz@gmail.com'}

In [58]:
student_details.setdefault('phone_number') # None [Values]

In [59]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python'],
 'email': 'xyz@gmail.com',
 'phone_number': None}

In [61]:
# .min() , max() , sum()
_dict = {
    ('stud1','stud2') : 98,
    ('stud3','stud4') : 92,
    ('stud5','stud6') : 77,
    ('stud7','stud8') : 99    
}
min(_dict.values()) # 77 [98,92,77,99]

77

In [62]:
max(_dict.values()) # 99 [98,92,77,99]

99

In [64]:
sum(_dict.values()) # 366  [98,92,77,99]

366

In [65]:
min(_dict.keys())

('stud1', 'stud2')

In [66]:
max(_dict.keys())

('stud7', 'stud8')

In [71]:
_dict = {
    77 : ['stud1','stud2'],
    92 : ['stud3','stud4'],
    99 : ['stud5','stud6'],
    98 : ['stud7','stud8']   
}
min(_dict.keys())

77

In [72]:
max(_dict.keys())

99

In [73]:
sum(_dict.keys())

366

In [76]:
# Changing or Adding a Dictionary Items
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
student_details['city'] = 'Lucknow'

In [77]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Lucknow',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python']}

In [78]:
student_details['email'] = 'prabhakar.shah123@gmail.com'
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Lucknow',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python'],
 'email': 'prabhakar.shah123@gmail.com'}

In [81]:
# update()
stud_info = {'name' : 'Bhupinder Jogi', 'age' : 33, 'State' : 'UP', 'RollNo.' : '123'}
student_details.update(stud_info)
student_details

{'name': 'Bhupinder Jogi',
 'age': 33,
 'gender': 'Male',
 'city': 'Lucknow',
 'State': 'UP',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python'],
 'email': 'prabhakar.shah123@gmail.com',
 'RollNo.': '123'}

In [86]:
# Zip -> Combine 2 iterables into key-value pairs
key = ['name','age','city','gender','Country']
value = ('Utkarsh',29,'Delhi','Male','India')
zip_dict = dict(zip(key,value))
zip_dict

{'name': 'Utkarsh',
 'age': 29,
 'city': 'Delhi',
 'gender': 'Male',
 'Country': 'India'}

In [87]:
# Removing a Dictionary items
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
del student_details['city']
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python']}

In [88]:
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
del student_details # delete the entire dictionary

student_details # NameError: name 'student_details' is not defined

In [90]:
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
del student_details['skills'][0]
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Power BI', 'Sql', 'Python']}

In [91]:
# pop() -> Removes a specific key and returns its value
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
skills_info = student_details.pop('skills')
print(skills_info)

['Excel', 'Power BI', 'Sql', 'Python']

In [92]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics'}

In [93]:
# popitem() -> Removes last inserted values
course_detail = student_details.popitem()
print(course_detail)

('course', 'Data Analytics')

In [94]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh',
 'country': 'India'}

In [95]:
country_detail = student_details.popitem()
print(country_detail)

('country', 'India')

In [96]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Indore',
 'State': 'Madhya Pradesh'}

In [97]:
# clear -> empty the dictionary
student_details.clear()
student_details

{}

In [98]:
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
stud_details = student_details.copy() # shallow copy
print(id(student_details))
print(id(stud_details))

2373625930176
2373625928064

In [99]:
# shallow copy -> using dict() constructor 
shallow_dict = dict(stud_details)
print(id(stud_details))
print(id(shallow_dict))

2373625928064
2373625712960

if condition:
    # code block

In [1]:
val = int(input("Enter the value: "))
if val > 100:
    print(f'{val} is greater than 100')
print("Outside the if conditions, Always work!")

Enter the value:  11

Outside the if conditions, Always work!

In [2]:
val = int(input("Enter the value: "))
if val > 100:
    print(f'{val} is greater than 100')
print("Outside the if conditions, Always work!")

Enter the value:  111

111 is greater than 100
Outside the if conditions, Always work!

In [3]:
val = int(input("Enter the value: "))
if val > 100:
    print(f'{val} is greater than 100')
print("Outside the if conditions, Always work!")

Enter the value:  -1

Outside the if conditions, Always work!

In [5]:
num1 = int(input("Enter the num1: "))
num2 = int(input("Enter the num2: "))
if num1 > num2:
    print(f"{num1} is greater than {num2}")
if num2 > num1:
    print(f"{num2} is greater than {num1}")
if num1 == num2:
    print(f"{num1} is equal to {num2}")
if num1 != num2:
    print(f"{num1} is not equal to {num2}")

Enter the num1:  -99
Enter the num2:  54

54 is greater than -99
-99 is not equal to 54

In [6]:
_bool = True
int(_bool) # 1

1

In [7]:
_bool = False
int(_bool) # 0

0

In [8]:
# If you find any number either positive or negative -> True
# Except 0 : False Other examples can be -> [],(),"",{},set()

In [9]:
val = int(input("Enter the value: "))
if val > 100:
    print(f"{val} is greater than 100.")
else:
    print(f"{val} is less than or equal to 100.")

Enter the value:  11

11 is less than or equal to 100.

In [10]:
val = int(input("Enter the value: "))
if val > 100:
    print(f"{val} is greater than 100.")
else:
    print(f"{val} is less than or equal to 100.")

Enter the value:  111

111 is greater than 100.

In [11]:
val = int(input("Enter the value: "))
if val > 100:
    print(f"{val} is greater than 100.")
else:
    print(f"{val} is less than or equal to 100.")

Enter the value:  -999

-999 is less than or equal to 100.

In [12]:
val = int(input("Enter the value: "))
if val > 100:
    print(f"{val} is greater than 100.")
else:
    print(f"{val} is less than or equal to 100.")

Enter the value:  a

ValueError: invalid literal for int() with base 10: 'a'

In [13]:
# Checking for a multiple of 10
val = int(input("Enter the value: "))
if val % 10 == 0:
    print(f"{val} is factor of 10")
else:
    print(f"{val} is not a factor of 10")

Enter the value:  1200

1200 is factor of 10

In [14]:
# Checking for a multiple of 10
val = int(input("Enter the value: "))
if val % 10 == 0:
    print(f"{val} is factor of 10")
else:
    print(f"{val} is not a factor of 10")

Enter the value:  111

111 is not a factor of 10

In [16]:
# Checking the type of an input
val = "11"
print(type(val))
if val == 11: # False
    print(f"{val} is a numeric value")
else:
    print("Please fix the data type of the input, as its not a numeric type!")

<class 'str'>
Please fix the data type of the input, as its not a numeric type!

In [21]:
# Checking the type of an input
val = 11.1
if type(val) is float: 
    print(f"{val} is a float value")
else:
    print("Please fix the data type of the input, as its not a numeric type!")

11.1 is a float value

In [22]:
# Checking the type of an input
val = "11"
if type(val) is float: 
    print(f"{val} is a float value")
else:
    print("Please fix the data type of the input, as its not a float type!")

Please fix the data type of the input, as its not a float type!

In [23]:
val = 10
if type(val) is int:
    print("val is an integer")

val is an integer

In [25]:
val = 3.14
if isinstance(val, (int, float, complex, str)):
    print("val is a number")
else:
    print("Hello World!")

val is a number

In [26]:
val = "11"
if isinstance(val, (int, float, complex)):
    print("val is a number")
else:
    print("Hello World!")

Hello World!

In [27]:
# 'in'/'not in' operator -> membership operator [Returning True or False]
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car = 'Thar'
if fav_car in car_list:
    print(f"{fav_car} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

Thar is available in car_list

In [28]:
# 'in'/'not in' operator -> membership operator [Returning True or False]
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car = 'GWagon'
if fav_car in car_list:
    print(f"{fav_car} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

Sorry! We will add it soon....

In [29]:
# 'in'/'not in' operator -> membership operator [Returning True or False]
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car = ['GWagon','Creta']
if fav_car in car_list:
    print(f"{fav_car} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

Sorry! We will add it soon....

In [30]:
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car1 = 'GWagon'
fav_car2 = 'Creta'
if fav_car1 in car_list or fav_car2 in car_list: # True
    print("We are checking Nested Conditions : ")
    if fav_car1 in car_list: # False
        print(f"{fav_car1} is available in car_list")
    elif fav_car2 in car_list: # True
        print(f"{fav_car2} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

We are checking Nested Conditions :
Creta is available in car_list

In [32]:
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car1 = 'GWagon'
fav_car2 = 'Creta'
if fav_car1 in car_list or fav_car2 in car_list: # True
    print("We are checking Nested Conditions : ")
    if fav_car1 in car_list: # False
        print(f"{fav_car1} is available in car_list")
    else: # True ['Creta']
        print(f"{fav_car2} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

We are checking Nested Conditions :
Creta is available in car_list

In [33]:
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car1 = 'Virtus' # True
fav_car2 = 'Creta' # True
if fav_car1 in car_list or fav_car2 in car_list: # True
    print("We are checking Nested Conditions : ")
    if fav_car1 in car_list and fav_car2 in car_list: 
        print(f"{fav_car1} & {fav_car2} is available in car_list")
    elif fav_car1 in car_list :
        print(f"{fav_car1} is available in car_list")
    elif fav_car2 in car_list :
        print(f"{fav_car2} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

We are checking Nested Conditions :
Virtus & Creta is available in car_list

In [34]:
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car1 = 'Virtus' # True
fav_car2 = 'Bolero' # False
if fav_car1 in car_list or fav_car2 in car_list: # True
    print("We are checking Nested Conditions : ")
    if fav_car1 in car_list and fav_car2 in car_list: 
        print(f"{fav_car1} & {fav_car2} is available in car_list")
    elif fav_car1 in car_list :
        print(f"{fav_car1} is available in car_list")
    elif fav_car2 in car_list :
        print(f"{fav_car2} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

We are checking Nested Conditions :
Virtus is available in car_list

In [35]:
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car1 = 'BE6' # False
fav_car2 = 'Verna' # True
if fav_car1 in car_list or fav_car2 in car_list: # True
    print("We are checking Nested Conditions : ")
    if fav_car1 in car_list and fav_car2 in car_list: 
        print(f"{fav_car1} & {fav_car2} is available in car_list")
    elif fav_car1 in car_list :
        print(f"{fav_car1} is available in car_list")
    elif fav_car2 in car_list :
        print(f"{fav_car2} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

We are checking Nested Conditions :
Verna is available in car_list

In [36]:
car_list = ['Taigun','Creta','Slavia','Virtus','Thar','ScorpioN','i10','Verna','Jeep','Lord Alto']
fav_car1 = 'BE6' # False
fav_car2 = 'Harrier' # False
if fav_car1 in car_list or fav_car2 in car_list: # True
    print("We are checking Nested Conditions : ")
    if fav_car1 in car_list and fav_car2 in car_list: 
        print(f"{fav_car1} & {fav_car2} is available in car_list")
    elif fav_car1 in car_list :
        print(f"{fav_car1} is available in car_list")
    elif fav_car2 in car_list :
        print(f"{fav_car2} is available in car_list")
else:
    print(f"Sorry! We will add it soon....")

Sorry! We will add it soon....

In [39]:
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
key_evaluate = 'course'
if key_evaluate in student_details:
    print("You are searching : " , student_details[key_evaluate]) 
else:
    print("No such key exist!")

You are searching :  Data Analytics

In [40]:
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
key_evaluate = 'skills'
if key_evaluate in student_details:
    print("You are searching : " , student_details[key_evaluate]) 
else:
    print("No such key exist!")

You are searching :  ['Excel', 'Power BI', 'Sql', 'Python']

In [42]:
if {}: # False
    print("Hello World")
else:
    print("Above code never run as condition {} is False")

Above code never run as condition {} is False

In [44]:
student_details = {
    'name' : 'Prabhakar Shah',
    'age' : 28,
    'gender' : 'Male',
    'city' : 'Indore',
    'State' : 'Madhya Pradesh',
    'country' : 'India',
    'course' : 'Data Analytics',
    'skills' : ['Excel','Power BI','Sql','Python']
}
student_details['city'] = "Gwalior"

In [45]:
student_details

{'name': 'Prabhakar Shah',
 'age': 28,
 'gender': 'Male',
 'city': 'Gwalior',
 'State': 'Madhya Pradesh',
 'country': 'India',
 'course': 'Data Analytics',
 'skills': ['Excel', 'Power BI', 'Sql', 'Python']}

In [46]:
if set(): # False () , [] , ""
    print("Hello World")
else:
    print("Above code never run as condition set() is empty representing False")

Above code never run as condition set() is empty representing False

In [47]:
if 0: # False () , [] , ""
    print("Hello World")
else:
    print("Above code never run as condition 0 is  representing False")

Above code never run as condition 0 is  representing False

In [48]:
if -3000: # True
    print("Any number either positive or negative except 0 is True")
else:
    print("Else won't get executed ")

Any number either positive or negative except 0 is True

In [52]:
num = 900
if num == 1000:
    print("num is equal to 1000")
elif num >= 700:
    print("num is greater than 700")
elif num >=500:
    print("num is greater than 500")
else:
    print("num is less than 500")

num is greater than 700

In [53]:
# Find the max marks by comparing
marks1 = int(input("Enter your marks1 : "))
marks2 = int(input("Enter your marks2 : "))
marks3 = int(input("Enter your marks3 : "))

if marks1 > marks2 and marks1 > marks3: # 'marks1' is a winner
    print(f"{marks1} is greater than {marks2} & {marks3}.")
elif marks2 > marks1 and marks2 > marks3: # 'marks2' is a winner
    print(f"{marks2} is greater than {marks1} & {marks3}.")
else: # 'marks3' is a winner
    print(f"{marks3} is greater than {marks1} & {marks2}.")

Enter your marks1 :  90
Enter your marks2 :  77
Enter your marks3 :  99

99 is greater than 90 & 77.

In [54]:
# Find the min marks by comparing
marks1 = int(input("Enter your marks1 : "))
marks2 = int(input("Enter your marks2 : "))
marks3 = int(input("Enter your marks3 : "))

if marks1 < marks2 and marks1 < marks3: # 'marks1' is a winner
    print(f"{marks1} is lesser than {marks2} & {marks3}.")
elif marks2 < marks1 and marks2 < marks3: # 'marks2' is a winner
    print(f"{marks2} is lesser than {marks1} & {marks3}.")
else: # 'marks3' is a winner
    print(f"{marks3} is lesser than {marks1} & {marks2}.")

Enter your marks1 :  95
Enter your marks2 :  85
Enter your marks3 :  99

85 is lesser than 95 & 99.

In [57]:
employee_details = {
    'name' : 'Bhupinder Jogi',
    'age' : 28, # [<=30,>30-45,>45-60,>60]
    'gender': 'Male',
    'email' : 'bhupinder@yahoo.com',
    'experience' : 'Fresher',
    'designation' : 'Deputy Manager',
    'salary' : 900000, # [<50K, <1L, >1L]
    'state': 'Florida',
    'country' : 'USA',
    'total children' : 4, #
    'home_owner' : 'Y', #
    'marital_status' : 'Single' # ['Single', 'Married' , 'Divorce']
}
# We are here to sell a Life Insurance as per the person details
premium_amount = 0
if employee_details['home_owner'] == 'Y':
    if employee_details['marital_status'] == 'Married' and employee_details['total children'] >= 2:
        print("Married and having children greater or equal to 2")
        if employee_details['age'] >30 and employee_details['age'] <=45 and employee_details['salary'] <= 50000:
            # age [>30-45] and salary <=50k
        elif employee_details['age'] >30 and employee_details['age'] <=45 and employee_details['salary'] <= 100000:
            # age [>30-45] and salary <=1L
        elif employee_details['age'] >30 and employee_details['age'] <=45 and employee_details['salary'] > 100000:
            # age [>30-45] and salary >1L
    elif employee_details['marital_status'] == 'Married' and employee_details['total children'] == 1:
        print("Married and having children equal to 1")
    elif employee_details['marital_status'] == 'Married' and employee_details['total children'] == 0:
        print("Married but no children yet")
    elif employee_details['marital_status'] == 'Single':
        if employee_details['age'] <=30 and employee_details['salary'] <= 50000:
            # age <= 30 and salary <=50k 
        elif employee_details['age'] <=30 and employee_details['salary'] <= 100000:
            # age <= 30 and salary <= 1L **[Bhupinder Jogi]**
        elif employee_details['age'] <=30 and employee_details['salary'] > 100000:
            # age <= 30 and salary > 1L
        print("Single")
    else:
        print("Divorce")
        
else : # home_owner == 'N'
    print("He is Living in a Rental House")
    if employee_details['marital_status'] == 'Married':
        print("Married")
    elif employee_details['marital_status'] == 'Single':
        print("Single")
    else:
        print("Divorce")

Single

#### Shorthand Conditional Statements : 
- if -> if condition: statement
- if-else -> result = value1 if condition else value2
- if-elif-else -> result = (value1 if condition1 else value2) if condition2 else value3

In [1]:
marks = int(input("Enter a valid marks : "))
if marks >=90 : print("Excellent")

Enter a valid marks :  77

In [2]:
marks = int(input("Enter a valid marks : "))
if marks >=90 : print("Excellent")

Enter a valid marks :  97

Excellent

In [3]:
# if-else -> result = value1 if condition else value2
marks = int(input("Enter a valid marks : "))
print("Not Passed") if marks <=33 else print("Passed")

Enter a valid marks :  29

Not Passed

In [4]:
marks = int(input("Enter a valid marks : "))
print("Not Passed") if marks <=33 else print("Passed")

Enter a valid marks :  77

Passed

In [5]:
# if-else -> result = value1 if condition else value2
marks = int(input("Enter a valid marks : "))
result = "Not Passed" if marks <=33 else "Passed"
print(result)

Enter a valid marks :  55

Passed

In [6]:
# Compare the value
val1 = 'Apple'
val2 = 'apple' # [ASCII]
result = val1 if val1 > val2 else val2
print(result) # val2 ['apple']

apple

In [7]:
val1 = 100
val2 = 100
result = val1 if val1 > val2 else val2
print(result) # val2 - 100

100

In [8]:
height1 = 170
height2 = 189
result = height2 if height1 < height2 else height1
print(result) # height2 - 189

189

In [9]:
# Error -> if you are using if-else shorthand -> else can't be skipped
val = int(input("Enter the value: "))
result = "Even" if val % 2 == 0 else "Odd"
print(result)

Enter the value:  99

Odd

In [11]:
val = int(input("Enter the value: "))
result = "Even" if val % 2 == 0 else "Odd"
print(result)

Enter the value:  10

Even

In [12]:
val = int(input("Enter the value: "))
if val % 2 == 0 :
    print("Even")
else :
    print("Odd")

Enter the value:  29

Odd

In [13]:
# if-elif-else -> result = (value1 if condition1 else value2) if condition2 else value3
value1 = "Python"
value2 = "Java"
value3 = "JavaScript"
condition1 = True
condition2 = True
result = (value1 if condition1 else value2) if condition2 else value3
print(result) # 'Python'

Python

In [14]:
value1 = "Python"
value2 = "Java"
value3 = "JavaScript"
condition1 = False
condition2 = True
result = (value1 if condition1 else value2) if condition2 else value3
print(result) # 'Java'

Java

In [15]:
value1 = "Python"
value2 = "Java"
value3 = "JavaScript"
condition1 = False
condition2 = False
result = (value1 if condition1 else value2) if condition2 else value3
print(result) # 'JavaScript'

JavaScript

In [16]:
# Grading System
score = 77
grade = 'A' if score >=90 else ('B' if score >=80 else ('C' if score >= 70 else 'D'))
print(grade)

C

In [17]:
score = int(input("Enter the valid score: "))
grade = ''
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
else:
    grade = 'D'

print(grade)

Enter the valid score:  81

B

In [18]:
score = int(input("Enter the valid score: "))
grade = '?'
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 50:
    grade = 'D'
else :
    grade
print(grade)

Enter the valid score:  33

?

In [19]:
# Looping Statement
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto']
print(car_list[0])
print(car_list[1])
print(car_list[2])
print(car_list[3])
print(car_list[4])
print(car_list[5])
print(car_list[6])

Taigun
Slavia
Verna
Thar
Innova
Defender
Lord Alto

In [20]:
for car in car_list:
    print(car)

Taigun
Slavia
Verna
Thar
Innova
Defender
Lord Alto

In [21]:
# Even and Odd Number
_list = [-11,10,5,7,9,100,21,-22,77,99,-65,91,199]
for val in _list:
    if val % 2 == 1: # odd
        print(f'{val} is odd value.')
    elif val % 2 == 0: # even
        print(f'{val} is even value.')

print("Loop is Ended")

-11 is odd value.
10 is even value.
5 is odd value.
7 is odd value.
9 is odd value.
100 is even value.
21 is odd value.
-22 is even value.
77 is odd value.
99 is odd value.
-65 is odd value.
91 is odd value.
199 is odd value.
Loop is Ended

In [22]:
# Appended to a List
car_list = ['Taigun','Slavai','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
fav_car = []
for car in car_list:
    if (car == 'Taigun') or (car == 'Defender') or (car == 'Harrier'):
        fav_car.append(car)
print(fav_car)

['Taigun', 'Defender', 'Harrier']

In [24]:
# Appended to a List
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
fav_car_list = []
fav_car1 = input("Enter your first fav_car")
fav_car2 = input("Enter your second fav_car")
fav_car3 = input("Enter your third fav_car")

for car in car_list:
    if (car == fav_car1) or (car == fav_car2) or (car == fav_car3):
        fav_car_list.append(car)
print(fav_car_list)

Enter your first fav_car Thar
Enter your second fav_car Safari
Enter your third fav_car Hector

['Thar', 'Safari']

In [25]:
# appeding to a set -> Mutable Container -> Unordered & Unique Elements
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz','Innova','Safari',
            'Thar','Slavia','Verna','Verna','Slavia','Thar','Thar','Safari'
           ]
car_set = set() # empty set
for car in car_list:
    car_set.add(car) # car_set [Unordered , Unique Elements]

print(car_set)

{'Verna', 'Defender', 'Bolero', 'Slavia', 'Thar', 'Taigun', 'Harrier', 'Innova', 'XUV700', 'Altroz', 'Safari', 'Lord Alto'}

In [26]:
# min / max -> Loops [alphabetical Order for a string]
car_list = ('Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz')
max_element = car_list[0] # 'Taigun'
for car in car_list:
    if car > max_element:
        max_element = car

print(max_element) # 'XUV700'

XUV700

In [27]:
# -> min [Numerical _ List]
_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
min_val = float('inf') # extreme positive else [first_element]
for val in _list:
    if val < min_val:
        min_val = val

print(min_val) # -77

-77

In [28]:
_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
min_val = _list[0]
for val in _list:
    if val < min_val:
        min_val = val

print(min_val) # -77

-77

In [31]:
print(float('inf'))
print(float('-inf'))

inf
-inf

In [32]:
# max_element
_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
max_val = float('-inf')
for val in _list:
    if val > max_val:
        max_val = val

print(max_val) # 1221

1221

In [37]:
# String Iteration -> Characters from it.
string  = 'Coding Ninja'
for char in string:
    print(char , end = ' ')

C o d i n g   N i n j a

In [38]:
# slicing [start=0:stop=(len of a list)[non-inclusive]:step=1]
# range(start,stop,step)
for i in range(10): # 10 stop[non-inclusive] -> [0-9]
    print(i , end = " ")

0 1 2 3 4 5 6 7 8 9

In [40]:
for i in range(1, 11): 
    print(i , end = " ") # 1 to 10

1 2 3 4 5 6 7 8 9 10

In [41]:
for i in range(1, 11, 2): 
    print(i , end = " ") # Odd Elements

1 3 5 7 9

In [42]:
for i in range(0, 11, 2): 
    print(i , end = " ") # Even Elements

0 2 4 6 8 10

In [44]:
car_tuple = ('Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz')
for car in car_tuple:
    print(car , end = ' ')

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz

In [48]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
stop = len(car_list) #
print(stop) # 12
for car in range(stop):
    print(car , end = ' ')
    print(car_list[car])

12
0 Taigun
1 Slavia
2 Verna
3 Thar
4 Innova
5 Defender
6 Lord Alto
7 Safari
8 Harrier
9 Bolero
10 XUV700
11 Altroz

In [50]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
new_car_list = []
stop = len(car_list) #
print(stop) # 12
for car in range(stop):
    print(car , end = ' ')
    new_car_list.append(car_list[car])

print()
print(new_car_list)

12
0 1 2 3 4 5 6 7 8 9 10 11
['Taigun', 'Slavia', 'Verna', 'Thar', 'Innova', 'Defender', 'Lord Alto', 'Safari', 'Harrier', 'Bolero', 'XUV700', 'Altroz']

In [52]:
# Filling Alternative Car_list
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
alt_car_list = []
stop = len(car_list) #
print(stop) # 12
for car in range(0,stop,2):
    print(car , end = ' ')
    alt_car_list.append(car_list[car])

print()
print(alt_car_list)

12
0 2 4 6 8 10
['Taigun', 'Verna', 'Innova', 'Lord Alto', 'Harrier', 'XUV700']

In [57]:
# Filling Car_list in reverse order
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
rev_car_list = []
stop = len(car_list) #
print(stop) # 12
for car in range(stop-1,-1,-1):
    print(car , end = ' ')
    rev_car_list.append(car_list[car])

print()
print(rev_car_list)

12
11 10 9 8 7 6 5 4 3 2 1 0
['Altroz', 'XUV700', 'Bolero', 'Harrier', 'Safari', 'Lord Alto', 'Defender', 'Innova', 'Thar', 'Verna', 'Slavia', 'Taigun']

In [1]:
# Looping with Enumerate() -> index[position of an element] , value = enumerate()
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for index , car_name in enumerate(car_list):
    print(index, car_name)

0 Taigun
1 Slavia
2 Verna
3 Thar
4 Innova
5 Defender
6 Lord Alto
7 Safari
8 Harrier
9 Bolero
10 XUV700
11 Altroz

In [12]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for index , car_name in enumerate(car_list): # (idx , value)
    print(car_list[index], end = " ")

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz

In [10]:
# enumerates provides both the index and the values of an iterable.
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for index , car  in enumerate(car_list):
    print(car, end = " ")

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz

In [3]:
_dict = {
    'name' : 'Aman',
    'age' : 29,
    'gender' : 'M',
    'city' : 'Delhi',
    'Country' : 'India'
}
_dict.keys()

dict_keys(['name', 'age', 'gender', 'city', 'Country'])

In [4]:
_dict.values()

dict_values(['Aman', 29, 'M', 'Delhi', 'India'])

In [11]:
_dict.items() # (key,value)pair

dict_items([('name', 'Aman'), ('age', 29), ('gender', 'M'), ('city', 'Delhi'), ('Country', 'India')])

In [13]:
for key , value in _dict.items() : 
    print((key,value))

('name', 'Aman')
('age', 29)
('gender', 'M')
('city', 'Delhi')
('Country', 'India')

In [16]:
# Else in For Loops : 
for x in range(1,11):
    print(x , end = " ") # [1,2...10]
else:
    print()
    print("Loop Ended Successfully!")

1 2 3 4 5 6 7 8 9 10
Loop Ended Successfully!

In [17]:
# Break statement -> tries to break the loop abruptly
for x in range(1,11):
    print(x , end = " ") # [1,2...10]
    if x == 7 :
        break
else:
    print()
    print("Loop Ended Successfully!")

1 2 3 4 5 6 7

In [19]:
# Print all the factors of 'n':
n = int(input("Enter the value of 'n' to calculate its factors : "))
for i in range(2,n):
    if n % i == 0:
        print(i , end = " ")

Enter the value of 'n' to calculate its factors :  12

2 3 4 6

In [20]:
# Print all the factors of 'n':
n = int(input("Enter the value of 'n' to calculate its factors : "))
for i in range(2,n):
    if n % i == 0:
        print(i , end = " ")

Enter the value of 'n' to calculate its factors :  87

3 29

In [23]:
# Print all the factors of 'n':
n = int(input("Enter the value of 'n' to calculate its factors : "))
if(n < 0): # negative
    for i in range(n,0):
        if n % i == 0:
            print(i , end = " ")
else: # positive
    for i in range(2,n):
        if n % i == 0:
            print(i , end = " ")

Enter the value of 'n' to calculate its factors :  -11

-11 -1

In [24]:
# Print all the factors of 'n':
n = int(input("Enter the value of 'n' to calculate its factors : "))
if(n < 0): # negative
    for i in range(n,0):
        if n % i == 0:
            print(i , end = " ")
else: # positive
    for i in range(2,n):
        if n % i == 0:
            print(i , end = " ")

Enter the value of 'n' to calculate its factors :  -16

-16 -8 -4 -2 -1

new_list = [expression for item in iterable (optional condition)]
or
new_list = [expression1 if condition else expression2 for item in iterable]

In [25]:
_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
max_val = float('-inf')
for val in _list:
    if val > max_val:
        max_val = val

print(max_val) # 1221

1221

In [26]:
# walrus operator = ":=" [Assigning value]
# [expression1 if condition else expression2 for item in iterable]
num_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
max_number = num_list[0]
[max_number := x if x > max_number else max_number for x in num_list]
max_number

1221

In [27]:
# new_list = [expression for item in iterable (optional condition)]
num_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
squared = [x ** 2 for x in num_list]
squared

[3025, 9801, 14641, 8281, 998001, 5929, 0, 1490841, 5929, 841, 10000, 1, 25]

In [28]:
num_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
add_10 = [x + 10 for x in num_list]
add_10

[65, 109, 131, 101, 1009, -67, 10, 1231, 87, 39, 110, 11, 15]

In [30]:
# new_list = [expression for item in iterable (optional condition)]
num_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
even_list = [x for x in num_list if (x % 2 == 0)]
even_list

[False, 100]

In [32]:
# new_list = [expression for item in iterable (optional condition)]
num_list = [55,99,121,91,999,-77,False,1221,77,29,100,1,5]
odd_list = [odd for odd in num_list if (odd % 2 == 1)]
odd_list

[55, 99, 121, 91, 999, -77, 1221, 77, 29, 1, 5]

In [35]:
# Replaces the elements conditionally
# [expression1 if condition else expression2 for item in iterable]
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
new_car_list = [car if car != 'Harrier' else 'Curvv' for car in car_list]
print(new_car_list, end = " ")

['Taigun', 'Slavia', 'Verna', 'Thar', 'Innova', 'Defender', 'Lord Alto', 'Safari', 'Curvv', 'Bolero', 'XUV700', 'Altroz']

In [38]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
new_car_list = []
for car in car_list:
    if car != "Harrier":
        new_car_list.append(car)
    else :
        new_car_list.append("Curvv")
print(new_car_list, end = " ")

['Taigun', 'Slavia', 'Verna', 'Thar', 'Innova', 'Defender', 'Lord Alto', 'Safari', 'Curvv', 'Bolero', 'XUV700', 'Altroz']

In [40]:
# Multiple List in Comprehension:
# Syntax : [exp1 for item1 in itr1 for item2 in itr2.... if conditon]
[(i,j) for i in range(4) for j in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [42]:
[(i,j) for i in range(4) for j in range(4) if i == j]

[(0, 0), (1, 1), (2, 2), (3, 3)]

In [45]:
nested_list = [[i*j for i in range(4)] for j in range(4)]
nested_list

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6], [0, 3, 6, 9]]

In [46]:
# Generator Expression -> () instead []
squared_generator = (x ** 2 for x in range(1,6)) # [1,4,9,16,25]
print(squared_generator)

<generator object <genexpr> at 0x00000161B3AED7D0>

In [47]:
tuple(squared_generator)

(1, 4, 9, 16, 25)

In [48]:
list(squared_generator)

[]

In [49]:
add_10_generator = (x + 10 for x in range(1,6)) # [11,12,13,14,15]
print(add_10_generator)

<generator object <genexpr> at 0x00000161B3AEC380>

In [50]:
list(add_10_generator)

[11, 12, 13, 14, 15]

In [51]:
tuple(add_10_generator)

()

In [52]:
add_10_generator = ((x,x + 10) for x in range(1,6)) # [11,12,13,14,15]
print(add_10_generator)

<generator object <genexpr> at 0x00000161B3AEEE90>

In [53]:
dict(add_10_generator)

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15}

In [55]:
key_generator = (x for x in range (11,100,11))
value_generator = (x ** 2 for x in range(11,100,11))
dict(zip(key_generator , value_generator))

{11: 121,
 22: 484,
 33: 1089,
 44: 1936,
 55: 3025,
 66: 4356,
 77: 5929,
 88: 7744,
 99: 9801}

for outer_item in outer_sequence:
    # Outer loop Body
    for inner_item in inner_sequence:
        # Inner loop Body

In [56]:
for i in range(11,12): # i = [11]
    for j in range (1,11): # j = [1,2,3....10]
        print(f"{i} X {j} = {i*j}")

11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [65]:
for i in range(11,21): # i = [11,....20]
    # Outer Loop [i]
    print(f"Mutliplication Table for value: {i} -> ")
    for j in range (1,11): # j = [1,2,3....10]
        print(f"{i} X {j} = {i*j}" , end = "\n")
    print()

Mutliplication Table for value: 11 ->
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

Mutliplication Table for value: 12 ->
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

Mutliplication Table for value: 13 ->
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130

Mutliplication Table for value: 14 ->
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140

Mutliplication Table for value: 15 ->
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

Mutliplication Table for value: 16 ->
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
16 X 10 = 160

Mutliplication Table for value: 17 ->
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
17 X 10 = 170

Mutliplication Table for value: 18 ->
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
18 X 10 = 180

Mutliplication Table for value: 19 ->
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

Mutliplication Table for value: 20 ->
20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200

In [60]:
[(i,j) for i in range(4) for j in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [63]:
for i in range(4):
    for j in range(4):
        print((i,j) , end = "")

(0, 0)(0, 1)(0, 2)(0, 3)(1, 0)(1, 1)(1, 2)(1, 3)(2, 0)(2, 1)(2, 2)(2, 3)(3, 0)(3, 1)(3, 2)(3, 3)

In [66]:
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
for row in car_list :
    print(row)

['Taigun', 'Slavia', 'Verna']
['Thar', 'Innova', 'Defender']
['Lord Alto', 'Safari', 'Harrier']
['Bolero', 'XUV700', 'Altroz']

In [72]:
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
for row in car_list :
    for car in row:
        print(car , end = " ")
    print()

Taigun Slavia Verna
Thar Innova Defender
Lord Alto Safari Harrier
Bolero XUV700 Altroz

In [73]:
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
flatten_car_list = []
for row in car_list :
    for car in row:
        flatten_car_list.append(car)
flatten_car_list

['Taigun',
 'Slavia',
 'Verna',
 'Thar',
 'Innova',
 'Defender',
 'Lord Alto',
 'Safari',
 'Harrier',
 'Bolero',
 'XUV700',
 'Altroz']

In [81]:
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
new_car_list = []
for row in car_list :
    reversed_row = row[::-1]
    new_car_list.append(reversed_row)

new_car_list

[['Verna', 'Slavia', 'Taigun'],
 ['Defender', 'Innova', 'Thar'],
 ['Harrier', 'Safari', 'Lord Alto'],
 ['Altroz', 'XUV700', 'Bolero']]

In [87]:
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
new_car_list = []
for row in car_list :
   new_car_list.append(row)
new_car_list

[['Taigun', 'Slavia', 'Verna'],
 ['Thar', 'Innova', 'Defender'],
 ['Lord Alto', 'Safari', 'Harrier'],
 ['Bolero', 'XUV700', 'Altroz']]

In [86]:
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
flatten_car_list = []
for row in car_list :
    for car in row:
        flatten_car_list.append(car)
print(flatten_car_list[::-1])

['Altroz', 'XUV700', 'Bolero', 'Harrier', 'Safari', 'Lord Alto', 'Defender', 'Innova', 'Thar', 'Verna', 'Slavia', 'Taigun']

# While Loop
while condition:
    # Code block to be executed repeatedly....

In [1]:
val = 10
while val >=1: # True -> At val = 0 : condition Break [False]
    print(f" {val} : Hello World!")
    val = val - 1

 10 : Hello World!
 9 : Hello World!
 8 : Hello World!
 7 : Hello World!
 6 : Hello World!
 5 : Hello World!
 4 : Hello World!
 3 : Hello World!
 2 : Hello World!
 1 : Hello World!

In [2]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
len(car_list)

12

In [4]:
idx = 0
while idx < len(car_list): # 12
    print(car_list[idx] , end = " ")
    idx = idx + 1

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz

In [5]:
for car in car_list :
    print(car , end = " ")

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz

In [7]:
idx = 0
while idx < len(car_list): # 12
    print(car_list[idx] , end = " ")
    idx+=1

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz

In [8]:
# Range -> Even or odd : if-else with Loop [while]
val = int(input("Enter the value : "))
counter = 0
while counter <= val:
    if counter % 2 == 0: # Even 
        print(f"{counter} is an even value")
    else: # Odd
        print(f"{counter} is an odd value")
    counter+=1

Enter the value :  5

0 is an even value
1 is an odd value
2 is an even value
3 is an odd value
4 is an even value
5 is an odd value

In [9]:
# Range -> Even or odd : if-else with Loop [while]
val = int(input("Enter the value : "))
counter = 0
while counter <= val:
    if counter % 2 == 0: # Even 
        print(f"{counter} is an even value")
        counter+=1 
    else: # Odd
        print(f"{counter} is an odd value")
        counter+=1

Enter the value :  7

0 is an even value
1 is an odd value
2 is an even value
3 is an odd value
4 is an even value
5 is an odd value
6 is an even value
7 is an odd value

# Range -> Even or odd : if-else with Loop [while]
val = int(input("Enter the value : "))
counter = 0
while counter <= val:
    if counter % 2 == 0: # Even 
        print(f"{counter} is an even value")
    else: # Odd
        print(f"{counter} is an odd value")
counter+=1 # Infinite Loop

In [12]:
val = int(input("Enter the value : "))
multiplier = 1
counter = 1
while counter <= val:
    multiplier = multiplier * counter
    counter+=1
print(multiplier)

Enter the value :  5

120

In [13]:
# While - Else [works if the loop runs successfully]
val = 10
while True:
    if val == 6:
        break
    print(val , end = " ")
    val = val - 1
else:
    print("Loop Runs Successfully!") # This line won't run as the loop breaks abruptly.

10 9 8 7

In [16]:
# While - Else [works if the loop runs successfully]
val = 10
while val >= 1:
    print(val, end = " ")
    if val == 6:
        break
    val = val - 1
else:
    print("Loop Runs Successfully!") # This line won't run as the loop breaks abruptly.

10 9 8 7 6

In [15]:
val = 10
while val >= 1:
    print(val, end = " ")
    val = val - 1
else:
    print()
    print("Loop Runs Successfully!") # Works

10 9 8 7 6 5 4 3 2 1
Loop Runs Successfully!

In [19]:
# Shorthand Single Line While
val = 1
while val <= 11: print(val , end = " "); val +=2 # odd value print

1 3 5 7 9 11

Syntax of Nested While loop : 
while Outer conditions : 
    # Outer loop Body
    while inner conditions : 
        # Inner Loop Body

In [23]:
# 5 X 5  Matrix 
i = 0
while i<5:
    j = 0
    while j < 5:
        print(f"{i,j}" , end = "\t")
        j = j + 1
    print()
    i = i + 1
print("5*5 Matrix printted Successfully!")

(0, 0)	(0, 1)	(0, 2)	(0, 3)	(0, 4)
(1, 0)	(1, 1)	(1, 2)	(1, 3)	(1, 4)
(2, 0)	(2, 1)	(2, 2)	(2, 3)	(2, 4)
(3, 0)	(3, 1)	(3, 2)	(3, 3)	(3, 4)
(4, 0)	(4, 1)	(4, 2)	(4, 3)	(4, 4)
5*5 Matrix printted Successfully!

In [24]:
# 5 X 5  Matrix 
i = 0
while i<5:
    j = 0
    while j < 5:
        print(f"{i*j}" , end = "\t")
        j = j + 1
    print()
    i = i + 1
print("5*5 Matrix printted Successfully!")

0	0	0	0	0
0	1	2	3	4
0	2	4	6	8
0	3	6	9	12
0	4	8	12	16
5*5 Matrix printted Successfully!

Syntax : 
while Loop:
    if cond : 
        break
for iterators in iterables : 
    if cond :
        break

In [25]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list :
    if car == 'XUV700':
        break
    print(car , end = " ")
else:
    print("Car iterated Successfully ....")

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero

In [33]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list :
    if car == 'Innova':
        break
    print(car , end = " ")
else:
    print("Car iterated Successfully ....")

print()
print("Hello Car Lovers :) ")

Taigun Slavia Verna Thar
Hello Car Lovers :)

In [29]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list :
    if (car == 'Innova') or car == ('Lord Alto'):
        continue
    print(car , end = " ")
else:
    print()
    print("Car iterated Successfully ....")

Taigun Slavia Verna Thar Defender Safari Harrier Bolero XUV700 Altroz
Car iterated Successfully ....

In [35]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
fav_car_list = []
for car in car_list :
    if (car == 'Innova') or car == ('Lord Alto'):
        continue
    print(car , end = " ")
else:
    for car in car_list:
        if (car == 'Innova') or car == ('Lord Alto'):
            pass
        else:
            fav_car_list.append(car)
print()
print(fav_car_list , end = " ")

Taigun Slavia Verna Thar Defender Safari Harrier Bolero XUV700 Altroz
['Taigun', 'Slavia', 'Verna', 'Thar', 'Defender', 'Safari', 'Harrier', 'Bolero', 'XUV700', 'Altroz']

In [36]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
fav_car_list = []
for car in car_list :
    if (car == 'Innova') or car == ('Lord Alto'):
        break
    print(car , end = " ")
else:
    for car in car_list:
        if (car == 'Innova') or car == ('Lord Alto'):
            pass
        else:
            fav_car_list.append(car)
print()
print(fav_car_list , end = " ")

Taigun Slavia Verna Thar
[]

In [38]:
for i in range (1,11): # [1,2,3....10]
    print(i , end = " ")
    if i == 7:
        print()
        print("Hello Guys!, I'm going to terminate... Byeeeee")
        break
else:
    print("Loop Runs Successfully!")

1 2 3 4 5 6 7
Hello Guys!, I'm going to terminate... Byeeeee

In [39]:
for i in range (1,11): # [1,2,3....10]
    print(i , end = " ")
    if i == 11:
        print()
        print("Hello Guys!, I'm going to terminate... Byeeeee")
        break
else:
    print()
    print("Loop Runs Successfully!")

1 2 3 4 5 6 7 8 9 10
Loop Runs Successfully!

In [41]:
for i in range (1,11): # [1,2,3....10]
    if i == 6:
        print()
        print(f"Skipping: {i} ")
        continue
    print(i , end = " ")
else:
    print()
    print("Loop Runs Successfully!")

1 2 3 4 5
Skipping: 6
7 8 9 10
Loop Runs Successfully!

In [46]:
offer_list = {'0' : 'exit', 
              '1' : 'B2G1 Ajio T-Shirts', 
              '2' : 'Swiggy 200 cash', 
              '3' : 'Lenskart Gold Membership @49',
              '4' : 'Bombay Shaving B2G1' , 
              '5' : 'XYZZ@999' , 
              '6' : 'iXigo Flat 50% off on Hotels',
              '7' : 'Dot & Key Buy 1 Get 1 free' , 
              '8' : 'Minimalist B1G1' , 
              '9' : 'Belavitta Perfumes'}
offer_keys = offer_list.keys()
offer_value = offer_list.values()
print(offer_keys)
print(offer_value)

dict_keys(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'])
dict_values(['exit', 'B2G1 Ajio T-Shirts', 'Swiggy 200 cash', 'Lenskart Gold Membership @49', 'Bombay Shaving B2G1', 'XYZZ@999', 'iXigo Flat 50% off on Hotels', 'Dot & Key Buy 1 Get 1 free', 'Minimalist B1G1', 'Belavitta Perfumes'])

In [48]:
chances = 3
reward_list = []
while chances > 0:
    offer_key = input("Enter the Lucky Key between 0 to 9 : ")
    if offer_list[offer_key] == 'exit':
        break
    else :
        reward_list.append(offer_list[offer_key])
    chances -=1

print(reward_list)

Enter the Lucky Key between 0 to 9 :  1
Enter the Lucky Key between 0 to 9 :  7
Enter the Lucky Key between 0 to 9 :  9

['B2G1 Ajio T-Shirts', 'Dot & Key Buy 1 Get 1 free', 'Belavitta Perfumes']

In [51]:
chances = 3
reward_list = []
while chances > 0:
    offer_key = input("Enter the Lucky Key between 0 to 9 : ")
    if offer_list[offer_key] == 'exit':
        break
    else :
        reward_list.append(offer_list[offer_key])
    chances -=1

print(reward_list)

Enter the Lucky Key between 0 to 9 :  3
Enter the Lucky Key between 0 to 9 :  0

['Lenskart Gold Membership @49']

In [1]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list:
    if car == 'Bolero': # breaking the loop abruptly
        break
    else:
        print(car , end = " ")
else:
    print() # Moving the statement to the next line
    print("Loop Run Successfully.")

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier

In [2]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list:
    if car == 'Fronx': # This condition won't hit as this 'Fronx' is not available in the car_list
        break
    else:
        print(car , end = " ") # print the complete list
else:
    print() # Moving the statement to the next line
    print("Loop Run Successfully.")

Taigun Slavia Verna Thar Innova Defender Lord Alto Safari Harrier Bolero XUV700 Altroz
Loop Run Successfully.

In [3]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list:
    if (car == 'Innova') or (car == 'XUV700') or (car == 'Thar'): # skip the elements
        continue 
    else:
        print(car , end = " ") # print the complete list excluding some cars mention above
else:
    print() # Moving the statement to the next line
    print("Loop Run Successfully.")

Taigun Slavia Verna Defender Lord Alto Safari Harrier Bolero Altroz
Loop Run Successfully.

In [4]:
# pass
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
for car in car_list:
    if (car == 'Innova') or (car == 'XUV700') or (car == 'Thar'): 
        pass # Logic is missing -> will add it in future 
    else:
        print(car , end = " ") # print the complete list excluding some cars mention above
else:
    print() # Moving the statement to the next line
    print("Loop Run Successfully.")

Taigun Slavia Verna Defender Lord Alto Safari Harrier Bolero Altroz
Loop Run Successfully.

In [9]:
# Pass -> Nested List
car_list = [
    ['Taigun','Slavia','Verna'],
    ['Thar','Innova','Defender'],
    ['Lord Alto','Safari','Harrier'],
    ['Bolero','XUV700','Altroz']
]
flatten_car_list = []
for row in car_list : 
    for car in row:
        # pass is actually a placeholder that can be filled with the logic in future
        pass # flatten_car_list.append(car)
print(flatten_car_list)

[]

In [10]:
nested_num_list = [
    [11,22,33,44,55],
    [2,5,7,9,11],
    [99,77,55,33,11],
    [10,20,30,40,50],
    [15,19,17,91,97]
]
even_list = []
odd_list = []
for row in nested_num_list:
    for val in row:
        if val % 2 == 0: # even
            even_list.append(val)
        else:
            odd_list.append(val)
else:
    print("Even List : " , even_list)
    print("Odd List : " , odd_list)

Even List :  [22, 44, 2, 10, 20, 30, 40, 50]
Odd List :  [11, 33, 55, 5, 7, 9, 11, 99, 77, 55, 33, 11, 15, 19, 17, 91, 97]

In [11]:
nested_num_list = [
    [11,22,33,44,55],
    [2,5,7,9,11],
    [99,77,55,33,11],
    [10,20,30,40,50],
    [15,19,17,91,97]
]
even_list = []
odd_list = []
for row in nested_num_list:
    for val in row:
        if val <=10 or val >= 80:
            pass # Placeholder for the logic
        elif val % 2 == 0: # even
            even_list.append(val)
        elif val % 2 == 1: # odd
            odd_list.append(val)
else:
    print("Even List : " , even_list)
    print("Odd List : " , odd_list)

Even List :  [22, 44, 20, 30, 40, 50]
Odd List :  [11, 33, 55, 11, 77, 55, 33, 11, 15, 19, 17]

In [13]:
nested_num_list = [
    [11,22,33,44,55],
    [2,5,7,9,11],
    [99,77,55,33,11],
    [10,20,30,40,50],
    [15,19,17,91,97]
]
even_list = []
odd_list = []
another_list = []
for row in nested_num_list:
    for val in row:
        if val <=10 or val >= 80:
            another_list.append(val) # pass # Placeholder for the logic
        elif val % 2 == 0: # even
            even_list.append(val)
        elif val % 2 == 1: # odd
            odd_list.append(val)
else:
    print("Even List : " , even_list)
    print("Odd List : " , odd_list)
    print("Another List : " , another_list)

Even List :  [22, 44, 20, 30, 40, 50]
Odd List :  [11, 33, 55, 11, 77, 55, 33, 11, 15, 19, 17]
Another List :  [2, 5, 7, 9, 99, 10, 91, 97]

In [14]:
# Prime Number -> Any number either divides by itself or by 1
# break 
val = int(input("Enter the value to check wether a val is prime or not: "))
for num in range(2,val):
    if val % num == 0:
        print(f"{val} is not a prime number")
        break
else:
    print(f"{val} is a prime number")

Enter the value to check wether a val is prime or not:  15

15 is not a prime number

In [15]:
val = int(input("Enter the value to check wether a val is prime or not: "))
for num in range(2,val):
    if val % num == 0:
        print(f"{val} is not a prime number")
        break
else:
    print(f"{val} is a prime number")

Enter the value to check wether a val is prime or not:  17

17 is a prime number

In [73]:
_dict = {
    "stud_1" : {'name' : 'Aman','age' : 29,'gender' : 'M','city' : 'Bhopal', 'Country' : 'India'},
    "stud_2" : {'name' : 'Sanchita','age' : 27,'gender' : 'F','city' : 'Varansi', 'Country' : 'India'},
    "stud_3" : {'name' : 'Surya','age' : 33,'gender' : 'M','city' : 'Mumbai', 'Country' : 'India'},
    "stud_4" : {'name' : 'Nihal','age' : 28,'gender' : 'M','city' : 'Chandigarh', 'Country' : 'India'},
    "stud_5" : {'name' : 'Lubhani','age' : 26,'gender' : 'F','city' : 'Pune', 'Country' : 'India'}
}
print(_dict.keys())

dict_keys(['stud_1', 'stud_2', 'stud_3', 'stud_4', 'stud_5'])

In [74]:
print(_dict['stud_1'].keys())

dict_keys(['name', 'age', 'gender', 'city', 'Country'])

In [75]:
print(_dict['stud_1'].values())

dict_values(['Aman', 29, 'M', 'Bhopal', 'India'])

In [76]:
_dict.items()

dict_items([('stud_1', {'name': 'Aman', 'age': 29, 'gender': 'M', 'city': 'Bhopal', 'Country': 'India'}), ('stud_2', {'name': 'Sanchita', 'age': 27, 'gender': 'F', 'city': 'Varansi', 'Country': 'India'}), ('stud_3', {'name': 'Surya', 'age': 33, 'gender': 'M', 'city': 'Mumbai', 'Country': 'India'}), ('stud_4', {'name': 'Nihal', 'age': 28, 'gender': 'M', 'city': 'Chandigarh', 'Country': 'India'}), ('stud_5', {'name': 'Lubhani', 'age': 26, 'gender': 'F', 'city': 'Pune', 'Country': 'India'})])

In [77]:
for stud_key in _dict.keys():
    print(_dict[stud_key])

{'name': 'Aman', 'age': 29, 'gender': 'M', 'city': 'Bhopal', 'Country': 'India'}
{'name': 'Sanchita', 'age': 27, 'gender': 'F', 'city': 'Varansi', 'Country': 'India'}
{'name': 'Surya', 'age': 33, 'gender': 'M', 'city': 'Mumbai', 'Country': 'India'}
{'name': 'Nihal', 'age': 28, 'gender': 'M', 'city': 'Chandigarh', 'Country': 'India'}
{'name': 'Lubhani', 'age': 26, 'gender': 'F', 'city': 'Pune', 'Country': 'India'}

In [78]:
for stud_key in _dict.keys():
    print(_dict[stud_key]['city'])

Bhopal
Varansi
Mumbai
Chandigarh
Pune

In [79]:
for student_detail in _dict.items():
    print(student_detail) # A complete inner dictionary

('stud_1', {'name': 'Aman', 'age': 29, 'gender': 'M', 'city': 'Bhopal', 'Country': 'India'})
('stud_2', {'name': 'Sanchita', 'age': 27, 'gender': 'F', 'city': 'Varansi', 'Country': 'India'})
('stud_3', {'name': 'Surya', 'age': 33, 'gender': 'M', 'city': 'Mumbai', 'Country': 'India'})
('stud_4', {'name': 'Nihal', 'age': 28, 'gender': 'M', 'city': 'Chandigarh', 'Country': 'India'})
('stud_5', {'name': 'Lubhani', 'age': 26, 'gender': 'F', 'city': 'Pune', 'Country': 'India'})

In [80]:
for student_code , stud_info in _dict.items():
    print(student_code, end = " :")
    print(stud_info)

stud_1 :{'name': 'Aman', 'age': 29, 'gender': 'M', 'city': 'Bhopal', 'Country': 'India'}
stud_2 :{'name': 'Sanchita', 'age': 27, 'gender': 'F', 'city': 'Varansi', 'Country': 'India'}
stud_3 :{'name': 'Surya', 'age': 33, 'gender': 'M', 'city': 'Mumbai', 'Country': 'India'}
stud_4 :{'name': 'Nihal', 'age': 28, 'gender': 'M', 'city': 'Chandigarh', 'Country': 'India'}
stud_5 :{'name': 'Lubhani', 'age': 26, 'gender': 'F', 'city': 'Pune', 'Country': 'India'}

In [81]:
for student_code , stud_info in _dict.items():
    print(student_code , end = " -> ")
    for person_key , person_detail in stud_info.items():
        print()
        print(end = "\t")
        print(person_key , end = " :")
        print(person_detail)

stud_1 ->
	name :Aman

	age :29

	gender :M

	city :Bhopal

	Country :India
stud_2 ->
	name :Sanchita

	age :27

	gender :F

	city :Varansi

	Country :India
stud_3 ->
	name :Surya

	age :33

	gender :M

	city :Mumbai

	Country :India
stud_4 ->
	name :Nihal

	age :28

	gender :M

	city :Chandigarh

	Country :India
stud_5 ->
	name :Lubhani

	age :26

	gender :F

	city :Pune

	Country :India

In [82]:
for student_code , stud_info in _dict.items():
    if student_code == 'stud_2':
        continue
    print(student_code , end = " -> ")
    for person_key , person_detail in stud_info.items():
            if person_key == 'city':
                print(person_detail)

stud_1 -> Bhopal
stud_3 -> Mumbai
stud_4 -> Chandigarh
stud_5 -> Pune

In [84]:
for student_code , stud_info in _dict.items():
    if student_code == 'stud_2':
        continue
    print(student_code , end = " -> ")
    for person_key , person_detail in stud_info.items():
        if person_key == 'city':
            if _dict[student_code][person_key] == 'Bhopal': 
                _dict[student_code][person_key] = 'Delhi'
            elif  _dict[student_code][person_key] == 'Mumbai':
                pass
            else:
                break

stud_1 -> stud_3 -> stud_4 -> stud_5 ->

In [85]:
for student_code , stud_info in _dict.items():
    print(student_code , end = " -> ")
    for person_key , person_detail in stud_info.items():
        print()
        print(end = "\t")
        print(person_key , end = " :")
        print(person_detail)

stud_1 ->
	name :Aman

	age :29

	gender :M

	city :Delhi

	Country :India
stud_2 ->
	name :Sanchita

	age :27

	gender :F

	city :Varansi

	Country :India
stud_3 ->
	name :Surya

	age :33

	gender :M

	city :Mumbai

	Country :India
stud_4 ->
	name :Nihal

	age :28

	gender :M

	city :Chandigarh

	Country :India
stud_5 ->
	name :Lubhani

	age :26

	gender :F

	city :Pune

	Country :India

# Functions : 
#### Functions are reusable block of code that helps you :
1. Organize your code.
2. Avoid Repoid (DRY): 'Do not Repeat Yourself'
3. Makes your program easy to understand and debug.

Syntax:
def function_name : 
    # Function Logic [Print Vs Return]

In [87]:
def greet():
    print("Hello World!")

greet()
greet()
greet()
greet()

Hello World!
Hello World!
Hello World!
Hello World!

In [89]:
def squared(val):
    return val ** 2
def cubed(val):
    return val ** 3

sq1 = squared(10) # 100
print(sq1) # 100
sq2 = squared(11) # 121
print(sq2) # 221
sq3 = squared(21) # 441
print(sq3) # 441
cu1 = cubed(10) # 1000
print(cu1)

100
121
441
1000

# Types of Functions:
1. User-define Function:
   - Functions that we create with the help of def keyword and perform any custom task
2. Pre-Definded Function: (Built-In Function)
   - print()
   - len()
   - min()
   - max()
   - sum()
   - type()
   - input()

In [1]:
# Non Parameterized Function
def greet():
    print("Welcome to the Python Course!")

greet()

Welcome to the Python Course!

In [2]:
def Onboarding_Mail(name , designation , company = 'Ninjas'):
    print(f"Welcome to the Team, {name}.....")
    print(f"You are working as a {designation}, Please meet with your teammates.")
    print("Looking  forward to have a good association with you.")
    print(f"Thanks...")
    print(f"{company}")

Onboarding_Mail('Amit','Analyst','Amazon')

Welcome to the Team, Amit.....
You are working as a Analyst, Please meet with your teammates.
Looking  forward to have a good association with you.
Thanks...
Amazon

In [3]:
Onboarding_Mail('Utkarsh','Senior Analyst','American Express')

Welcome to the Team, Utkarsh.....
You are working as a Senior Analyst, Please meet with your teammates.
Looking  forward to have a good association with you.
Thanks...
American Express

In [4]:
Onboarding_Mail('Aditya','Lead Scientist')

Welcome to the Team, Aditya.....
You are working as a Lead Scientist, Please meet with your teammates.
Looking  forward to have a good association with you.
Thanks...
Ninjas

In [36]:
def onboarding(employee_name, job_title , start_date, hr_name = "Bhupinder Jogi" , 
               company_name = "Coding Ninja" , address = "XYZ Location"):
    print(f"""
        Subject: Welcome to the Team!
    
            Dear {employee_name},
            
            We are excited to welcome you to {company_name}! On behalf of the entire team, 
            we are thrilled to have you join us as {job_title}.
            
            Your onboarding will begin on {start_date}, and we have planned a smooth transition 
            to help you settle into your new role. Please find the key details below:
            
            Start Date & Time: {start_date}
            
            Location / Login Details: {address}
            
            Point of Contact: "Devi Prashad Sharma"
            
            During your first week, you will be introduced to our team, guided through our systems, 
            and provided with all the resources you need to excel. Our HR team will also walk you 
            through our policies, benefits, and company culture.
            
            We believe your skills and experience will make a valuable contribution, and we look 
            forward to seeing you thrive with us.
            
            Once again, welcome aboard and best wishes for a successful journey with {company_name}.
            
            Warm regards,
            {hr_name}
            HR Manager
            {company_name}
    """)
onboarding("Arpit","Senior Analyst","23rd Sept 2025" ,company_name = "PhonePe" )

        Subject: Welcome to the Team!

            Dear Arpit,

            We are excited to welcome you to PhonePe! On behalf of the entire team,
            we are thrilled to have you join us as Senior Analyst.

            Your onboarding will begin on 23rd Sept 2025, and we have planned a smooth transition
            to help you settle into your new role. Please find the key details below:

            Start Date & Time: 23rd Sept 2025

            Location / Login Details: XYZ Location

            Point of Contact: "Devi Prashad Sharma"

            During your first week, you will be introduced to our team, guided through our systems,
            and provided with all the resources you need to excel. Our HR team will also walk you
            through our policies, benefits, and company culture.

            We believe your skills and experience will make a valuable contribution, and we look
            forward to seeing you thrive with us.

            Once again, welcome aboard and best wishes for a successful journey with PhonePe.

            Warm regards,
            Bhupinder Jogi
            HR Manager
            PhonePe

In [23]:
# Arbitary arguments (*args)
employee_list = []
def employee_hired(*emp_name):
    return employee_list.append(emp_name)

emp_details = employee_hired('Shalu','Ali','Utkarsh','Aditya','Nihal','Kabiraj','Jagat')
type(emp_details)

NoneType

In [24]:
print(employee_list)

[('Shalu', 'Ali', 'Utkarsh', 'Aditya', 'Nihal', 'Kabiraj', 'Jagat')]

In [25]:
# Arbitary arguments (*args)
employee_list = []
def employee_hired(*emp_name):
    for emp in emp_name:
        employee_list.append(emp)
    return employee_list
emp_details = employee_hired('Shalu','Ali','Utkarsh','Aditya','Nihal','Kabiraj','Jagat')
type(emp_details)

list

In [26]:
print(employee_list)

['Shalu', 'Ali', 'Utkarsh', 'Aditya', 'Nihal', 'Kabiraj', 'Jagat']

In [27]:
a,b,*c = 1,2,3,4,5,6,7
print(a) # 1
print(b) # 2
print(c) # [3,4,5,6,7]

1
2
[3, 4, 5, 6, 7]

In [29]:
def fav_car(car1, car2, car3, *car4): # (positional arg, arbitary argument)
    print(f"My Favourite Car is {car3}")

fav_car('Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz')

My Favourite Car is Verna

In [30]:
# Keyword Argument
def fav_month(month1, month2, month3, month4 , month5):
    print("My Favourite Month" , month5)

fav_month(month2 = "Jan", month3 = "Oct", month4 = "Feb", month5 = "Dec", month1 = "July" )

My Favourite Month Dec

In [31]:
# Positional Argument &  Keyword Argument
def fav_month(month1, month2, month3, month4 , month5):
    print("My Favourite Month" , month2)

fav_month("July","Jan", month3 = "Oct", month5 = "Dec", month4 = "Feb")

My Favourite Month Jan

SyntaxError: positional argument follows keyword argument
def fav_month(month1, month2, month3, month4 , month5):
    print("My Favourite Month" , month2)

fav_month(month3 = "Oct", month5 = "Dec", month4 = "Feb", "July","Jan")

In [33]:
# Default Parameter 
def fav_car(car_name = "Safari"):
    print(car_name)

fav_car("Virtus")

Virtus

In [34]:
def fav_car(car_name = "Safari"):
    print(car_name)

fav_car()

Safari

In [35]:
def calculator(a,b,c,d=100,e=15):
    print((a*b)+ (c*d) + e)

calculator(10,20,c=5,e=20) # 720

720

In [39]:
car_list = ['Taigun','Slavia','Verna','Thar','Innova','Defender','Lord Alto',
            'Safari','Harrier','Bolero','XUV700','Altroz']
def iterative_car(cars):
    for car in cars:
        print(car , end = " - ")

iterative_car(car_list)

Taigun - Slavia - Verna - Thar - Innova - Defender - Lord Alto - Safari - Harrier - Bolero - XUV700 - Altroz -

In [40]:
def total_sum(val1, val2, val3, val4, val5):
    return val1 + val2 + val3 + val4 + val5

total = total_sum(100,200,300,400,500)
print(total)

1500

In [42]:
def total_sum(*val):
    return sum(val)

total = total_sum(100,200,300,400,500)
print(total)

1500

In [43]:
def finding_max(*val):
    return max(val)

max_val = finding_max(11,22,33,44,55,1,2,4,5,7,4,99,111,4,5,9,50,66,81,91)
print(max_val)

111

In [44]:
# Finding the maximum of 3 numbers
def max_three_number(x,y,z):
    if x>y and x>z:
        print(f"{x} is maximum")
    elif y>z and y>x:
        print(f"{y} is maximum")
    else:
        print(f"{z} is maximum")

max_three_number(15,20,11)

20 is maximum

In [45]:
def max_three_number(x,y,z):
    if x>y and x>z:
        return x
    elif y>z and y>x:
        return y
    else:
        return z

max_ele = max_three_number(11,22,7) # 22
print(f"{max_ele} is the maximum element.")

22 is the maximum element.

In [47]:
def max_three_number(x,y,z):
    return max(x,y,z)

max_ele = max_three_number(22,77,55) # 77
print(f"{max_ele} is the maximum element.")

77 is the maximum element.

In [48]:
# Calculate the area of a circle
pi = 3.14
def area_of_circle(radius):
    return pi * (radius ** 2)

area = area_of_circle(10)
print(area)

314.0

In [49]:
# Area of Rectange
def area_of_rect(length , width):
    return length * width

rect_area = area_of_rect(10,20)
print(rect_area)

200

In [52]:
import math
dir(math)
math.lcm(10,15)

30

In [53]:
math.lcm(12,15,18)

180

In [54]:
def celcius_to_fahrenheit(c):
    f = (1.8 * c) + 32
    return f
    
fahrenheit = celcius_to_fahrenheit(50)
print(fahrenheit)

122.0

In [55]:
fahrenheit = celcius_to_fahrenheit(70)
print(fahrenheit)

158.0

In [61]:
def fahrenheit_to_celcius(f):
    c = (f - 32)/1.8
    return c
    
celcius = fahrenheit_to_celcius(120)
print(celcius)

48.888888888888886

In [63]:
# bill_amount > 1500 -> 25% discount else 10% discount
def billing_system(*item_cost):
    bill_amount = 0
    final_amt_to_pay = 0
    for amt in item_cost:
        bill_amount += amt
    if bill_amount > 1500:
        final_amt_to_pay = bill_amount - (bill_amount * 0.25)
    else:
        final_amt_to_pay = bill_amount - (bill_amount * 0.10)
    return final_amt_to_pay
        # final_amt_to_pay = (bill_amount * 0.75)
total_pay = billing_system(100,200,300,400,500,600,700)
print(total_pay)

2100.0

In [67]:
# Positional Argument with Arbitary Argument [Qty * item_cost]
def billing_system(qty,*item_cost):
    bill_amount = 0
    final_amt_to_pay = 0
    for amt in item_cost:
        bill_amount += amt
    if bill_amount > 1500:
        final_amt_to_pay = bill_amount - (bill_amount * 0.25)
    else:
        final_amt_to_pay = bill_amount - (bill_amount * 0.10)
    return final_amt_to_pay * qty
        # final_amt_to_pay = (bill_amount * 0.75)
total_pay = billing_system(2,100,200,300,400,500,600,700)
print(total_pay)

4200.0

In [68]:
# Positional Argument with Arbitary Argument [GST Addition] [5% GST Standard]
def billing_system(gst,*item_cost):
    bill_amount = 0
    final_amt_to_pay = 0
    for amt in item_cost:
        bill_amount += amt
    if bill_amount > 1500:
        final_amt_to_pay = bill_amount - (bill_amount * 0.25)
    else:
        final_amt_to_pay = bill_amount - (bill_amount * 0.10)
    return final_amt_to_pay + (final_amt_to_pay * gst)
        # final_amt_to_pay = (bill_amount * 0.75)
total_pay = billing_system(0.05,100,200,300,400,500,600,700)
print(total_pay)

2205.0

In [87]:
gst_slab = {
    'grocery' : 0.05,
    'clothings' : 0.12,
    'shoes' : 0.18,
    'cab_service' : 0.05,
    'luxury_item' : 0.40
}
bill_invoice = {
    'grocery' : 100,
    'clothings' : 200,
    'shoes' : 300,
    'cab_service': 400,
    'luxury_item' : 700
}

In [88]:
bill_invoice.items()

dict_items([('grocery', 100), ('clothings', 200), ('shoes', 300), ('cab_service', 400), ('luxury_item', 700)])

In [89]:
total_bill = []
for gst_slab_items , gst_slab_gst in gst_slab.items(): 
    for bill_invoice_items , bill_invoice_amount in bill_invoice.items():
        if gst_slab_items == bill_invoice_items:
            bill_invoice_amount = bill_invoice_amount + (bill_invoice_amount * gst_slab_gst)
            total_bill.append(bill_invoice_amount)
        else:
            continue

print(total_bill)

[105.0, 224.0, 354.0, 420.0, 980.0]

In [92]:
# Arbitary Argument 
def billing_system(*item_cost):
    bill_amount = 0
    for amt in item_cost:
        bill_amount += amt
    return bill_amount

total_pay = billing_system(*total_bill) # * with iterables will make it work
print(total_pay)

2083.0

In [96]:
gst_slab = {
    'grocery' : 0.05,
    'clothings' : 0.12,
    'shoes' : 0.18,
    'cab_service' : 0.05,
    'luxury_item' : 0.40
}
bill_invoice = {
    'grocery' : [100],
    'clothings' : [200],
    'shoes' : [300,500],
    'cab_service': [400],
    'luxury_item' : [600,700]
}

In [97]:
bill_invoice.values()

dict_values([[100], [200], [300, 500], [400], [600, 700]])

In [98]:
flatten_list = []
for row in bill_invoice.values():
    for val in row:
        flatten_list.append(val)

flatten_list

[100, 200, 300, 500, 400, 600, 700]

In [100]:
flatten_list = []
for row in bill_invoice.values():
    for val in row:
        flatten_list.append(val)

flatten_list
total_bill = []
for gst_slab_items , gst_slab_gst in gst_slab.items(): 
    for bill_invoice_items , bill_invoice_amount in bill_invoice.items():
        if gst_slab_items == bill_invoice_items:
            for val in bill_invoice_amount:
                bill_invoice_amount = val + (val * gst_slab_gst)
                total_bill.append(bill_invoice_amount)
        else:
            continue

print(total_bill)

[105.0, 224.0, 354.0, 590.0, 420.0, 840.0, 980.0]

In [101]:
def billing_system(*item_cost):
    bill_amount = 0
    for amt in item_cost:
        bill_amount += amt
    return bill_amount

total_pay = billing_system(*total_bill) # * with iterables will make it work
print(total_pay)

3513.0

In [7]:
# Checking for a Prime:
def is_prime(val):
    if val <=1:
        print(f"{val} is not a Prime Number")
        return
    for i in range(2,val): # [2,3,4,5,6...val-1] 
        if val % i == 0:
            print(f"{val} is not a Prime Number")
            break
    else:
        print(f"{val} is a Prime Number")

is_prime(21)

21 is not a Prime Number

In [4]:
is_prime(17)

17 is a Prime Number

In [8]:
is_prime(-17)

In [10]:
is_prime(7)

7 is a Prime Number

In [12]:
# Check for a Palindrome -> 'racecar' , 'wow', 'nitin', 'mom', 'madam', 'malayalam'
def is_palindrome(val):
    return str(val) == str(val)[::-1] # reverse of it [Boolean Return]

_bool = is_palindrome('racecar')
if _bool == True:
    print(f"It is a palindrome.")
else:
    print(f" It is not a palindrome.")

It is a palindrome.

In [13]:
def is_palindrome(val):
    return str(val) == str(val)[::-1] # reverse of it [Boolean Return]

val = input("Enter the value to check wether its a palindrome or not: ")
_bool = is_palindrome(val)
if _bool == True:
    print(f"{val} is a palindrome.")
else:
    print(f"{val} is not a palindrome.")

Enter the value to check wether its a palindrome or not:  malayalam

malayalam is a palindrome.

In [15]:
def is_palindrome(val):
    return str(val) == str(val)[::-1] # reverse of it [Boolean Return]

val = input("Enter the value to check wether its a palindrome or not: ")
_bool = is_palindrome(val)
print(_bool)
if _bool == True:
    print(f"{val} is a palindrome.")
else:
    print(f"{val} is not a palindrome.")

Enter the value to check wether its a palindrome or not:  Phone

False
Phone is not a palindrome.

In [16]:
def is_armstrong(val):
    str_val = str(val) # '153'
    num_digits = len(str_val) # 153 -> 3
    sum_of_power = 0
    for digit in str_val:
        sum_of_power += int(digit) ** num_digits
    return  sum_of_power == val # Boolean Return

print(is_armstrong(153))

True

In [17]:
print(is_armstrong(129))

False

In [18]:
print(is_armstrong(371))

True

In [19]:
print(is_armstrong(1634))

True

In [23]:
# GCD (Greatest Common Divisor):
def gcd(x,y): # 12 , 18
    while y!=0:
        x,y = y , x % y 
    return abs(x)

gcd(12,18) # 6

6

In [24]:
# LCM (Least Common Multiples)
def lcm(x,y):
    return abs(x*y) // gcd(x,y)

lcm(12,18)

36

In [25]:
lcm(12,-18)

36

# Passing a Function as an argument:
#### In Python Fuctions are First Class Citizen -> this means they can be :
- Assigned to variables
- Passes as argument to other functions
- Returned from other Functions

In [28]:
def transfrom_list(func , items):
    return [func(item) for item in items]

def apply_discount(price):
    return round(price * 0.9, 2) # 10 discount = 1 - 0.1 = 0.9

def add_tax(price):
    return round(price * 1.05 , 2) # 5% tax

prices = [100,250,399,50,120]
discounted = transfrom_list(apply_discount , prices)
taxed = transfrom_list(add_tax , discounted)

print("Original Prices : " , prices)
print("Discounted Prices : " , discounted)
print("Prices with tax : " , taxed)

Original Prices :  [100, 250, 399, 50, 120]
Discounted Prices :  [90.0, 225.0, 359.1, 45.0, 108.0]
Prices with tax :  [94.5, 236.25, 377.06, 47.25, 113.4]

In [29]:
def transfrom_list(func , items):
    return_list = []
    for item in items:
        val = func(item)
        return_list.append(val)
    return return_list
def apply_discount(price):
    return round(price * 0.9, 2) # 10 discount = 1 - 0.1 = 0.9

def add_tax(price):
    return round(price * 1.05 , 2) # 5% tax

prices = [100,250,399,50,120]
discounted = transfrom_list(apply_discount , prices)
taxed = transfrom_list(add_tax , discounted)

print("Original Prices : " , prices)
print("Discounted Prices : " , discounted)
print("Prices with tax : " , taxed)

Original Prices :  [100, 250, 399, 50, 120]
Discounted Prices :  [90.0, 225.0, 359.1, 45.0, 108.0]
Prices with tax :  [94.5, 236.25, 377.06, 47.25, 113.4]

In [1]:
# Returning Sum & Products
def sum_and_product(x,y):
    return x+y , x*y

_sum , _product = sum_and_product(11,7)
print(_sum) # 18
print(_product) # 77

18
77

In [2]:
def sum_and_product(x,y):
    return x+y , x*y, x-y, x/y

_sum , _product , _sub , _divide = sum_and_product(11,7)
print(_sum) # 18
print(_product) # 77
print(_sub) # 4
print(_divide) # 1.57

18
77
4
1.5714285714285714

In [3]:
# Global Scope Vs Local Scope
x = 10
def greet():
    y = 15
    print(x) # 10
    print(y) # 15
greet()

10
15

In [5]:
# Global Scope Vs Local Scope
x = 10
def greet():
    y = 15
    print(x) # 10
    print(y) # 15
greet()
print(x) # 10
# print(y) # NameError: name 'y' is not defined

10
15
10

In [8]:
#  Local Scope
def greet():
    m = 10
    n = 15
    print(m) # 10
    print(n) # 15
greet()
# print(m) # NameError: name 'm' is not defined
# print(n) # NameError: name 'n' is not defined

10
15

In [9]:
gesture = "Happy" # global
def how_you_feel():
    gesture = "worried" # local
    print(f"I'm feeling {gesture}")

print(f"I'm feeling {gesture}") # Happy
how_you_feel() # 'worried'
print(f"I'm feeling {gesture}") # Happy

I'm feeling Happy
I'm feeling worried
I'm feeling Happy

In [10]:
# What if I'll give power to local scope to make it recognize Globally [using 'global' keyword]
i = 10 # global
def greet():
    global j
    j = 15 # local
    print(i) # 10
    print(j) # 15

greet()
print(j) # 15

10
15
15

In [12]:
# Nested Function [Level - 'LEGB']
p = 11
def outer_fx():
    q = 21
    def inner_fx():
        r = 51
        s = 101
        print(p) # 11 [Global]
        print(q) # 21 ['Enclosing Type']
        print(r) # 51 ['Local']
        print(s) # 101 ['Local']
        print(len(['a','b','c','d',1,False,'Coding'])) # 7 ['Built In']
    # print(p) # 11
    # print(q) # 21
    inner_fx()
outer_fx()
# print(p) # 11

11
21
51
101
7

In [14]:
# Nested Function [Level - 'LEGB']
p = 11
def outer_fx():
    q = 21
    def inner_fx():
        r = 51
        s = 101
        print(p) # 11 [Global]
        print(q) # 21 ['Enclosing Type']
        print(r) # 51 ['Local']
        print(s) # 101 ['Local']
        print(len(['a','b','c','d',1,False,'Coding'])) # 7 ['Built In']
    print(p) # 11
    print(q) # 21
    # inner_fx()
outer_fx()
print(p) # 11

11
21
11

In [17]:
a = 11
b = 21
def outer_fx():
    c = 51
    d = 77
    def inner_fx():
        e = 99
        global f
        f = 101
        print(e+f) # 200
    inner_fx()
    print(f) # 101
    print(b) # 21
    print(c) # 51
    # print(e) # Local Scope # NameError: name 'e' is not defined
outer_fx()
print(f) # 101

200
101
21
51
101

In [20]:
# Shadowing in Nested Scope: [uvw]
u = 5
def first_layer():
    u = 15
    v = 25

    def second_layer():
        u = 35
        w = 45
        print("In Second Layer")
        print(u) # 35
        print(v) # 25
        print(w) # 45

    print("In First Layer")
    print(u) # 15
    print(v) # 25
    second_layer()
first_layer()
# print(u) # 5 [Global Scope]

In First Layer
15
25
In Second Layer
35
25
45

In [33]:
u = 5
a = 7
def first_layer():
    u = a +  10 # 17
    v = 25
    
    def second_layer():
        u = 35
        w = 45
        print("In Second Layer")
        print(u) # 35
        print(v) # 25
        print(w) # 45

    print("In First Layer")
    print(u) # 17
    print(v) # 25
    second_layer()
first_layer()
print(u) # 5 [Global Scope]

In First Layer
17
25
In Second Layer
35
25
45
5

In [34]:
u = 5
a = 7
def first_layer():
    u = a +  10 # 17
    v = u + 25 # 42
    
    def second_layer():
        u = 35
        w = 45
        print("In Second Layer")
        print(u) # 35
        print(v) # 42
        print(w) # 45

    print("In First Layer")
    print(u) # 17
    print(v) # 42
    second_layer()
first_layer()
print(u) # 5 [Global Scope]

In First Layer
17
42
In Second Layer
35
42
45
5

In [21]:
# Nested Function with Internal Call
def start_process():
    print("Starting the Process..")
    step_one()
    print("Main Process Complete.")

def step_one():
    print("Starting Step One")
    step_two()
    print("Step One Complete")

def step_two():
    print("Starting Step Two")
    print("Performing the Final Operations......")
    print("Step Two Complete")

start_process()

Starting the Process..
Starting Step One
Starting Step Two
Performing the Final Operations......
Step Two Complete
Step One Complete
Main Process Complete.

In [23]:
# Complex Nested Functions:
def math_operations(p,q):
    def do_sum(m,n):
        return m+n
    def do_product(m,n):
        return m*n
    def execute(action,m,n):
        if action == 'sum':
            return do_sum(m,n)
        elif action == 'product':
            return do_product(m,n)
        else:
            return 'Unknown Action'  
    return execute("sum",p,q) , execute("product",p,q)

result = math_operations(11,7) # (sum,product)
print(result) # (18,77)

(18, 77)

In [24]:
def factorial(n):
    if n == 0 or n == 1: # Base Case
        return 1
    else:
        return n * factorial(n-1)

fact = factorial(5) # 120
print(fact)

120

In [25]:
fact = factorial(10)
print(fact)

3628800

In [27]:
# Iterative Approach:
def factorial(n):
    result = 1
    for i in range(2 , n+1):
        result *=i
    return result
print(factorial(5))

120