In [2]:
print("Hello EveryOne!")

Hello EveryOne!

Welcome To the Python Course!

# Python Programming
#### Let's Learn Together , Grow Together!!
1. Learn Faster!
2. Grow Faster
- It is a programming Language.
    - It's a high level language.
        - Easy To understand. (Human Readable)
- Handles Large Dataset.
- Python is a case-sensitive language
- It's an interpreter language
- Rich in Libraries
- Amazing Support from the community
- Its an platform independent. -> .py

# Java
int x = 10
System.out.println(x)

In [15]:
# Python
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [16]:
x = "Coding Ninja"
print(x)
print(type(x))

Coding Ninja
<class 'str'>

In [17]:
x = 'k'
print(x)
print(type(x))

k
<class 'str'>

In [18]:
x = int('10') + 1
print(x)
print(type(x))

11
<class 'int'>

In [19]:
x = 10.5
print(x)
print(type(x))

10.5
<class 'float'>

In [20]:
x = 9 + 6j
print(x)
print(type(x))

(9+6j)
<class 'complex'>

In [22]:
# parameters "\n" by default
print("Python")
print("Programming")

Python
Programming

In [24]:
print("Python" , end = " ")
print("Programming")
print("Coding is Awesome 🔥")

Python Programming
Coding is Awesome 🔥

In [25]:
# seperator -> concat_ws
print("Mon","Tues","Weds","Thurs","Fri")

Mon Tues Weds Thurs Fri

In [26]:
print("Mon","Tues","Weds","Thurs","Fri" , sep = " - ")

Mon - Tues - Weds - Thurs - Fri

#### Input() 
- Used to accept user input from the keyboard as a string, which can be further type cast as per the requirement.

In [2]:
user_input = input("Enter the user_name: ")
print(user_input)

Enter the user_name:  Venom

Venom

In [3]:
user_input = input("Enter the gaming_name: ")
print(user_input)

Enter the gaming_name:  DaddyDamage

DaddyDamage

In [5]:
val = input("Enter the value: ")
print(val)
print(type(val))

Enter the value:  10

10
<class 'str'>

In [6]:
val = int(input("Enter the value: "))
print(val)
print(type(val))

Enter the value:  11

11
<class 'int'>

In [7]:
print(val * 5)

55

In [10]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10
print(x)

Enter the value between 1-100 :  75

85

In [25]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10 # '75' + 10 - TypeError: can only concatenate str (not "int") to str
print(x)

Enter the value between 1-100 :  66

76

In [29]:
x = str(x)
print(x)
print(type(x))

76
<class 'str'>

In [30]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print("Hey " + user_name + " Welcome to the Python Course, You being registered with " + email + " :)")

Enter the username:  utkarshdev
Enter your personal mail:  utkarssh@gmail.com

Hey utkarshdev Welcome to the Python Course, You being registered with utkarssh@gmail.com :)

In [31]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print(f"Hey {user_name} Welcome to the Python Course, You being registered with {email} :)")

Enter the username:  iaarifpathan
Enter your personal mail:  iaarifpathan@gmail.com

Hey iaarifpathan Welcome to the Python Course, You being registered with iaarifpathan@gmail.com :)

- Single Line Comments - #
- Multi Line Comments - '''

In [32]:
# This is a single line comment
print("Python Programming")

Python Programming

In [36]:
'''
    This is a multiline comments....
    Put some important stuff here relevant to 
    your python program
'''
num1 = int(input("Enter the first value: "))
num2 = int(input("Enter the second value: "))
result = num1 * num2
print("The final result is " , result)
print(f"The final result is {result + 10}")

Enter the first value:  10
Enter the second value:  5

The final result is  50
The final result is 60

In [37]:
fav_car = input("Enter your Dream Car: ")
print("My Dream Car is : " + fav_car)

Enter your Dream Car:  Defender

My Dream Car is : Defender

In [38]:
# Indentation:
z = 15
if z > 10: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

z is greater than 10
Outside the if statement

In [39]:
# Indentation:
z = 15
if z > 20: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

Outside the if statement

# Variables : What & Why?
#### Variables acts as an container for storing data, They help with:
- Storing Data
- Manipulating Values
- Reusability
- Improving the Readibility 
    -  total_sum >> ts
    -  compound_interest >> c_i
    -  age
    -  finding_prod_sum >> finding_the_product_and_sum >> p_s

In [40]:
# Declaring and assigning variables:
val = 99
user_name = "UltimateForce"
print(val)
print(user_name)

99
UltimateForce

In [43]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [48]:
a,b,*c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
20
<class 'int'>
[30, 40, 50]
<class 'list'>

In [56]:
a,*b,c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 40]
<class 'list'>
50
<class 'int'>

In [57]:
a,*b,c = 10,20,30,'a','b',40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 'a', 'b', 40]
<class 'list'>
50
<class 'int'>

In [58]:
p=q=r=s= "Ninjas"
print(p)
print(q)
print(r)
print(s)

Ninjas
Ninjas
Ninjas
Ninjas

## Rules for naming a "Variables"
- Can include letters, digits and underscore
- Must start with a letter or underscore
- case-sensitive
    - val != Val
    - num != nuM
    - digit != Digit
- Can't use Python Keywords
    - for, input, while, print, if, elif, tuple, list, set, dict, true, false
- Can't have spaces or special characters (except _)
- Variable name can't start with numbers.

In [3]:
my_first_variable = "Python"
print(my_first_variable)

Python

In [2]:
_var = "Coding"
print(_var)

Coding

In [6]:
# String -> Escape Character
print("Hi, I'm good, What about you?")
print('Hi, I\'m good, What about you?')

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [7]:
print("an \"apple\" a day keeps a doctor away")

an "apple" a day keeps a doctor away

In [12]:
print("Hi Everyone! Welcome to the course")

Hi Everyone! Welcome to the course

In [15]:
# Multiline String -> <pre> tag in HTML [Markup Language]
print("""
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    
    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

""")

    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise

    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

In [20]:
# Escape characters "\n"[Next line] & "\t"[tab space]
print("Hey: What's your name: \t 'Aditya Verma'")
print("Hello\nWorld")
print("x", end=" ")
print("y", end=" ")
print("z", end="\n")
print("Welcome Back!")

Hey: What's your name: 	 'Aditya Verma'
Hello
World
x y z
Welcome Back!

In [21]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [22]:
num1 = 99.99
print(int(num1))

99

In [23]:
x = 55
y = str(x)
print(y)
print(type(y))

55
<class 'str'>

In [24]:
_bool = True
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

1
<class 'bool'>
<class 'int'>

In [25]:
_bool = False
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

0
<class 'bool'>
<class 'int'>

# What are Operators?
#### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### Types of Operators in Python:
1. Arithmetic Operators

2. Comparison Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Membership Operators

7. Identity Operators

### Arithmetic Operators:
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division (floating)
- '%' Modulus (remainder)
- '**' Exponentiation
- '//' Floor Division

In [1]:
x = 11
y = 7
z = 15
print(x+y) # 18 'One 8' [Virat Kohli]
print(x-y) # 4
print(x*y) # 77 ['Shubman Gill']
print(x/y) # 1.57....
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x ** 2) # 121
print(x // 2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

In [2]:
print(x ** y)

19487171

# You can't do addition with 2 different data type
x = '10' + 11 # TypeError: can only concatenate str (not "int") to str
print(x)

### Comparison Operators (Return Boolean Result):
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or  Equal to
- '<' Less Than
- '<=' Less Than or Equal to

In [5]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x)  # False
print(x != 2) # True
print(x >= 2) # True

False
True
True
False
True
True
False
False
True
True

#### Logical Operators:
- and : 'Return True' if both the conditions are True
- or : 'Return False' if both the conditions are False
- not : Return the opposite.

In [6]:
x = 11
y = 7
z = 15
print((x==y)and(z!=y)or(y>x)) # False
print((x!=y)or(z!=y)or(y>x)) # True
print((x>=y)and(z==y)and(z>x)) # False
print(not(z!=15)) # True
print(not((x<=y)and(z>=y)or(y!=x))) # False

False
True
False
True
False

In [7]:
print(not(x<=y)and(z>=y)or(y!=x)) # True

True

In [8]:
print(not(x<=y)or(z<=y)and(y!=x)) # (T or F and T) # (T or F) # T

True

### Bitwise Operators:
- 'AND' = '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' = '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR' = '^' -> 'Alternative Bits return 1 else same bits returns 0'
- 'NOT' = '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' = '<<' -> 'Shift bits to the left'
- 'Right Shift' = '>>' -> 'Shift bits to the right'

In [9]:
x = 10
y = 6
print(x & y) # 2

2

In [10]:
x = 10
y = 6
print(x | y) # 14

14

In [12]:
x = 10
y = 6
print(x ^ y) # 12

12

In [13]:
x = 10 
print(~x)

-11

In [14]:
x = 7 
print(~x)

-8

In [16]:
x = -17 
print(~x)

16

In [17]:
x = 10
print(x<<2)

40

In [18]:
x = 10
print(x>>2)

2

#### Assignment Operators : 
- '=' -> (x = 5)
- '+=' -> x+=5 -> x = x + 5
- '-=' -> x-=5 -> x = x - 5
- '*=' -> x *=5 -> x = x * 5
- '/=' -> x/=5 -> x = x / 5
- '%=' -> x%=5 -> x = x % 5
- '//=' -> x//=5 -> x = x // 5
- '**=' -> x **=5 -> x = x ** 5

In [4]:
x = 10
y = 11
z = 7
x += y
print(x) # x = x+y => 10+11 => x = 21
x -= z
print(x) # x = x-z => 21-7 => x = 14
x /= 2
print(x) # x = 14/2 = 7.0

21
14
7.0

In [5]:
x *= x
print(x)

49.0

In [6]:
x %= y # x = 49 % 11 = 5
print(x)

5.0

In [7]:
x //= z
print(x) # x = 5.0 // 7 => 0

0.0

In [8]:
y **= x # y = 11 ** 0 => 1
print(y)

1.0

In [9]:
z += y # 7 + 1.0 => 8.0
print(z) # 8.0

8.0

#### Membership Operators:
- Its Returns Boolean Value
- 'in' -> True if the value is in the sequences
- 'not  in' -> True if the value is not in the sequence

In [10]:
print('hello' in 'hello world')
print('hello' not in 'hellz world')

True
True

In [11]:
print('I' in 'India')
print('I' not in 'America')

True
True

In [12]:
print('mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun'])
print('mon' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun'])

False
True

In [14]:
print('mon' in {'mon' : 'Mon', 'tue':'Tues'})
print('Mon' in {'mon' : 'Mon', 'tue':'Tues'})

True
False

In [15]:
x = int(True)
print(x)

1

In [16]:
y = int(False)
print(y)

0

#### Identity Operators
- 'is' -> Returns True if both the variables refers to the same object (having same memory address)
- 'is not' -> Returns True if both the variables refers to the different objects (different memory address)

In [17]:
# '==' comparison operator (data equality)
# 'is' compares the identities (object equality)
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b) # True (same content)
print(a is b) # True (same object in memory)

print(a == c) # True (same content)
print(a is c) # False (different objects in memory)

True
True
True
False

In [18]:
print(a is not c)

True

In [19]:
# '==' comparison operator (data equality)
# 'is' compares the identities (object equality)
a = [1,2,3]
b = a
c = ['a',2,3]
print(a == b) # True (same content)
print(b is a) # True (same object in memory)

print(a == c) # False (same content)
print(a is c) # False (different objects in memory)

True
True
False
False

In [20]:
print(id(a))
print(id(b))
print(id(c))

2375515348800
2375515348800
2375515347072

## Order of Operations (PEMDAS / BODMAS):
1. () Parentheses
2. ** Exponent
3. '*' '/' '//' '%' Mulitplication, Division
4. '+' '-' Addition, Subtraction
5. Bitwise Operations
6. Comparisons
7. Identity / Membership
8. not > and > or (Logical Operators)

In [23]:
cond1 = (10*3)+((10<<3)*(10%3)) # 30 + (80 * 1) = 110
cond2 = (5**2)*((3//2)-(10%7)) # (25) * (1 - 3) => 25 * -2 = -50
_bool = cond1 > cond2 # 110 > -50.0 # True
print(cond1)
print(cond2)
print(_bool)

110
-50
True

In [24]:
print(cond1 is cond2) # False
print(cond1 is not cond2) # True
print(id(cond1)) # Memory Address
print(id(cond2)) # Memory Address

False
True
140710664419160
2375497281584

In [25]:
print(((5 + 3 * 2) * 2 // 5 % 4 << 1 | 3) & 15 > 10 and not (8 >> 2 == 2) or (7 ^ 3 != 4))

False

In [28]:
# Built in Functions
result = divmod(19,5)
print(result) # tuple(q,r) -> 'q' means quotient & 'r' means remainder

(3, 4)

In [32]:
print(round(19.4562,2))

19.46

In [34]:
# Strings :
# Indexing & Slicings
# In Python Indexing starts from zero '0'
# slicings [start : stop : step]

In [35]:
# Indexing [position] -> positive 'l to r' / negative 'r to l'
_str = "Coding Ninja"
print(_str[0]) # 'C'
print(_str[5]) # 'g'
print(_str[6]) # ' '
print(_str[-1]) # 'a'
print(_str[-5]) # 'N'

C
g

a
N

In [36]:
print(_str[9]) # 'n'
print(_str[-11]) # '0'

n
o

print(_str[15]) # IndexError: string index out of range

In [42]:
# Slicing [start [0] : stop [last char] , step [1]]
_str = "Coding Ninja"
print(_str[:6]) # 'Coding'
print(_str[7:]) # 'Ninja'
print(_str[0:12:2]) # 'Cdn ij'
print(_str[0:12:3]) # 'Ci n'
print(_str[:]) # 'Coding Ninja'

Coding
Ninja
Cdn ij
Ci n
Coding Ninja

In [46]:
print(_str[11]) # 'a'
print(_str[0:15:2]) # 'Cdn ij'
print(_str[0:20]) # 'Coding Ninja'

a
Cdn ij
Coding Ninja

In [47]:
print(_str[-5:]) # 'Ninja'
print(_str[::-1]) #reverse the string

Ninja
ajniN gnidoC

In [48]:
print(_str[-3:0]) # ''

In [49]:
print(_str[0:0]) # ''

In [50]:
print(_str[-3:0:-1]) # 'niN gnido'

niN gnido

In [2]:
# String Case Methods
_str = 'Python is Awesome 🔥'
print(len(_str))

19

In [3]:
print(_str.upper())

PYTHON IS AWESOME 🔥

In [4]:
print(_str.lower())

python is awesome 🔥

In [8]:
print(_str.title()) # Convert the first letter of each word to uppercase and the rest to lowercase

Python Is Awesome 🔥

In [9]:
print(_str.capitalize()) # Convert the first letter of whole sentence to uppercase and rest to lower

Python is awesome 🔥

In [11]:
# String Operations
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2 # Concatenation
print(new_string)

Coding Ninjas

In [12]:
name = 'Aditya'
age = 29
print(f'Hi, {name}, You are {age} year old.')

Hi, Aditya, You are 29 year old.

In [15]:
# TypeError: can only concatenate str (not "int") to str
name = 'Aditya'
age = 29
print('Hi' + name + ', You are ' + str(age) + ' year old.')

HiAditya, You are 29 year old.

In [16]:
print(type(age))

<class 'int'>

In [19]:
# Repeat (*)
_echo = 'Ninjas\n'
print(_echo * 3)

Ninjas
Ninjas
Ninjas

In [20]:
# String Comparison
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [22]:
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [23]:
_str1 = 'coding'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [24]:
_str1 = 'coding'
_str2 = 'Zodiac'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [25]:
_str1 = 'cODING'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [26]:
_str1 = 'swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

's' > 'S' [small character having greater ASCII Values > 'S' having low ASCII Value]
length also plays an important role if the previous characters going to tie.

In [27]:
# Common String Methods
# replace
_str = 'Python is Awesome!'
new_str = _str.replace('Awesome', 'Fantastic')
print(new_str)

Python is Fantastic!

In [28]:
print(_str)

Python is Awesome!

In [29]:
_str = 'Python is Awesome!'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme!

In [30]:
# split()
_text = 'Indore@MadhyaPradesh@India'
print(_text.split('@'))

['Indore', 'MadhyaPradesh', 'India']

In [32]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [41]:
topic_list[1]

'Python'

In [44]:
split_str = "ViratKohli MSD RohitSharma Sachin"
print(split_str.split())

['ViratKohli', 'MSD', 'RohitSharma', 'Sachin']

In [45]:
file_path = "http://localhost:8889/notebooks/anaconda_projects/CN-Python-TTS/PythonSession.ipynb?"
path_list = file_path.split('/')
print(path_list)

['http:', '', 'localhost:8889', 'notebooks', 'anaconda_projects', 'CN-Python-TTS', 'PythonSession.ipynb?']

In [49]:
# String Format -> .format() / f-string
name = 'Jasaswini'
age = 27
gender = 'Female'
print('Hi, {}.... You are {} years old. Congratulation! You are {}!'.format(name,age,gender))

Hi, Jasaswini.... You are 27 years old. Congratulation! You are Female!

In [50]:
# String Format -> .format() / f-string
name = 'Jasaswini'
age = 27
gender = 'Female'
print(f'Hi, {name}.... You are {age} years old. Congratulation! You are {gender}!')

Hi, Jasaswini.... You are 27 years old. Congratulation! You are Female!

In [51]:
# Strip() -> same like trim 
print('    Python Programming      '.strip())

Python Programming

In [52]:
# Strip() -> same like trim 
print('******Python Programming*******'.strip('*'))

Python Programming

In [53]:
# Strip() -> same like trim 
print('******Python Programming'.strip('*'))

Python Programming

In [54]:
# Strip() -> same like trim 
print('Python Programming********'.strip('*'))

Python Programming

In [55]:
# Strip() -> same like trim 
print('$$$$$$$Python Programming********'.strip('*').strip('$'))

Python Programming

In [59]:
# Strip() -> same like trim 
print('$$$$$$$Python Programming********'.strip('*$'))

Python Programming

In [56]:
# index() -> position 
_str = "This is a Python Course!"
print(_str.index('is'))

2

In [62]:
# index() -> position 
_str = "This is a Python Course!"
# print(_str.index('python')) # ValueError: substring not found
print(_str.index('Python'))

10

In [63]:
# index() -> position 
_str = "This is a Python Course!"
print(_str.index('is',3,10)) # index(substr,start,stop)
print(_str.index('is',3)) # index(substr,start,stop)

5
5

index(substr, start = 0, stop = 'len(text)')

In [64]:
# String Checks() -> Returns Boolean Result
print("CodingNinjas".isalpha()) # True
print("Ninja99".isalpha()) # False
print("Ninja99".isalnum()) # True
print("CodingNinja".isupper()) # False
print("CODING".isupper()) # True
print("coding".islower()) # True
print("123456789".isnumeric()) # True
print("coding123".isnumeric()) # False
print("coding123".isnumeric()) # False
print('Mentorship Program!77'.swapcase()) # lower -> upper & upper -> lower

True
False
True
False
True
True
True
False
False
mENTORSHIP pROGRAM!77

In [65]:
# startswith (Boolean Return)
_str = 'Hey, Welcome to the World of Programming!'
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome',5)) # True

False
True
False
False
True
True

In [68]:
# endswith (Boolean Return)
_str = 'Hey, Welcome to the World of Programming!'
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!',-4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!',-3)) # False

False
False
True
True
True
True
True
False

In [69]:
# .count() -> 'substring' -> count the substring
_str = "This is a Python Course!"
print(_str.count('is'))

2

In [70]:
print('is' in _str)

True

# What is a Data Structure?
#### A data structure is simply a way to organize and store data in memory, so that we can use it efficiently.

## Why do we need to use them?
1. Organizations : Keep the data neat and easy to find.
2. Efficiency - Helps to perform operations (insert, delete, search) quickly.
3. Memory Management - Savas space, avoid waste.
4. Flexibility - Can store all sorts of data (number, text, etc.)
5. Abstraction - Hides the complex details, we just call simple operations
6. Scalability - Good Data Structure lets our program handle more data without slowing down.

# Lists in Python:
#### A List is :
1. An ordered collection (items have a fixed position).
2. mutable (can be changed after creation).
3. Allows Duplicates.
4. Lists are also flexible -> they can store different data types together like integers, string, booleans, etc.

## Why use lists?
- To keep a group of related items togethers in a specific order.
- To easily add, remove, change, or access the elements.
- To perform the task like sorting, or summing values.

In [2]:
_list = []
print(_list)
print(type(_list))

[]
<class 'list'>

In [3]:
_list = [1,2,3,4,5] # integer _list
print(_list)

[1, 2, 3, 4, 5]

In [4]:
_list = [1,2.9,False,'coding','k'] # mixed _list
print(_list)

[1, 2.9, False, 'coding', 'k']

In [8]:
# Duplicate elements are allowed in List
country_list = ['India','America','Russia','China','Canada','Japan','Vietnam',
                'Sri-Lanka','Japan','France','India','Singapore','Australia',
                'China','New Zealand','Finland']
print(country_list)
print(type(country_list))

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
<class 'list'>

In [10]:
# list() constructor
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka',
                     'Japan','France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list)
print(type(country_list))

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
<class 'list'>

In [15]:
_list = list("Coding")
print(_list)
print(type(_list))

['C', 'o', 'd', 'i', 'n', 'g']
<class 'list'>

In [16]:
_list = list(("Coding",))
print(_list)
print(type(_list))

['Coding']
<class 'list'>

In [19]:
_list = list(["Coding"])
print(_list)
print(type(_list))

['Coding']
<class 'list'>

In [17]:
val = ('Python')
print(type(val))

<class 'str'>

In [18]:
val = ('Python',)
print(type(val))

<class 'tuple'>

In [22]:
# Nested List -> A List inside a List
nested_list = [
    111,
    'Coding',
    [11,22,33,44,55],
    'Python',
    ['a','b','c','d','e'],
    True
]
print(nested_list)
print(nested_list[0]) # 111
print(nested_list[2]) # [11,22,33,44,55]
print(nested_list[2][1]) # 22
print(nested_list[4][-1]) # 'e'

[111, 'Coding', [11, 22, 33, 44, 55], 'Python', ['a', 'b', 'c', 'd', 'e'], True]
111
[11, 22, 33, 44, 55]
22
e

In [24]:
# Indexing & Slicing 
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list[0]) # 'India'
print(country_list[5]) # 'Japan'
print(country_list[-4]) # 'Australia'
print(country_list[15]) # 'Finland'
print(country_list[-1]) # 'Finland'
print(country_list[-7]) # 'France'
# print(country_list[-17]) # IndexError: list index out of range
# print(country_list[17]) # 'Index Error'

India
Japan
Australia
Finland
Finland
France

# Slicing if applied on a string means taking the substring of a string 
# Slicing on List means cutting down the list to sublist.
# Slicing [start:0, stop: length of a list [exclude], step = 1]

In [25]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list[::]) # [Full List]
print(country_list[2:5]) # ['Russia','China','Canada']
print(country_list[9:]) # ['France','India','Singapore','Australia','China','New Zealand','Finland']
print(country_list[-5:]) #  ['Singapore','Australia','China','New Zealand','Finland']
print(country_list[-9:2]) #  []
print(country_list[-9:2:-1]) #  ['Sri-Lanka','Vietnam','Japan','Canada','China']
print(country_list[-4:-2]) #  ['Australia','China']

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
['Russia', 'China', 'Canada']
['France', 'India', 'Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
['Singapore', 'Australia', 'China', 'New Zealand', 'Finland']
[]
['Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China']
['Australia', 'China']

In [28]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(country_list[-9:2:-2]) # ['Sri-Lanka','Japan','China']
print(country_list[-9:2:-3]) # ['Sri-Lanka','Canada']
print(country_list[-9:2:-4]) # ['Sri-Lanka','China']
print(country_list[-9:-2]) # ['Sri-Lanka','Japan','France','India','Singapore','Australia','China','New Zealand']

['Sri-Lanka', 'Japan', 'China']
['Sri-Lanka', 'Canada']
['Sri-Lanka', 'China']
['Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'China']

In [29]:
print(country_list[-9:12]) #  ['Sri-Lanka','Japan','France','India','Singapore']

['Sri-Lanka', 'Japan', 'France', 'India', 'Singapore']

In [32]:
print(country_list[-9:2:-1])
print(country_list[-9:-5:2])

['Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China']
['Sri-Lanka', 'France']

In [33]:
# Basic List Operations: 
# len() -> returning the length of a list or number of elements present in a list
print(len(country_list))

16

In [40]:
# min(),max(),sum()
_num_list = [11,22,33,44,55,66,77,88,99,110]
print(len(_num_list)) # 10
print(min(_num_list)) # 11
print(max(_num_list)) # 110
print(sum(_num_list)) # sum of all elements

10
11
110
605

In [41]:
_num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # False -> 0 , True = 1
print(len(_num_list)) # 12
print(min(_num_list)) # 0 [False]
print(max(_num_list)) # 110 
print(sum(_num_list)) # sum of all elements + 1 [True] [605 + 1] = 606

12
False
110
606

In [36]:
print(int(False))

0

In [37]:
print(int(True))

1

In [39]:
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(min(country_list)) # 'America'
print(max(country_list)) # 'Vietnam'
# print(sum(country_list)) # TypeError: unsupported operand type(s) for +: 'int' and 'str'

America
Vietnam

In [42]:
# ASCII plays an important role in finding the min and max respect to characters
country_list = list(('india','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
print(min(country_list)) # 'America'
print(max(country_list)) # 'india'

America
india

In [46]:
# List are mutables [means we can change the list content]
country_list = list(('India','America','Russia','China','Canada','Japan','Vietnam','Sri-Lanka','Japan',
                     'France','India','Singapore','Australia','China','New Zealand','Finland'))
country_list[-3] = 'Spain' # 'china' -> 'Spain'
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'Japan', 'France', 'India', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland']

In [47]:
country_list[8:11] = ['France'] # ['Japan','France','India'] -> ['France']
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland']

('France') # String
('France',) # tuple
['France'] # list

In [50]:
# Repeating a content of a list -> '*'
char_list = ['a','b','c','d',False]
print(char_list * 3)
print(len(char_list * 3))

['a', 'b', 'c', 'd', False, 'a', 'b', 'c', 'd', False, 'a', 'b', 'c', 'd', False]
15

#### Adding items in a List:
1. .append() -> Add one item at the end
2. .extend() -> Adds all items from another lists
3. .insert() -> Insert an item at specific index

In [56]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.append('Nepal')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal']

In [57]:
new_country_list = ['South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']
country_list.extend(new_country_list)
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']

In [58]:
country_list.insert(3,'Qatar') # insert(pos,val)
print(country_list)

['India', 'America', 'Russia', 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']

In [59]:
country_list.insert(3,['Bangladesh','Turkey']) # insert(pos,val)
print(country_list)

['India', 'America', 'Russia', ['Bangladesh', 'Turkey'], 'Qatar', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Nepal', 'South Africa', 'UAE', 'Iran', 'Thailand', 'Afghanistan', 'Myanmar', 'Maldives']

In [61]:
# Adding a list using '+' operator [Concatenation]
weekday_list = ['Mon','Tue','Wed','Thurs','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
print(week_list)
print(type(week_list))

['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
<class 'list'>

In [66]:
# Indexing in nested_list
nested_list = [
        [1,2,3,4,5],
        [2,4,6,8,10],
        [1,3,5,7,9]
    ]
print(nested_list[0][1]) #2
print(nested_list[-1][-1]) # 9
print(nested_list[2][-3]) # 5
print(nested_list[-1][-5]) # 1
print(nested_list[2][-5]) # 1

2
9
5
1
1

In [75]:
nested_list = [
        [1,2,3,4,5],
        [2,4,6,8,10],
        [1,3,5,7,9]
    ]
print(nested_list[0:2]) # 1st 2 list

[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10]]

In [76]:
print(nested_list[::-1]) # rows reversed

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10], [1, 2, 3, 4, 5]]

In [81]:
print(nested_list[::-1][0:2]) # 1st 2 rows of above cell [reversed rows]

[[1, 3, 5, 7, 9], [2, 4, 6, 8, 10]]

In [82]:
print(nested_list[-1][1:4])

[3, 5, 7]

In [2]:
# Comparison List 
_list1 = [1,2,3,4,5]
_list2 = [1,2,3]
result = (_list1 == _list2)
print(result) # False

False

In [4]:
_list1 = [1,2,3,4,5]
_list2 = [1,2,3,4,5]
result = (_list1 == _list2)
print(result) # True

True

In [5]:
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 != _list2)
print(result) # True

True

In [6]:
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 >= _list2)
print(result) # True

True

In [7]:
_list1 = [1,2,3,4,5,6,7]
_list2 = [1,2,3,4,5]
result = (_list1 <= _list2)
print(result) # False

False

In [8]:
_list1 = [1,2,3,4,5]
_list2 = ['1','2','3','4','5']
result = (_list1 != _list2)
print(result) # True

True

_list1 = [1,2,3,4,5]
_list2 = ['1','2','3','4','5']
result = (_list1 <= _list2)
print(result) # TypeError: '<=' not supported between instances of 'int' and 'str'

In [11]:
_list1 = ['a','b','c']
_list2 = ['1','2','3','4','5']
result = (_list1 >= _list2) 
print(result) # True

True

## Removing items from list:
1. remove -> Remove the first occurrence of a element
2. pop -> Removes by index, returns value can be stored in a new variable
3. del -> delete by index or slicing
4. clear -> Empties the list

In [12]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.remove('Spain')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand', 'Finland']

In [13]:
country_list.remove('Finland')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

country_list.remove('UAE') # country_list.remove('Finland')
print(country_list)

In [14]:
country_list.append('Spain')
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand', 'Spain']

In [15]:
# While applying pop(idx), we can store the popped element in new_variable, which we can use it if required
pop_country = country_list.pop(-1) # 'Spain'
print(pop_country) # 'Spain'
print(country_list)

Spain
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

In [16]:
# del required a call of a list with specific index or slicing to delete an element or a list of elements
del country_list[3] # 'China'
print(country_list)

['India', 'America', 'Russia', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

In [17]:
del country_list[3:6] # ['Canada','Japan','Vietnam']
print(country_list)

['India', 'America', 'Russia', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'New Zealand']

In [19]:
# .clear() -> It will empty the original Lists
country_list.clear()
print(country_list)

[]

country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland']
del country_list -> Removes the complete list
print(country_list) # NameError: name 'country_list' is not defined

In [23]:
# Sorting [Ascending] & Reverse() [::-1]
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort()

In [24]:
print(country_list)

['America', 'Canada', 'China', 'Finland', 'India', 'Japan', 'New Zealand', 'Russia', 'Spain', 'Sri-Lanka', 'Vietnam', 'australia', 'france', 'singapore']

In [39]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort()
print(country_list[::-1])

['singapore', 'france', 'australia', 'Vietnam', 'Sri-Lanka', 'Spain', 'Russia', 'New Zealand', 'Japan', 'India', 'Finland', 'China', 'Canada', 'America']

In [40]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort(reverse = True)
print(country_list)

['singapore', 'france', 'australia', 'Vietnam', 'Sri-Lanka', 'Spain', 'Russia', 'New Zealand', 'Japan', 'India', 'Finland', 'China', 'Canada', 'America']

In [31]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.sort(key = str.lower)
print(country_list)

['America', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [35]:
# If 'America' and 'america' then which one will come first?using str.lower
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'america']
country_list.sort(key = str.lower)
print(country_list)

['America', 'america', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [27]:
# If 'America' and 'america' then which one will come first?using str.lower
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'america']
country_list.sort(key = str.upper)
print(country_list)

['America', 'america', 'australia', 'Canada', 'China', 'Finland', 'france', 'India', 'Japan', 'New Zealand', 'Russia', 'singapore', 'Spain', 'Sri-Lanka', 'Vietnam']

In [37]:
# .reverse() -> the original List
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland']
country_list.reverse()
print(country_list)

['Finland', 'New Zealand', 'Spain', 'australia', 'singapore', 'france', 'Sri-Lanka', 'Vietnam', 'Japan', 'Canada', 'China', 'Russia', 'America', 'India']

In [41]:
# 'Joining' strings from a list
word_list = ['Python', 'is', 'an' , 'awesome', 'programming', 'language']
final_statement = ' '.join(word_list)
print(final_statement)

Python is an awesome programming language

In [42]:
char_list = ['P','y','t','h','o','n',' ','P','r','o','g','r','a','m','m','i','n','g!']
result = ''.join(char_list)
print(result)

Python Programming!

In [43]:
# Count() -> Calculating the occurrence of element in a list
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
count_india = country_list.count('India')
print(count_india)

2

In [45]:
num_list = [1,2,1,2,1,2,1,2,1,2,1,2,21,2,121,121,1,2,2,2,12,22,22]
print(num_list.count(2))
print(num_list.count(1))

10
7

In [46]:
# Deep Copy [Same Memory] Vs Shallow Copy[Independent Memory]
# .copy [Shallow Copy]
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
new_country_list = country_list.copy()
print(id(country_list))
print(id(new_country_list))

2063808540032
2063808535040

In [47]:
del new_country_list[-3:]
print("Country List : " , country_list)
print("New Country List : " , new_country_list)

Country List :  ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America']
New Country List :  ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland']

In [48]:
# deep copy 
weekday_list = ['Mon','Tue','Wed','Thurs','Fri']
weekend_list = ['Sat','Sun']
week_list = weekday_list + weekend_list
new_week_list = week_list # deep copy
print(id(week_list))
print(id(new_week_list))

2063808535808
2063808535808

In [49]:
# Before
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun']

In [50]:
# After
del new_week_list[-3:] # removing 'Fri','Sat','Sun'
print(week_list)
print(new_week_list)

['Mon', 'Tue', 'Wed', 'Thurs']
['Mon', 'Tue', 'Wed', 'Thurs']

In [51]:
# Using slicing [:] (Shallow Copy)
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
new_country_list = country_list[:]
print(id(country_list))
print(id(new_country_list))

2063808426816
2063808425984

In [52]:
# Using list() constructor (Shallow Copy)
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
new_country_list = list(country_list)
print(id(country_list))
print(id(new_country_list))

2063808542400
2063808438912

In [57]:
# Index() -> Its a method to find the position of a first occurrence of a specified value in a list.
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
print(country_list.index('India'))
print(country_list.index('Japan'))
print(country_list.index('America'))
print(country_list.index('India',1)) # Provide the 2nd occurrence
print(country_list.index('Japan',7))
print(country_list.index('America',3))
# print(country_list.index('North Korea')) # ValueError: 'North Korea' is not in list

0
5
1
14
15
16

In [59]:
# List Comprehensions
squared = [i**2 for i in range(1,6)] # for i in range(1,6) -> [1,2,3,4,5]
print(squared)

[1, 4, 9, 16, 25]

# What exactly is a Tuple?
- Ordered Collection (items maintains its positions)
- It can store different data types togethers
- But the only Big Difference here is : Immutability (Once Created, their elements can't be changed , added to, or removed.)

In [60]:
_tuple = ()
print(type(_tuple))

<class 'tuple'>

In [61]:
_tuple = (1,2,'3','4',False,True,29.99,'k')
print(_tuple)

(1, 2, '3', '4', False, True, 29.99, 'k')

In [62]:
_tuple = 1,2,3,4,5
print(_tuple)
print(type(_tuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [63]:
# tuple() constructor
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_tuple = tuple(country_list)
print(country_tuple)
print(type(country_tuple))

('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'New Zealand', 'Finland', 'India', 'Japan', 'America')
<class 'tuple'>

In [64]:
char_tuple = tuple('Python')
print(char_tuple)

('P', 'y', 't', 'h', 'o', 'n')

In [65]:
_tuple = tuple(('Python',))
print(_tuple)

('Python',)

In [72]:
nested_list = [
        [1,2,3,4,5],
        [2,4,6,8,10],
        [1,3,5,7,9]
]
nested_tuple = tuple(nested_list)
print(nested_tuple) # ([1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
# List as an element in a tuple is mutable
nested_tuple[0].append(6) 
print(nested_tuple) # ([1, 2, 3, 4, 5, 6], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

([1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
([1, 2, 3, 4, 5, 6], [2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [74]:
nested_tuple = (('Mon','Tue','Wed'),('Thurs','Fri','Sat','Sun'))
print(nested_tuple)
print(type(nested_tuple))
# nested_tuple[0].append('Mon') # AttributeError: 'tuple' object has no attribute 'append'

(('Mon', 'Tue', 'Wed'), ('Thurs', 'Fri', 'Sat', 'Sun'))
<class 'tuple'>

In [75]:
# Indexing & Slicing
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_tuple = tuple(country_list)
print(country_tuple[-1]) # 'America'
print(country_tuple[-5]) # 'New Zealand'
print(country_tuple[4:7]) # ('Canada','Japan','Vietnam')
print(country_tuple[4:7:2]) # ('Canada','Vietnam')
print(country_tuple[::-2]) # reverse the tuple with alterative elements

America
New Zealand
('Canada', 'Japan', 'Vietnam')
('Canada', 'Vietnam')
('America', 'India', 'New Zealand', 'australia', 'france', 'Vietnam', 'Canada', 'Russia', 'India')

In [77]:
# Finding the tuple Length
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_tuple = tuple(country_list)
print(len(country_tuple)) # 17

17

In [78]:
num_list = [11,22,33,44,55,66,77,88,99,110,False,True] # False -> 0 , True = 1
num_tuple = tuple(num_list)
print(len(num_tuple)) # 12
print(min(num_tuple)) # 0 [False]
print(max(num_tuple)) # 110 
print(sum(num_tuple)) # sum of all elements + 1 [True] [605 + 1] = 606

12
False
110
606

In [1]:
# Immutability of a Tuple
# We Can't change or add any elements directly
# Tuples don't have : - append, extend , remove, insert
# But we can do it indirectly by modifying it into list 
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland')
conv_tuple_to_list = list(country_tuple)
print(type(conv_tuple_to_list)) # <class List>
conv_tuple_to_list.append('Germany')
print(conv_tuple_to_list)
country_tuple = tuple(conv_tuple_to_list)
print(country_tuple)
print(type(country_tuple))

<class 'list'>
['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Germany']
('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 'Spain', 'New Zealand', 'Finland', 'Germany')
<class 'tuple'>

In [2]:
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland')
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland' , 'Germany')

In [3]:
country_tuple

('India',
 'America',
 'Russia',
 'China',
 'Canada',
 'Japan',
 'Vietnam',
 'Sri-Lanka',
 'France',
 'Singapore',
 'Australia',
 'Spain',
 'New Zealand',
 'Finland',
 'Germany')

In [5]:
# Concatenating A tuples
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple + weekend_tuple
print(week_tuple)

('Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat', 'Sun')

In [7]:
weekday_tuple = (['Mon', 'Tues'],)
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple + weekend_tuple
print(week_tuple)

(['Mon', 'Tues'], 'Sat', 'Sun')

In [8]:
# week_tuple[0] ~ ['Mon', 'Tues']
week_tuple[0].extend(['Wed','Thurs','Fri']) 
print(week_tuple)

(['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'], 'Sat', 'Sun')

In [9]:
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
weekend_tuple = ('Sat','Sun')
week_tuple = weekday_tuple[:3] + weekend_tuple
print(week_tuple)

('Mon', 'Tues', 'Wed', 'Sat', 'Sun')

week_tuple[2] = 'Wednesday' # TypeError: 'tuple' object does not support item assignment

In [12]:
country_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 
                'Spain', 'New Zealand', 'Finland' , 'India', 'Japan', 'America']
country_list[-5:] = ['Germany']
print(country_list)

['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 'Vietnam', 'Sri-Lanka', 'france', 'singapore', 'australia', 'Spain', 'Germany']

In [16]:
# Deleting Element in Tuple Vs Deleting a Tuple
# You can't delete individual items in a tuple with 'del'
# But you can delete the entire tuple object.
weekday_tuple = ('Mon','Tues','Wed','Thurs','Fri')
print(weekday_tuple)
print(type(weekday_tuple))
# del weekday_tuple[3] # 'Thurs' # TypeError: 'tuple' object doesn't support item deletion
del weekday_tuple
# print(weekday_tuple) # NameError: name 'weekday_tuple' is not defined

('Mon', 'Tues', 'Wed', 'Thurs', 'Fri')
<class 'tuple'>

In [17]:
# Unpacking a Tuple 
a,b,c = (1,2,3)
print(a)
print(b)
print(c)

1
2
3

In [23]:
a,*b,c = (1,2,3,4,5,6,7,8,9)
print(a)
print(b)
print(c)

1
[2, 3, 4, 5, 6, 7, 8]
9

a,*b,*c = (1,2,3,4,5,6,7,8,9) # SyntaxError: multiple starred expressions in assignment
print(a)
print(b)
print(c)

In [24]:
*a,b,c = (1,2,3,4,5,6,7,8,9)
print(tuple(a))
print(b) # 8
print(c) # 9

(1, 2, 3, 4, 5, 6, 7)
8
9

a,b,c = (1,2,3,4,5,6,7,8,9) # ValueError: too many values to unpack (expected 3)
print(a)
print(b) 
print(c)

In [27]:
# Repeating tuples
_tuple = ('a','b','c','d','e')
print(_tuple * 3)

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [29]:
# Combining a Tuple 
_tuple1 = (1,2,3,4,5)
_tuple2 = (False, True, 19.99, 'Coding','a','b','c')
new_tuple = _tuple1 + _tuple2
print(new_tuple)

(1, 2, 3, 4, 5, False, True, 19.99, 'Coding', 'a', 'b', 'c')

In [30]:
# .count()
country_tuple = ('India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
                'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
                'Spain', 'New Zealand', 'Finland' , 'Germany', 'india', 'India')
country_tuple.count('India')

2

In [32]:
# .index()
country_tuple.index('Japan')

5

country_tuple.index('Norway') # ValueError: tuple.index(x): x not in tuple

# Using map() in Python
### What is map()?

#### Syntax : map(function, iterable) where function uses (lambda function internally)

##### The map() function is a very handy tool in Python that let's you:
- Apply a Function to each item in a list , tuple or any other iterable
- Return a map object

In [34]:
# Square each elements
num_list = [1,2,3,4,5,6,7]
# map(function, iterable)
squared = map(lambda x : x ** 2 , num_list)
print(squared)
print(tuple(squared)) # (1,4,9,16,25,36,49)
print(list(squared)) # []

<map object at 0x0000025074C07040>
(1, 4, 9, 16, 25, 36, 49)
[]

In [36]:
# Adding 10 in an element
num_list = [1,2,3,4,5,6,7]
# map(function, iterable)
add_10 = map(lambda x : x + 10 , num_list)
print(add_10)
print(list(add_10)) # [11,12,13,14,15,16,17]
print(tuple(add_10)) # ()

<map object at 0x0000025074B321A0>
[11, 12, 13, 14, 15, 16, 17]
()

In [37]:
# Taking input from the user -> 
numbers = list(map(int, input("Enter the multiple numbers : ").split()))
print(numbers)

Enter the multiple numbers :  10 20 30 40 50 60 70

[10, 20, 30, 40, 50, 60, 70]

In [38]:
# Taking input from the user -> 
string = list(map(str, input("Enter the multiple string : ").split()))
print(string)

Enter the multiple string :  coding ninja python programming

['coding', 'ninja', 'python', 'programming']

# What are Sets?
#### A Set in Python is:
- Unordered : No guaranteed order of elements
- Changeable (mutable): You can add or remove elements
- Unindexed : No way to access items by position
- Unique Items only : Automatically removes Duplicates

##### They can hold different data types together, like numbers, strings or boolean

In [42]:
_dict = {} # dictionary
# You can't assign {} to a set as by default empty curly braces represent dictionary {}
_set = set()
print(type(_dict))
print(type(_set))

<class 'dict'>
<class 'set'>

In [43]:
_set = {1}
print(type(_set))

<class 'set'>

In [50]:
_set = {1,2,3,'a','b','c',False,True,9.99,"coding"}
print(_set)
print(type(_set))

{False, 1, 2, 3, 9.99, 'a', 'coding', 'b', 'c'}
<class 'set'>

In [52]:
_set = {1,2,3,'a','b','c',False,True,9.99,"coding","Python","programming"}
print(_set)

{False, 1, 2, 3, 9.99, 'programming', 'a', 'coding', 'b', 'c', 'Python'}

In [53]:
_duplicate_set = {1,2,1,2,1,1,1,2,2,2,1,2}
print(_duplicate_set) # only store unique elements

{1, 2}

In [54]:
_duplicate_set = {0,1,0,0,1,2,1,2,1,1,1,2,2,2,1,2,False,True}
print(_duplicate_set) # only store unique elements

{0, 1, 2}

In [55]:
_duplicate_set = {False,True,0,1,0,0,1,2,1,2,1,1,1,2,2,2,1,2,False,True}
print(_duplicate_set) # only store unique elements

{False, True, 2}

In [57]:
# set() constructor to do the typecasting
_list = ['India', 'America', 'Russia', 'China', 'Canada', 'Japan', 
        'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
        'Vietnam', 'Sri-Lanka', 'France', 'Singapore', 'Australia', 
        'Spain', 'New Zealand', 'Finland' , 'Germany', 'india', 'India']
_tuple = (False, True, 19.99, 'Coding','a','b','c',0,1,2,3,4,5)
print(set(_list))
print(set(_tuple))

{'India', 'Singapore', 'Australia', 'Germany', 'France', 'Canada', 'Finland', 'Sri-Lanka', 'Japan', 'Spain', 'Vietnam', 'China', 'Russia', 'New Zealand', 'india', 'America'}
{False, True, 2, 3, 4, 5, 'a', 'b', 19.99, 'Coding', 'c'}

In [67]:
# Immutable elements are allowed in sets
nested_set = {
    'coding',
    99,
    ('a','b','c','d'),
    ('coding',),
    ('coding'), # skip
    (True,False)
}
nested_set

{('a', 'b', 'c', 'd'), ('coding',), (True, False), 99, 'coding'}

# Key Takeways for Sets:
1. Unordered : You can't access elements by index.
2. Unique : Removes Duplicates Automatically.
3. Mutable Container : Can add or remove items.
4. Immutable items: Elements must be hashable & immutable (like numbers, strings , tuples)

In [1]:
# Understanding Common Methods and operation associated with Sets
# Accessing an item [❌ No Indexing]
# membership operators # [Boolean Return]
car_set = {'Taigun','Creta','Thar','Kylaq','Camry','Virtus','Nexon','Rolls Royce','Verna'}
print('Slavia' in car_set) # False
print('Thar' in car_set) # True
print('Kylaq' not in car_set) # False
print('ScorpioN' not in car_set) # True

False
True
False
True

In [3]:
# Length of a set -> len() to count the number of elements.
car_set = {'Taigun','Creta','Thar','Kylaq','Camry','Virtus','Nexon','Rolls Royce','Verna'}
print(len(car_set))

9

In [5]:
# min() , max() and the sum() 
quick_set = {0,1,2,3,4,5,11,22,33,44,55,False,True} # False[0] , True[1] {Duplicate}
print(min(quick_set)) # 0
print(max(quick_set)) # 55
print(sum(quick_set)) # sum

0
55
180

In [7]:
# min() , max() and the sum() 
quick_set = {False,True,2,3,4,5,11,22,33,44,55,0,1} # False[0] , True[1] {Duplicate}
print(quick_set)
print(min(quick_set)) # False
print(max(quick_set)) # 55
print(sum(quick_set)) # sum

{False, True, 2, 3, 4, 5, 33, 11, 44, 22, 55}
False
55
180

In [10]:
# Adding Items to a set()
# .add() -> Adds a single elements
quick_set = {False,True,2,3,4,5,11,22,33,44,55,0,1}
quick_set.add(77)
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 11, 44, 77, 22, 55}

In [11]:
quick_set.add(99)
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 99, 11, 44, 77, 22, 55}

In [13]:
# .update(<iterables>) -> Adds a multiple elements -> iterables as argument
quick_set.update(['a','b','c'])
print(quick_set)

{False, True, 2, 3, 4, 5, 33, 99, 11, 44, 77, 22, 55, 'b', 'c', 'a'}

In [14]:
quick_set.update('Coding')
print(quick_set)

{False, True, 2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

In [15]:
quick_set.update(('Coding',))
print(quick_set)

{False, True, 2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

In [16]:
# Removing items from a set()
# remove() -> throws an errors if item doesn't exist
# discard() -> No error if item doesn't exist
quick_set.remove(False)
print(quick_set)

{True, 2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

In [17]:
quick_set.remove(True)
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 'b', 'c', 77, 99, 'i', 'g', 'a'}

quick_set.remove('True') # doesn't exist , it throws error
print(quick_set)

In [24]:
quick_set.discard(('a','b','c')) # doesn't exist still won't throw an error
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [25]:
quick_set.discard('a')
quick_set.discard('b')
quick_set.discard('c')
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [26]:
quick_set.add(('x','y','z'))
print(quick_set)

{2, 3, 4, 5, 'C', ('x', 'y', 'z'), 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [27]:
quick_set.discard(('x','y','z')) # remove the element as it exist
print(quick_set)

{2, 3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [28]:
# pop() -> Removes and returns an arbitary elements. Since sets are unordered, 
# you don't which item will be removed
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

2
{3, 4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [29]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

3
{4, 5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [30]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

4
{5, 'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [31]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

5
{'C', 11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [32]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

C
{11, 'd', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [33]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

11
{'d', 22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [34]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

d
{22, 'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [35]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

22
{'n', 33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [36]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

n
{33, 'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [37]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

33
{'Coding', 44, 'o', 55, 77, 99, 'i', 'g'}

In [38]:
popped_item = quick_set.pop()
print(popped_item)
print(quick_set)

Coding
{44, 'o', 55, 77, 99, 'i', 'g'}

In [42]:
day_set = {'Mon','Wed','Thurs','Sat','Tues','Fri','Sun'}
pop_item = day_set.pop()
print(pop_item)

Wed

In [47]:
print(day_set)

{'Tues', 'Thurs', 'Sun', 'Mon', 'Sat', 'Fri'}

In [48]:
pop_item = day_set.pop()
print(pop_item)
print(day_set)

Tues
{'Thurs', 'Sun', 'Mon', 'Sat', 'Fri'}

In [49]:
day_set.add('Jan')
print(day_set)

{'Jan', 'Thurs', 'Sun', 'Mon', 'Sat', 'Fri'}

In [50]:
day_set.add('Feb')
print(day_set)

{'Thurs', 'Sun', 'Feb', 'Jan', 'Mon', 'Sat', 'Fri'}

In [51]:
# clear
day_set.clear()
print(day_set) # {}

set()

# del -> We can delete the entire set object
del day_set
print(day_set) # NameError: name 'day_set' is not defined

In [54]:
# Union (| or .union())
setA = {1,2,3,4,5,5,6,6,8,8,8,8} # {1,2,3,4,5,6,8}
setB = {3,5,7,7,7,7,7,9,9} # {3,5,7,9}
union_set = setA | setB # (AUB)
print(union_set) # {1...9}

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
result = setA.union(setB)
print(result)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [56]:
# Advance union concepts
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA | setB | setC)
print(setA.union(setB).union(setC))

{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}
{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}

In [58]:
# Intersection (& or intersection())
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA & setB) # {a,b,c}
print(setA.intersection(setB).intersection(setC)) # {'a','c'}
print(setA & setB & setC) # {'a','c'}

{'b', 'c', 'a'}
{'c', 'a'}
{'c', 'a'}

In [59]:
# difference (- or .difference()) # Elements in A but not in B
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA - setB) # {'d','e'}
print(setA.difference(setB)) # {'d','e'}

{'d', 'e'}
{'d', 'e'}

In [60]:
print(setB - setA) # {'p','q','r','s'}
print(setB.difference(setA)) # {'p','q','r','s'}

{'p', 's', 'r', 'q'}
{'p', 's', 'r', 'q'}

In [62]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setB - setA - setC) # {'p','q'}
print(setB.difference(setA).difference(setC))

{'p', 'q'}
{'p', 'q'}

In [63]:
# Symmetric Difference (^ or .symmetric_difference())
# Elements in either SetA or SetB , but not in both
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA ^ setB) # {'d','e','p','q','r','s'}
print(setA.symmetric_difference(setB)) # {'d','e','p','q','r','s'}

{'q', 'p', 'e', 'd', 'r', 's'}
{'q', 'p', 'e', 'd', 'r', 's'}

In [65]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
print(setA ^ setB ^ setC) # {'d','e','p','q','r','s'} ^ {'x','y','r','s','a','c','z'}
# {'d','e','p','q','x','y','a','c','z'}
print(setA.symmetric_difference(setB).symmetric_difference(setC)) # {'d','e','p','q','x','y','a','c','z'}

{'q', 'd', 'x', 'y', 'e', 'z', 'p', 'c', 'a'}
{'q', 'd', 'x', 'y', 'e', 'z', 'p', 'c', 'a'}

In [76]:
# difference_update()
# shortcut : a -= b|c
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setB | setC => {'a','b','c','p','q','r','s','x','y','z'}
# setA - = (setB | setC) => {'d','e'}
# setA.difference_update(setB,setC)
setA = setA - (setB | setC)
print(setA)

{'d', 'e'}

In [77]:
setA.difference_update(setB,setC)
print(setA)

{'d', 'e'}

difference_update() → changes original set, returns None.

In [82]:
# intersection_update()
# shortcut : a &= b -> a = a&b
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.intersection_update(setB)
print(setA)

{'b', 'c', 'a'}

In [83]:
setA = setA & setB
print(setA)

{'b', 'c', 'a'}

In [85]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
# setA.intersection_update(setB,setC) {'c', 'a'}
setA = setA & (setB & setC)
# {'a','b','c','d','e'} & ({'a','c'})
print(setA)

{'c', 'a'}

In [86]:
# isdisjoint 
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setD = {'k','m'}
print(setA.isdisjoint(setB)) # False
print(setA.isdisjoint(setD)) # True

False
True

In [88]:
# issubset() & issuperset()
set1 = {1,2,3,4,5}
set2 = {1,2,3,4,5,6,7,8,9}
print(set1.issubset(set2)) # True as set1 is subset of set2
print(set2.issuperset(set1)) # True as set2 is superset of set1

True
True

In [96]:
# symmetric_difference_update()
# shortcut a ^= b
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.symmetric_difference_update(setB)
print(setA)

{'d', 'r', 'q', 's', 'p', 'e'}

In [97]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA ^ setB
print(setA)

{'q', 'p', 'e', 'd', 'r', 's'}

In [98]:
# (setB,setC) -> {'p','q','r','s','a','b','c'} ^ {'x','y','r','s','a','c','z'}
# -> {'p','q','b','x','y','z'}
# setA ^ {'p','q','b','x','y','z'} -> {'a','c','d','e','p','q','x','y','z'}
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA ^ (setB ^ setC)
print(setA)

{'d', 'x', 'y', 'p', 'e', 'z', 'q', 'c', 'a'}

In [101]:
# update() |
# shortcut a |= b|c
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA.update(setB,setC)
print(setA)

{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}

In [102]:
setA = {'a','b','c','d','e'}
setB = {'p','q','r','s','a','b','c'}
setC = {'x','y','r','s','a','c','z'}
setA = setA | setB | setC
print(setA)

{'q', 'y', 'p', 'e', 'd', 'z', 'r', 'x', 'b', 's', 'c', 'a'}