In [2]:
print("Hello EveryOne!")

Hello EveryOne!

Welcome To the Python Course!

# Python Programming
#### Let's Learn Together , Grow Together!!
1. Learn Faster!
2. Grow Faster
- It is a programming Language.
    - It's a high level language.
        - Easy To understand. (Human Readable)
- Handles Large Dataset.
- Python is a case-sensitive language
- It's an interpreter language
- Rich in Libraries
- Amazing Support from the community
- Its an platform independent. -> .py

# Java
int x = 10
System.out.println(x)

In [15]:
# Python
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [16]:
x = "Coding Ninja"
print(x)
print(type(x))

Coding Ninja
<class 'str'>

In [17]:
x = 'k'
print(x)
print(type(x))

k
<class 'str'>

In [18]:
x = int('10') + 1
print(x)
print(type(x))

11
<class 'int'>

In [19]:
x = 10.5
print(x)
print(type(x))

10.5
<class 'float'>

In [20]:
x = 9 + 6j
print(x)
print(type(x))

(9+6j)
<class 'complex'>

In [22]:
# parameters "\n" by default
print("Python")
print("Programming")

Python
Programming

In [24]:
print("Python" , end = " ")
print("Programming")
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [25]:
# seperator -> concat_ws
print("Mon","Tues","Weds","Thurs","Fri")

Mon Tues Weds Thurs Fri

In [26]:
print("Mon","Tues","Weds","Thurs","Fri" , sep = " - ")

Mon - Tues - Weds - Thurs - Fri

#### Input() 
- Used to accept user input from the keyboard as a string, which can be further type cast as per the requirement.

In [2]:
user_input = input("Enter the user_name: ")
print(user_input)

Enter the user_name:  Venom

Venom

In [3]:
user_input = input("Enter the gaming_name: ")
print(user_input)

Enter the gaming_name:  DaddyDamage

DaddyDamage

In [5]:
val = input("Enter the value: ")
print(val)
print(type(val))

Enter the value:  10

10
<class 'str'>

In [6]:
val = int(input("Enter the value: "))
print(val)
print(type(val))

Enter the value:  11

11
<class 'int'>

In [7]:
print(val * 5)

55

In [10]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10
print(x)

Enter the value between 1-100 :  75

85

In [25]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10 # '75' + 10 - TypeError: can only concatenate str (not "int") to str
print(x)

Enter the value between 1-100 :  66

76

In [29]:
x = str(x)
print(x)
print(type(x))

76
<class 'str'>

In [30]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print("Hey " + user_name + " Welcome to the Python Course, You being registered with " + email + " :)")

Enter the username:  utkarshdev
Enter your personal mail:  utkarssh@gmail.com

Hey utkarshdev Welcome to the Python Course, You being registered with utkarssh@gmail.com :)

In [31]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print(f"Hey {user_name} Welcome to the Python Course, You being registered with {email} :)")

Enter the username:  iaarifpathan
Enter your personal mail:  iaarifpathan@gmail.com

Hey iaarifpathan Welcome to the Python Course, You being registered with iaarifpathan@gmail.com :)

- Single Line Comments - #
- Multi Line Comments - '''

In [32]:
# This is a single line comment
print("Python Programming")

Python Programming

In [36]:
'''
    This is a multiline comments....
    Put some important stuff here relevant to 
    your python program
'''
num1 = int(input("Enter the first value: "))
num2 = int(input("Enter the second value: "))
result = num1 * num2
print("The final result is " , result)
print(f"The final result is {result + 10}")

Enter the first value:  10
Enter the second value:  5

The final result is  50
The final result is 60

In [37]:
fav_car = input("Enter your Dream Car: ")
print("My Dream Car is : " + fav_car)

Enter your Dream Car:  Defender

My Dream Car is : Defender

In [38]:
# Indentation:
z = 15
if z > 10: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

z is greater than 10
Outside the if statement

In [39]:
# Indentation:
z = 15
if z > 20: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

Outside the if statement

# Variables : What & Why?
#### Variables acts as an container for storing data, They help with:
- Storing Data
- Manipulating Values
- Reusability
- Improving the Readibility 
    -  total_sum >> ts
    -  compound_interest >> c_i
    -  age
    -  finding_prod_sum >> finding_the_product_and_sum >> p_s

In [40]:
# Declaring and assigning variables:
val = 99
user_name = "UltimateForce"
print(val)
print(user_name)

99
UltimateForce

In [43]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [48]:
a,b,*c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
20
<class 'int'>
[30, 40, 50]
<class 'list'>

In [56]:
a,*b,c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 40]
<class 'list'>
50
<class 'int'>

In [57]:
a,*b,c = 10,20,30,'a','b',40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 'a', 'b', 40]
<class 'list'>
50
<class 'int'>

In [58]:
p=q=r=s= "Ninjas"
print(p)
print(q)
print(r)
print(s)

Ninjas
Ninjas
Ninjas
Ninjas

## Rules for naming a "Variables"
- Can include letters, digits and underscore
- Must start with a letter or underscore
- case-sensitive
    - val != Val
    - num != nuM
    - digit != Digit
- Can't use Python Keywords
    - for, input, while, print, if, elif, tuple, list, set, dict, true, false
- Can't have spaces or special characters (except _)
- Variable name can't start with numbers.

In [3]:
my_first_variable = "Python"
print(my_first_variable)

Python

In [2]:
_var = "Coding"
print(_var)

Coding

In [6]:
# String -> Escape Character
print("Hi, I'm good, What about you?")
print('Hi, I\'m good, What about you?')

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [7]:
print("an \"apple\" a day keeps a doctor away")

an "apple" a day keeps a doctor away

In [12]:
print("Hi Everyone! Welcome to the course")

Hi Everyone! Welcome to the course

In [15]:
# Multiline String -> <pre> tag in HTML [Markup Language]
print("""
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    
    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

""")

    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise

    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

In [20]:
# Escape characters "\n"[Next line] & "\t"[tab space]
print("Hey: What's your name: \t 'Aditya Verma'")
print("Hello\nWorld")
print("x", end=" ")
print("y", end=" ")
print("z", end="\n")
print("Welcome Back!")

Hey: What's your name: 	 'Aditya Verma'
Hello
World
x y z
Welcome Back!

In [21]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [22]:
num1 = 99.99
print(int(num1))

99

In [23]:
x = 55
y = str(x)
print(y)
print(type(y))

55
<class 'str'>

In [24]:
_bool = True
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

1
<class 'bool'>
<class 'int'>

In [25]:
_bool = False
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

0
<class 'bool'>
<class 'int'>

# What are Operators?
#### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### Types of Operators in Python:
1. Arithmetic Operators

2. Comparison Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Membership Operators

7. Identity Operators

### Arithmetic Operators:
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division (floating)
- '%' Modulus (remainder)
- '**' Exponentiation
- '//' Floor Division

In [1]:
x = 11
y = 7
z = 15
print(x+y) # 18 'One 8' [Virat Kohli]
print(x-y) # 4
print(x*y) # 77 ['Shubman Gill']
print(x/y) # 1.57....
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x ** 2) # 121
print(x // 2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

In [2]:
print(x ** y)

19487171

# You can't do addition with 2 different data type
x = '10' + 11 # TypeError: can only concatenate str (not "int") to str
print(x)

### Comparison Operators (Return Boolean Result):
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or  Equal to
- '<' Less Than
- '<=' Less Than or Equal to

In [5]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x)  # False
print(x != 2) # True
print(x >= 2) # True

False
True
True
False
True
True
False
False
True
True

#### Logical Operators:
- and : 'Return True' if both the conditions are True
- or : 'Return False' if both the conditions are False
- not : Return the opposite.

In [6]:
x = 11
y = 7
z = 15
print((x==y)and(z!=y)or(y>x)) # False
print((x!=y)or(z!=y)or(y>x)) # True
print((x>=y)and(z==y)and(z>x)) # False
print(not(z!=15)) # True
print(not((x<=y)and(z>=y)or(y!=x))) # False

False
True
False
True
False

In [7]:
print(not(x<=y)and(z>=y)or(y!=x)) # True

True

In [8]:
print(not(x<=y)or(z<=y)and(y!=x)) # (T or F and T) # (T or F) # T

True

### Bitwise Operators:
- 'AND' = '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' = '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR' = '^' -> 'Alternative Bits return 1 else same bits returns 0'
- 'NOT' = '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' = '<<' -> 'Shift bits to the left'
- 'Right Shift' = '>>' -> 'Shift bits to the right'

In [9]:
x = 10
y = 6
print(x & y) # 2

2

In [10]:
x = 10
y = 6
print(x | y) # 14

14

In [12]:
x = 10
y = 6
print(x ^ y) # 12

12

In [13]:
x = 10 
print(~x)

-11

In [14]:
x = 7 
print(~x)

-8

In [16]:
x = -17 
print(~x)

16

In [17]:
x = 10
print(x<<2)

40

In [18]:
x = 10
print(x>>2)

2

#### Assignment Operators : 
- '=' -> (x = 5)
- '+=' -> x+=5 -> x = x + 5
- '-=' -> x-=5 -> x = x - 5
- '*=' -> x *=5 -> x = x * 5
- '/=' -> x/=5 -> x = x / 5
- '%=' -> x%=5 -> x = x % 5
- '//=' -> x//=5 -> x = x // 5
- '**=' -> x **=5 -> x = x ** 5

In [4]:
x = 10
y = 11
z = 7
x += y
print(x) # x = x+y => 10+11 => x = 21
x -= z
print(x) # x = x-z => 21-7 => x = 14
x /= 2
print(x) # x = 14/2 = 7.0

21
14
7.0

In [5]:
x *= x
print(x)

49.0

In [6]:
x %= y # x = 49 % 11 = 5
print(x)

5.0

In [7]:
x //= z
print(x) # x = 5.0 // 7 => 0

0.0

In [8]:
y **= x # y = 11 ** 0 => 1
print(y)

1.0

In [9]:
z += y # 7 + 1.0 => 8.0
print(z) # 8.0

8.0

#### Membership Operators:
- Its Returns Boolean Value
- 'in' -> True if the value is in the sequences
- 'not  in' -> True if the value is not in the sequence

In [10]:
print('hello' in 'hello world')
print('hello' not in 'hellz world')

True
True

In [11]:
print('I' in 'India')
print('I' not in 'America')

True
True

In [12]:
print('mon' in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun'])
print('mon' not in ['Mon','Tue','Wed','Thurs','Fri','Sat','Sun'])

False
True

In [14]:
print('mon' in {'mon' : 'Mon', 'tue':'Tues'})
print('Mon' in {'mon' : 'Mon', 'tue':'Tues'})

True
False

In [15]:
x = int(True)
print(x)

1

In [16]:
y = int(False)
print(y)

0

#### Identity Operators
- 'is' -> Returns True if both the variables refers to the same object (having same memory address)
- 'is not' -> Returns True if both the variables refers to the different objects (different memory address)

In [17]:
# '==' comparison operator (data equality)
# 'is' compares the identities (object equality)
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b) # True (same content)
print(a is b) # True (same object in memory)

print(a == c) # True (same content)
print(a is c) # False (different objects in memory)

True
True
True
False

In [18]:
print(a is not c)

True

In [19]:
# '==' comparison operator (data equality)
# 'is' compares the identities (object equality)
a = [1,2,3]
b = a
c = ['a',2,3]
print(a == b) # True (same content)
print(b is a) # True (same object in memory)

print(a == c) # False (same content)
print(a is c) # False (different objects in memory)

True
True
False
False

In [20]:
print(id(a))
print(id(b))
print(id(c))

2375515348800
2375515348800
2375515347072

## Order of Operations (PEMDAS / BODMAS):
1. () Parentheses
2. ** Exponent
3. '*' '/' '//' '%' Mulitplication, Division
4. '+' '-' Addition, Subtraction
5. Bitwise Operations
6. Comparisons
7. Identity / Membership
8. not > and > or (Logical Operators)

In [23]:
cond1 = (10*3)+((10<<3)*(10%3)) # 30 + (80 * 1) = 110
cond2 = (5**2)*((3//2)-(10%7)) # (25) * (1 - 3) => 25 * -2 = -50
_bool = cond1 > cond2 # 110 > -50.0 # True
print(cond1)
print(cond2)
print(_bool)

110
-50
True

In [24]:
print(cond1 is cond2) # False
print(cond1 is not cond2) # True
print(id(cond1)) # Memory Address
print(id(cond2)) # Memory Address

False
True
140710664419160
2375497281584

In [25]:
print(((5 + 3 * 2) * 2 // 5 % 4 << 1 | 3) & 15 > 10 and not (8 >> 2 == 2) or (7 ^ 3 != 4))

False

In [28]:
# Built in Functions
result = divmod(19,5)
print(result) # tuple(q,r) -> 'q' means quotient & 'r' means remainder

(3, 4)

In [32]:
print(round(19.4562,2))

19.46

In [34]:
# Strings :
# Indexing & Slicings
# In Python Indexing starts from zero '0'
# slicings [start : stop : step]

In [35]:
# Indexing [position] -> positive 'l to r' / negative 'r to l'
_str = "Coding Ninja"
print(_str[0]) # 'C'
print(_str[5]) # 'g'
print(_str[6]) # ' '
print(_str[-1]) # 'a'
print(_str[-5]) # 'N'

C
g

a
N

In [36]:
print(_str[9]) # 'n'
print(_str[-11]) # '0'

n
o

print(_str[15]) # IndexError: string index out of range

In [42]:
# Slicing [start [0] : stop [last char] , step [1]]
_str = "Coding Ninja"
print(_str[:6]) # 'Coding'
print(_str[7:]) # 'Ninja'
print(_str[0:12:2]) # 'Cdn ij'
print(_str[0:12:3]) # 'Ci n'
print(_str[:]) # 'Coding Ninja'

Coding
Ninja
Cdn ij
Ci n
Coding Ninja

In [46]:
print(_str[11]) # 'a'
print(_str[0:15:2]) # 'Cdn ij'
print(_str[0:20]) # 'Coding Ninja'

a
Cdn ij
Coding Ninja

In [47]:
print(_str[-5:]) # 'Ninja'
print(_str[::-1]) #reverse the string

Ninja
ajniN gnidoC

In [48]:
print(_str[-3:0]) # ''

In [49]:
print(_str[0:0]) # ''

In [50]:
print(_str[-3:0:-1]) # 'niN gnido'

niN gnido

In [2]:
# String Case Methods
_str = 'Python is Awesome ðŸ”¥'
print(len(_str))

19

In [3]:
print(_str.upper())

PYTHON IS AWESOME ðŸ”¥

In [4]:
print(_str.lower())

python is awesome ðŸ”¥

In [8]:
print(_str.title()) # Convert the first letter of each word to uppercase and the rest to lowercase

Python Is Awesome ðŸ”¥

In [9]:
print(_str.capitalize()) # Convert the first letter of whole sentence to uppercase and rest to lower

Python is awesome ðŸ”¥

In [11]:
# String Operations
str1 = 'Coding'
str2 = 'Ninjas'
new_string = str1 + ' ' + str2 # Concatenation
print(new_string)

Coding Ninjas

In [12]:
name = 'Aditya'
age = 29
print(f'Hi, {name}, You are {age} year old.')

Hi, Aditya, You are 29 year old.

In [15]:
# TypeError: can only concatenate str (not "int") to str
name = 'Aditya'
age = 29
print('Hi' + name + ', You are ' + str(age) + ' year old.')

HiAditya, You are 29 year old.

In [16]:
print(type(age))

<class 'int'>

In [19]:
# Repeat (*)
_echo = 'Ninjas\n'
print(_echo * 3)

Ninjas
Ninjas
Ninjas

In [20]:
# String Comparison
_str1 = 'Python'
_str2 = 'Java'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [22]:
_str1 = 'Swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # False
print(_str1 <= _str2) # True

False
True
False
True

In [23]:
_str1 = 'coding'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [24]:
_str1 = 'coding'
_str2 = 'Zodiac'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [25]:
_str1 = 'cODING'
_str2 = 'Coding'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

In [26]:
_str1 = 'swim'
_str2 = 'Swimming'
print(_str1 == _str2) # False
print(_str1 != _str2) # True
print(_str1 >= _str2) # True
print(_str1 <= _str2) # False

False
True
True
False

's' > 'S' [small character having greater ASCII Values > 'S' having low ASCII Value]
length also plays an important role if the previous characters going to tie.

In [27]:
# Common String Methods
# replace
_str = 'Python is Awesome!'
new_str = _str.replace('Awesome', 'Fantastic')
print(new_str)

Python is Fantastic!

In [28]:
print(_str)

Python is Awesome!

In [29]:
_str = 'Python is Awesome!'
new_str = _str.replace('o','O')
print(new_str)

PythOn is AwesOme!

In [30]:
# split()
_text = 'Indore@MadhyaPradesh@India'
print(_text.split('@'))

['Indore', 'MadhyaPradesh', 'India']

In [32]:
topics = 'SQL*Python*Excel*PowerBI'
topic_list = topics.split('*')
print(topic_list)

['SQL', 'Python', 'Excel', 'PowerBI']

In [41]:
topic_list[1]

'Python'

In [44]:
split_str = "ViratKohli MSD RohitSharma Sachin"
print(split_str.split())

['ViratKohli', 'MSD', 'RohitSharma', 'Sachin']

In [45]:
file_path = "http://localhost:8889/notebooks/anaconda_projects/CN-Python-TTS/PythonSession.ipynb?"
path_list = file_path.split('/')
print(path_list)

['http:', '', 'localhost:8889', 'notebooks', 'anaconda_projects', 'CN-Python-TTS', 'PythonSession.ipynb?']

In [49]:
# String Format -> .format() / f-string
name = 'Jasaswini'
age = 27
gender = 'Female'
print('Hi, {}.... You are {} years old. Congratulation! You are {}!'.format(name,age,gender))

Hi, Jasaswini.... You are 27 years old. Congratulation! You are Female!

In [50]:
# String Format -> .format() / f-string
name = 'Jasaswini'
age = 27
gender = 'Female'
print(f'Hi, {name}.... You are {age} years old. Congratulation! You are {gender}!')

Hi, Jasaswini.... You are 27 years old. Congratulation! You are Female!

In [51]:
# Strip() -> same like trim 
print('    Python Programming      '.strip())

Python Programming

In [52]:
# Strip() -> same like trim 
print('******Python Programming*******'.strip('*'))

Python Programming

In [53]:
# Strip() -> same like trim 
print('******Python Programming'.strip('*'))

Python Programming

In [54]:
# Strip() -> same like trim 
print('Python Programming********'.strip('*'))

Python Programming

In [55]:
# Strip() -> same like trim 
print('$$$$$$$Python Programming********'.strip('*').strip('$'))

Python Programming

In [59]:
# Strip() -> same like trim 
print('$$$$$$$Python Programming********'.strip('*$'))

Python Programming

In [56]:
# index() -> position 
_str = "This is a Python Course!"
print(_str.index('is'))

2

In [62]:
# index() -> position 
_str = "This is a Python Course!"
# print(_str.index('python')) # ValueError: substring not found
print(_str.index('Python'))

10

In [63]:
# index() -> position 
_str = "This is a Python Course!"
print(_str.index('is',3,10)) # index(substr,start,stop)
print(_str.index('is',3)) # index(substr,start,stop)

5
5

index(substr, start = 0, stop = 'len(text)')

In [64]:
# String Checks() -> Returns Boolean Result
print("CodingNinjas".isalpha()) # True
print("Ninja99".isalpha()) # False
print("Ninja99".isalnum()) # True
print("CodingNinja".isupper()) # False
print("CODING".isupper()) # True
print("coding".islower()) # True
print("123456789".isnumeric()) # True
print("coding123".isnumeric()) # False
print("coding123".isnumeric()) # False
print('Mentorship Program!77'.swapcase()) # lower -> upper & upper -> lower

True
False
True
False
True
True
True
False
False
mENTORSHIP pROGRAM!77

In [65]:
# startswith (Boolean Return)
_str = 'Hey, Welcome to the World of Programming!'
print(_str.startswith('hey')) # False
print(_str.startswith('Hey')) # True
print(_str.startswith('Hello')) # False
print(_str.startswith('Hi')) # False
print(_str.startswith('H')) # True
print(_str.startswith('Welcome',5)) # True

False
True
False
False
True
True

In [68]:
# endswith (Boolean Return)
_str = 'Hey, Welcome to the World of Programming!'
print(_str.endswith('hey')) # False
print(_str.endswith('Program')) # False
print(_str.endswith('Programming!')) # True
print(_str.endswith('!')) # True
print(_str.endswith('g!')) # True
print(_str.endswith('ing!',-4)) # True
print(_str.endswith('ing!')) # True
print(_str.endswith('ing!',-3)) # False

False
False
True
True
True
True
True
False

In [69]:
# .count() -> 'substring' -> count the substring
_str = "This is a Python Course!"
print(_str.count('is'))

2

In [70]:
print('is' in _str)

True