In [2]:
print("Hello EveryOne!")

Hello EveryOne!

Welcome To the Python Course!

# Python Programming
#### Let's Learn Together , Grow Together!!
1. Learn Faster!
2. Grow Faster
- It is a programming Language.
    - It's a high level language.
        - Easy To understand. (Human Readable)
- Handles Large Dataset.
- Python is a case-sensitive language
- It's an interpreter language
- Rich in Libraries
- Amazing Support from the community
- Its an platform independent. -> .py

# Java
int x = 10
System.out.println(x)

In [15]:
# Python
x = 10
print(x)
print(type(x))

10
<class 'int'>

In [16]:
x = "Coding Ninja"
print(x)
print(type(x))

Coding Ninja
<class 'str'>

In [17]:
x = 'k'
print(x)
print(type(x))

k
<class 'str'>

In [18]:
x = int('10') + 1
print(x)
print(type(x))

11
<class 'int'>

In [19]:
x = 10.5
print(x)
print(type(x))

10.5
<class 'float'>

In [20]:
x = 9 + 6j
print(x)
print(type(x))

(9+6j)
<class 'complex'>

In [22]:
# parameters "\n" by default
print("Python")
print("Programming")

Python
Programming

In [24]:
print("Python" , end = " ")
print("Programming")
print("Coding is Awesome ðŸ”¥")

Python Programming
Coding is Awesome ðŸ”¥

In [25]:
# seperator -> concat_ws
print("Mon","Tues","Weds","Thurs","Fri")

Mon Tues Weds Thurs Fri

In [26]:
print("Mon","Tues","Weds","Thurs","Fri" , sep = " - ")

Mon - Tues - Weds - Thurs - Fri

#### Input() 
- Used to accept user input from the keyboard as a string, which can be further type cast as per the requirement.

In [2]:
user_input = input("Enter the user_name: ")
print(user_input)

Enter the user_name:  Venom

Venom

In [3]:
user_input = input("Enter the gaming_name: ")
print(user_input)

Enter the gaming_name:  DaddyDamage

DaddyDamage

In [5]:
val = input("Enter the value: ")
print(val)
print(type(val))

Enter the value:  10

10
<class 'str'>

In [6]:
val = int(input("Enter the value: "))
print(val)
print(type(val))

Enter the value:  11

11
<class 'int'>

In [7]:
print(val * 5)

55

In [10]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10
print(x)

Enter the value between 1-100 :  75

85

In [25]:
x = int(input("Enter the value between 1-100 : "))
x = x + 10 # '75' + 10 - TypeError: can only concatenate str (not "int") to str
print(x)

Enter the value between 1-100 :  66

76

In [29]:
x = str(x)
print(x)
print(type(x))

76
<class 'str'>

In [30]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print("Hey " + user_name + " Welcome to the Python Course, You being registered with " + email + " :)")

Enter the username:  utkarshdev
Enter your personal mail:  utkarssh@gmail.com

Hey utkarshdev Welcome to the Python Course, You being registered with utkarssh@gmail.com :)

In [31]:
# String Pattern
user_name = input("Enter the username: ")
email = input("Enter your personal mail: ")
print(f"Hey {user_name} Welcome to the Python Course, You being registered with {email} :)")

Enter the username:  iaarifpathan
Enter your personal mail:  iaarifpathan@gmail.com

Hey iaarifpathan Welcome to the Python Course, You being registered with iaarifpathan@gmail.com :)

- Single Line Comments - #
- Multi Line Comments - '''

In [32]:
# This is a single line comment
print("Python Programming")

Python Programming

In [36]:
'''
    This is a multiline comments....
    Put some important stuff here relevant to 
    your python program
'''
num1 = int(input("Enter the first value: "))
num2 = int(input("Enter the second value: "))
result = num1 * num2
print("The final result is " , result)
print(f"The final result is {result + 10}")

Enter the first value:  10
Enter the second value:  5

The final result is  50
The final result is 60

In [37]:
fav_car = input("Enter your Dream Car: ")
print("My Dream Car is : " + fav_car)

Enter your Dream Car:  Defender

My Dream Car is : Defender

In [38]:
# Indentation:
z = 15
if z > 10: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

z is greater than 10
Outside the if statement

In [39]:
# Indentation:
z = 15
if z > 20: # Boolean Value[True/False]
    print("z is greater than 10")
print("Outside the if statement")

Outside the if statement

# Variables : What & Why?
#### Variables acts as an container for storing data, They help with:
- Storing Data
- Manipulating Values
- Reusability
- Improving the Readibility 
    -  total_sum >> ts
    -  compound_interest >> c_i
    -  age
    -  finding_prod_sum >> finding_the_product_and_sum >> p_s

In [40]:
# Declaring and assigning variables:
val = 99
user_name = "UltimateForce"
print(val)
print(user_name)

99
UltimateForce

In [43]:
a,b,c = 10,20,30
print(a)
print(b)
print(c)

10
20
30

In [48]:
a,b,*c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
20
<class 'int'>
[30, 40, 50]
<class 'list'>

In [56]:
a,*b,c = 10,20,30,40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 40]
<class 'list'>
50
<class 'int'>

In [57]:
a,*b,c = 10,20,30,'a','b',40,50
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))

10
<class 'int'>
[20, 30, 'a', 'b', 40]
<class 'list'>
50
<class 'int'>

In [58]:
p=q=r=s= "Ninjas"
print(p)
print(q)
print(r)
print(s)

Ninjas
Ninjas
Ninjas
Ninjas

## Rules for naming a "Variables"
- Can include letters, digits and underscore
- Must start with a letter or underscore
- case-sensitive
    - val != Val
    - num != nuM
    - digit != Digit
- Can't use Python Keywords
    - for, input, while, print, if, elif, tuple, list, set, dict, true, false
- Can't have spaces or special characters (except _)
- Variable name can't start with numbers.

In [3]:
my_first_variable = "Python"
print(my_first_variable)

Python

In [2]:
_var = "Coding"
print(_var)

Coding

In [6]:
# String -> Escape Character
print("Hi, I'm good, What about you?")
print('Hi, I\'m good, What about you?')

Hi, I'm good, What about you?
Hi, I'm good, What about you?

In [7]:
print("an \"apple\" a day keeps a doctor away")

an "apple" a day keeps a doctor away

In [12]:
print("Hi Everyone! Welcome to the course")

Hi Everyone! Welcome to the course

In [15]:
# Multiline String -> <pre> tag in HTML [Markup Language]
print("""
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    
    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

""")

    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise
    Tu Paas Hai Mere Paas Hai Aise
    Mera Koi Ehsaas Hai Jaise

    Haye Main Mar Hi Jaaun
    Jo Tujhko Na Paaun
    Baaton Mein Teri Main
    Raatein Bitaun

In [20]:
# Escape characters "\n"[Next line] & "\t"[tab space]
print("Hey: What's your name: \t 'Aditya Verma'")
print("Hello\nWorld")
print("x", end=" ")
print("y", end=" ")
print("z", end="\n")
print("Welcome Back!")

Hey: What's your name: 	 'Aditya Verma'
Hello
World
x y z
Welcome Back!

In [21]:
# type -> conversion()
x = 10.0
print(type(x))

<class 'float'>

In [22]:
num1 = 99.99
print(int(num1))

99

In [23]:
x = 55
y = str(x)
print(y)
print(type(y))

55
<class 'str'>

In [24]:
_bool = True
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

1
<class 'bool'>
<class 'int'>

In [25]:
_bool = False
int_bool = int(_bool)
print(int_bool)
print(type(_bool))
print(type(int_bool))

0
<class 'bool'>
<class 'int'>

# What are Operators?
#### Operators are tools in programming used to perform actions like arithmetic, comparisons, assignments, logical evaluations, etc.

### Types of Operators in Python:
1. Arithmetic Operators

2. Comparison Operators

3. Logical Operators

4. Bitwise Operators

5. Assignment Operators

6. Membership Operators

7. Identity Operators

### Arithmetic Operators:
- '+' Addition
- '-' Subtraction
- '*' Multiplication
- '/' Division (floating)
- '%' Modulus (remainder)
- '**' Exponentiation
- '//' Floor Division

In [1]:
x = 11
y = 7
z = 15
print(x+y) # 18 'One 8' [Virat Kohli]
print(x-y) # 4
print(x*y) # 77 ['Shubman Gill']
print(x/y) # 1.57....
print(x%y) # 4
print(z%y) # 1
print(z%x) # 4
print(x ** 2) # 121
print(x // 2) # 5

18
4
77
1.5714285714285714
4
1
4
121
5

In [2]:
print(x ** y)

19487171

# You can't do addition with 2 different data type
x = '10' + 11 # TypeError: can only concatenate str (not "int") to str
print(x)

### Comparison Operators (Return Boolean Result):
- '==' Equal to
- '!=' Not Equal to
- '>' Greater Than
- '>=' Greater Than or  Equal to
- '<' Less Than
- '<=' Less Than or Equal to

In [5]:
x = 11
y = 7
z = 15
print(x==y) # False
print(x!=y) # True
print(z!=y) # True
print(z!=15) # False
print(x>y) # True
print(x>=y) # True
print(z<=y) # False
print(z<x)  # False
print(x != 2) # True
print(x >= 2) # True

False
True
True
False
True
True
False
False
True
True

#### Logical Operators:
- and : 'Return True' if both the conditions are True
- or : 'Return False' if both the conditions are False
- not : Return the opposite.

In [6]:
x = 11
y = 7
z = 15
print((x==y)and(z!=y)or(y>x)) # False
print((x!=y)or(z!=y)or(y>x)) # True
print((x>=y)and(z==y)and(z>x)) # False
print(not(z!=15)) # True
print(not((x<=y)and(z>=y)or(y!=x))) # False

False
True
False
True
False

In [7]:
print(not(x<=y)and(z>=y)or(y!=x)) # True

True

In [8]:
print(not(x<=y)or(z<=y)and(y!=x)) # (T or F and T) # (T or F) # T

True

### Bitwise Operators:
- 'AND' = '&' -> 'Both bit with value 1 return 1 else 0'
- 'OR' = '|' -> 'Any bit with value 1 return 1 else 0'
- 'XOR' = '^' -> 'Alternative Bits return 1 else same bits returns 0'
- 'NOT' = '~' -> '2s Complement to check the sign and evaluate'
- 'Left Shift' = '<<' -> 'Shift bits to the left'
- 'Right Shift' = '>>' -> 'Shift bits to the right'

In [9]:
x = 10
y = 6
print(x & y) # 2

2

In [10]:
x = 10
y = 6
print(x | y) # 14

14

In [12]:
x = 10
y = 6
print(x ^ y) # 12

12

In [13]:
x = 10 
print(~x)

-11

In [14]:
x = 7 
print(~x)

-8

In [16]:
x = -17 
print(~x)

16

In [17]:
x = 10
print(x<<2)

40

In [18]:
x = 10
print(x>>2)

2